<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12" style="MIN-WIDTH: 400PX;">
        <div class="discover-full-div-discover">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>LỢI&nbsp;THẾ&nbsp;CẠNH&nbsp;TRANH&nbsp;KHI&nbsp;SỬ&nbsp;DỤNG&nbsp;SIMPLE&nbsp;FACEBOOK</span>
                </div>
                <div class="row col-md-12 col-lg-12 discover-full-content-content">

                    <div class="col-lg-6 discover-div-discover-one">
                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Quét&nbsp;Khách&nbsp;Hàng&nbsp;Mục&nbsp;Tiêu</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Quét UID bạn bè của tài khoản bất kỳ.</p>
                                    <p>Quét danh sách theo dõi (follow) của tài khoản bất kỳ.</p>
                                    <p>Quét UID theo like một bài viết bất kỳ trên page/group/profile.</p>
                                    <p>Quét danh sách bạn bè đề xuất.</p>
                                    <p>Quét danh sách theo SĐT nhập lên.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Quản&nbsp;Lý&nbsp;PROFILE</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Quản lý danh sách bạn bè dễ dàng, huỷ full bạn bè hay huỷ theo đối tượng tuỳ
                                        chọn.</p>
                                    <p>Quản lý danh sách gửi yêu cầu kết bạn, chấp nhận full lời mời tự động.</p>
                                    <p>Quản lý danh sách đã gửi, huỷ full những yêu cầu đã gửi.</p>
                                    <p>Quản lý thông tin chi tiết về địa điểm, giới tính, độ tuổi, tên,... của bạn
                                        bè.</p>
                                    <p>Quản lý inbox nhiều tài khoản tập trung trên phần mềm hỗ trợ.</p>
                                    <p>Quản lý danh sách bạn bè trùng giữa các tài khoản và hủy bạn trùng.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Tạo&nbsp;Tương&nbsp;Tác&nbsp;Với&nbsp;Bạn&nbsp;Bè</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Tính năng chúc mừng sinh nhật.</p>
                                    <p>Tính năng chọc ghẹo bạn bè tự động</p>
                                    <p>Tính năng nhắn tin tự động theo UID và bạn bè</p>
                                    <p>Tính năng ĐỘC QUYỀN lọc hủy bạn bè với những ai không tương tác theo thời gian
                                        tùy chỉnh.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 discover-div-discover-two">
                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Kết&nbsp;Bạn&nbsp;Tự&nbsp;Động</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Kết bạn tự động với đối tượng đã quét nhanh chóng. Tuỳ chỉnh tốc độ, số lượng gửi
                                        kết bạn..</p>
                                    <p>Chạy song song nhiều tài khoản cùng lúc.</p>
                                    <p>Chấp nhận những lượt gửi yêu cầu kết bạn tự động.</p>
                                    <p>Gửi kết bạn full 1000 lượt/ngày với nick có độ trust cao.</p>
                                    <p>Huỷ được danh sách đã gửi khi đạt maximum 1000 lượt requests.</p>
                                    <p>Đạt 5000 bạn bè với nhiều tài khoản 1 cách nhanh chóng.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Tin&nbsp;Nhắn&nbsp;Tự&nbsp;Động&nbsp;Fanpage</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Quản lý danh sách đã từng inbox với Fanpage.</p>
                                    <p>Gửi tin nhắn CSKH qua Fanpage.</p>
                                    <p>Lọc theo thời gian bắt đầu và kết thúc tùy chỉnh.</p>
                                    <p>Spin nội dung, chào cá nhân hóa đối tượng để chống chặn spam.</p>
                                    <p>Không giới hạn số lượng, fanpage quản lý.</p>
                                    <p>Tăng cao tỷ lệ mua hàng trở lại, upsell lên nhiều lần.</p>
                                    <p>Quét ra các UID đã inbox để kết bạn trên profile chăm sóc.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Tính&nbsp;Năng&nbsp;Nâng&nbsp;Cao&nbsp;Khác</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Mời full bạn bè trong trang cá nhân xem LIVE STREAM...</p>
                                    <p>Quét và xuất danh sách SĐT, Email của bạn bè</p>
                                    <p>Đăng nhập bằng cookie để chống check point.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>