<!-- &nbsp; -->
<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12" style="MIN-WIDTH: 400PX;">
        <div class="discover-full-div-discover ">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>LỢI&nbsp;THẾ&nbsp;CẠNH&nbsp;TRANH&nbsp;KHI&nbsp;SỬ&nbsp;DỤNG&nbsp;SIMPLE&nbsp;INSTAGRAM</span>
                </div>
                <div class="row col-md-12 col-lg-12 discover-full-content-content">

                    <div class="col-lg-6 discover-div-discover-one">
                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Tính Năng&nbsp;Tìm&nbsp;Kiếm&nbsp;</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Tìm kiếm theo địa điểm.</p>
                                    <p>Tìm kiếm theo #hashtag.</p>
                                    <p>Tìm kiếm theo Like, Comment.</p>
                                    <p>Tìm kiếm theo tên, post id, username….</p>
                                    <p>Tìm kiếm theo danh sách những người đã Follow/Following một tài khoản bất
                                        kỳ.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Tính&nbsp;Năng&nbsp;Hủy&nbsp;Follow</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Hủy khi đạt giới hạn 7000 nghìn lượt follow</p>
                                    <p>Hủy follow theo danh sách cực kỳ đơn giản.</p>
                                    <p>Hủy follow theo tệp đã định sẵn trước</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 discover-div-discover-two">
                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Tính Năng&nbsp;Gửi&nbsp;Follow</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Chạy nhiều tài khoản cùng lúc.</p>
                                    <p>Follow tự động cho đối tượng đã quét.</p>
                                    <p>Lưu trữ, lọc trùng, xóa danh sách dễ dàng.</p>
                                    <p>Follow theo list SĐT nhập lên (CSKH đa kênh).</p>
                                    <p>Quét được danh sách follow & following của bất cứ ai.</p>
                                    <p>Quét được danh sách người followers & following theo user..</p>
                                    <p>Quản lý tất cả danh sách người đã follow, đang follow 1 cách dễ dàng.</p>
                                    <p>Hỗ trợ gửi follow theo list đến hàng nghìn khách hàng tiềm năng mỗi ngày.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
