.book {
    padding: 0
}

.book-background {
    min-width: 631px;
    transform: rotate(0deg);
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
    min-height: 75px;
}

.book-title {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    height: 60px;
    min-width: 422px;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.img-pdf {
    -webkit-user-drag: none;
    opacity: 1;
    margin: 4px 0 0 1px;
    height: 50px;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 55px;
    transform: scaleX(1);
}

.text-button-download , .text-button-view {
    line-height: 1.5;
    transform: rotate(0deg);
    padding: 5px;
    margin: 0;
    overflow-wrap: break-word;


    overflow: hidden;
    user-select: none;
    font-family: "Source Sans Pro",sans-serif;
    text-align: center;
    font-size: 10px;
    letter-spacing: normal;
    pointer-events: all;
}

.text-button-view {
    color: rgb(255, 255, 255);
}

.text-button-download {
    color: rgb(0, 116, 241);
}