<div style="overflow: auto;height: calc(100vh - 60px);">
    <div class="container" style="margin-top: 15px">
        <div class="row book-background">
            <div class="col-10">
                <div style="position: absolute;transform: rotate(0deg); box-sizing: border-box; padding:0; margin: 5px 0 5px 0; background: rgb(255, 255, 255);  width: 61px; height: 61px; border: 1px dashed rgb(199, 230, 255); border-radius: 5px; box-shadow: none; pointer-events: all;">
                    <img alt=""
                         src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C3fa241b3b034292b2a18155159a98779/projects/M35e29d3d4adfa377430adc9e589188fd1577106183175/images/Mc3c041745518408108fea08196340ccc1577618297898"
                         class="img-pdf">
                </div>

                <div style="float: left;padding-left: 75px;margin-top: 5px">
                    <span style="font-weight: 700;">HƯỚNG DẪN SỬ DỤNG PHẦN MỀM SIMPLE FACEBOOK CHI TIẾT TỪ A-Z.pdf</span>
                </div>
            </div>

            <div class="col-2">
                <div style="float: left;width: 2px;height: 90%;margin-top: 2px;margin-bottom:2px;background-color: rgb(199, 230, 255);border-radius: 1px"></div>
                <div style="float: right">


                    <div (click)="clickViewPDF1()" class="text-button-view-background">
                        <span class="text-button-view">Xem</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
