#outer-div-menu-horizontal {
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
    min-width: 480px;
    height: 60px;
    position: fixed;
}

#community-tab {
    display: block;
    background-color: rgb(244, 247, 252);
    width: calc(100% - 240px);
    position: absolute;
    margin-top: 60px;
    height: 100%;
}

.div-community-full {
    overflow: auto;
    height: calc(100% - 60px);
}

.div-community-full::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

.div-community-full::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.div-community-full::-webkit-scrollbar-thumb:hover {
    background-color: #4e555b;
    /* border:1px solid #333333;*/
}

.div-community-full::-webkit-scrollbar-thumb:active {
    /*  background-color:#666666;*/
    /*   border:1px solid #333333;*/
}

.div-community-full::-webkit-scrollbar-track {
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.channel-support {
    padding: 0
}

.channel-support-background {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: calc(100% - 20px);
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.channel-support-title {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    height: 56px;
    min-width: 422px;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.channel-support-content {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    min-height: 259px;
    min-width: 422px;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.channel-support-title-icon {
    width: calc(100% - 15px);
    height: 25px;
    left: 15px;
    top: 15px;
    position: absolute;
}

.channel-support-title-icon-background {
    background-color: #0062cc;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 15px;
}

.channel-support-title-icon-svg {
    transform: scaleX(1);
    position: absolute;
    height: 18px;
    margin-top: 0;
}

.switchboard {
    position: fixed;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -35%);
}

.network-operator {
    line-height: 2.5;
    position: absolute;
    transform: rotate(0deg);
    padding: 5px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(158, 158, 158);
    font-family: 'lato-bold', sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
    letter-spacing: normal;
    pointer-events: all;
}

.number-phone {
    margin-left: 80px;
    margin-top: 0;
    transform: rotate(0deg);
    padding: 5px 0 0 0;
    overflow-wrap: break-word;
    color: rgb(0, 116, 241);
    font-family: 'lato-bold', sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 15px;
    letter-spacing: normal;
    pointer-events: all;
}

.many-channel-support {
    position: fixed;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 60%);
}

.register-to-buy {
    position: absolute;
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    width: 121px;
    height: 121px;
    border: 1px solid rgb(199, 230, 255);
    border-radius: 10px;
    box-shadow: none;
}

.register-to-buy-photo,
.fanpage-support-photo,
.youtube-channel-photo {
    margin: 15px 40px;
    pointer-events: all;
    transform: rotate(0deg);
    text-align: center;
    width: 40px;
    height: 40px;
    opacity: 1;
    filter: none;
}

.register-to-buy-photo-img,
.fanpage-support-photo-img,
.youtube-channel-photo-img {
    -webkit-user-drag: none;
    position: absolute;
    opacity: 1;
    height: 40px;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 40px;
    transform: scaleX(1);
}

.register-to-buy-button,
.fanpage-support-button,
.youtube-channel-button {
    cursor: pointer;
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 5px 0 0 23px;
    background: rgb(199, 230, 255);
    position: absolute;
    width: 75px;
    height: 25px;
    border: 0 solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: none;
    pointer-events: all;
}

.register-to-buy-button-content,
.fanpage-support-button-content,
.youtube-channel-button-content {
    line-height: 1;
    transform: rotate(0deg);
    padding: 7px 0 0 7px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(0, 116, 241);
    font-family: 'lato-bold', sans-serif;
    width: 72px;
    height: 20px;
    overflow: hidden;
    text-align: left;
    font-size: 10px;
    letter-spacing: normal
}

.fanpage-support {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin-left: 150px;
    position: absolute;
    background: rgb(255, 255, 255);
    width: 121px;
    height: 121px;
    border: 1px solid rgb(199, 230, 255);
    border-radius: 10px;
    box-shadow: none;
}

.youtube-channel {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 300px;
    background: rgb(255, 255, 255);
    width: 121px;
    height: 121px;
    border: 1px solid rgb(199, 230, 255);
    border-radius: 10px;
    box-shadow: none;
    pointer-events: all;
}

/*---Begin CSS support-community----*/

.support-community {
    height: 50%;
    background-color: #80bdff;
    padding: 0
}

.support-community-background {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    background: rgb(255, 255, 255);
    width: calc(100%);
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.support-community-title {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all
}

.support-community-content {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 259px;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.support-community-content-background {
    margin: 40px 0 0 0;
    transform: rotate(0deg);
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    box-shadow: none;
    pointer-events: all;
}

.group-photo {
    text-align: center;
}

.group-photo-img {
    width: 100%;
    transform: scaleX(1);
    border-radius: 10px 10px 0 0;
}

.group-name {
    border-right: 1px solid rgb(158, 158, 158);
    border-left: 1px solid rgb(158, 158, 158);
    line-height: 1.5;
    min-height: 46px;
    transform: rotate(0deg);
    padding: 5px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: 'lato-bold', sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    pointer-events: all;
}

.number-of-people-in-the-group {
    border-right: 1px solid rgb(158, 158, 158);
    border-left: 1px solid rgb(158, 158, 158);
    line-height: 1.5;
    transform: rotate(0deg);
    padding: 5px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(117, 117, 117);
    font-family: 'lato-bold', sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    pointer-events: all;
}

.join-group {
    transform: rotate(0deg);
    font-size: 12px;
    box-sizing: border-box;
    line-height: 2.6;
    background: rgb(237, 22, 59);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'lato-bold', sans-serif;
    border-image: initial;
    border-radius: 0 0 10px 10px;
    box-shadow: none;
    pointer-events: all;
    border: 1px solid rgb(158, 158, 158);
}

/*CSS Dự án triển khai*/

.project-implementation {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: calc(100%);
    height: 100%;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.project-implementation-title {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    height: 56px;
    min-width: 422px;
    border-bottom: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.project-implementation-content1 {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.logo {
    -webkit-user-drag: none; opacity: 0.1; border-radius: 0px; width: 90px; transform: scaleX(1)
}

.logo-active {
    opacity: 1 !important;
}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 992px) {
    .support-community {
        margin-top: 20px;
    }

    .channel-support-background {
        width: 100%;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .support-community {
        margin-top: 20px;
    }

    .support-community-background {
        width: 100%;
        margin: 0 !important;
    }

    .channel-support-background {
        width: 100%;
        margin: 0 !important;
    }

    .support-community-content {
        height: auto !important;
        padding-bottom: 20px !important;
    }
}

@media only screen and (max-width: 665px) {

    .channel-support-background,
    .channel-support-content,
    .channel-support-title,
    .support-community-background,
    .support-community-content,
    .support-community-title,
    .project-implementation-title,
    .project-implementation {
        min-width: 422px !important;
    }

    .support-community-content {
        height: auto !important;
        padding-bottom: 20px !important;
    }

    .group-name {
        min-height: 0 !important;
    }
}

@media only screen and (max-width: 625px) {
    .switchboard {
        padding-top: 30px !important;
        position: inherit !important;
        top: 0 !important;
        left: 0 !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    .many-channel-support {
        padding-top: 20px !important;
        position: inherit !important;
        top: 0 !important;
        left: 0 !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
}

/*
=-*/
.lstImgLogo > div > .wrapper-item > a > img:hover {
    opacity: 0.5 !important;
}

.tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    padding:30px 25px;
}


.wrapper-item{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    cursor: pointer;
}

.wrapper-item > a {
    cursor: pointer;
}
.lstImgLogo {
    overflow: auto;
    white-space: nowrap;
    border-bottom: 1px solid rgb(224, 224, 224);;
}

.lstImgLogo::-webkit-scrollbar{
    width:3px;
    height: 4px;
}

.lstImgLogo::-webkit-scrollbar-thumb{
    background-color:#ccc;
    border-radius: 5px;
}

.lstImgLogo::-webkit-scrollbar-thumb:hover{
    background-color:#ccc;
    /* border:1px solid #333333;*/
}
.lstImgLogo::-webkit-scrollbar-thumb:active{
    background-color:#ccc;
    /*   border:1px solid #333333;*/
}
.lstImgLogo::-webkit-scrollbar-track{
    background-color:rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.arrow-down {
    display: block;
    width: 0;
    position: absolute;
    background: red;
    border: 10px solid rgb(255, 255, 255);
    margin: 9px 0 0px 30px;
    border-top-width: 0;
    border-top-color: transparent;
    border-bottom-color: rgb(244, 247, 252);
}


/*------------------*/
.project-implementation-content2 {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 12px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 116, 241);
    border-radius: 0;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px
}

.text-company-1 {
    line-height: 1;
    transform: rotate(0deg);
    padding: 0;
    margin: 15px 0 0 0;
    overflow-wrap: break-word;
    color: rgb(92, 106, 196);
    font-family: 'lato-bold',sans-serif;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    letter-spacing: normal;
}

.logo-company-1 {
    text-align: center;
    pointer-events: all;
    transform: rotate(0deg);
    opacity: 1;
    filter: none;
}

.logo-company-1-img {
    -webkit-user-drag: none;
    opacity: 1;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 200px;
    transform: scaleX(1)
}

.div-address-svg {
    position: absolute;
    margin-top: 5px;
    pointer-events: all;
    transform: rotate(0deg);
    text-align: center;
    width: 20px;
    height: 20px;
    opacity: 1;
    filter: none;
}

.address-company-1 {
    line-height: 1.5;
    transform: rotate(0deg);
    margin: 2px 0 0 25px;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
}

.web-company-1 {
    padding: 0 0 10px 0;
    line-height: 1.5;
    transform: rotate(0deg);
    margin: 11px 0 0 28px;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
}


.content-2 {
    line-height: 1.5;
    transform: rotate(0deg);
    /* padding: 5px; */
    margin: 10px 0 0 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.Center-Container {
    position: relative;
    height: 100%;
}

.inputContact {
    width: 263px;
    margin-left: 44px;
    border: none;
    border-bottom: solid 1px gainsboro;
    margin-bottom: 15px;
}

.formContactNow {
    margin-left: 10px;
    margin-top: 28px;
}

.formRight {
    width: 370px;
    height: 350px;
    margin-left: 241px;
    float: left;
}

.formLeft {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 370px;
    position: absolute;
    width: 241px;
    float: left;
    background-color: #0c6fff;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
