<div id="outer-div-menu-horizontal"></div>

<div id="community-tab">
    <div class="div-community-full">
        <div class="col-lg-12" style="padding: 0; margin: 20px 0 0 0;">
            <div class="row" style="margin: 0">
                <div class="col-lg-7 channel-support">
                    <div class="channel-support-background">
                        <div class="channel-support-title">
                            <div class="channel-support-title-icon">
                                <div class="channel-support-title-icon-background">
                                    <div class="channel-support-title-icon-svg">
                                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
                                             height="100%" style="margin-top: -2px;" viewBox="0 0 50 50"
                                             xml:space="preserve" fill="rgb(255,255,255)">
                                            <path d="M44,18h-0.028C43.751-0.001,42.296,0,41,0c-1.603,0-2.58,1.549-3.934,3.694C34.396,7.922,29.93,15,17,15
                                                    c-0.009,0-0.017,0.005-0.027,0.005H6.308c-3.475,0-6.303,2.801-6.303,6.245v3.5c0,2.417,1.396,4.513,3.429,5.551
                                                    c0.016,0.013,0.024,0.031,0.041,0.043c2.025,1.429,3.93,11.404,4.647,15.16c0.166,0.864,0.668,3.494,4.036,3.494h3.474
                                                    c2.11,0,3.37-1.296,3.37-3.468c0-1.9-0.772-2.768-2.032-4.027c-0.373-0.373-1.83-3.393-1.957-10.509h1.958
                                                    C16.981,30.994,16.99,31,17,31c12.981,0,17.231,6.788,20.044,11.28c1.352,2.159,2.329,3.72,4.038,3.72c1.322,0,2.686,0.002,2.892-18
                                                    H44c2.757,0,5-2.243,5-5S46.757,18,44,18z M1.995,21.25c0-2.347,1.935-4.255,4.313-4.255h9.697v12.011h-1.976
                                                    C14.019,29.006,14.01,29,14,29s-0.019,0.006-0.029,0.006H6.308c-2.378,0-4.313-1.909-4.313-4.256V21.25z M15.556,42.918
                                                    c1.172,1.171,1.446,1.553,1.446,2.612c0,1.223-0.524,1.468-1.37,1.468h-3.474c-1.297,0-1.8-0.454-2.071-1.869
                                                    c-1.391-7.282-2.525-11.661-3.735-14.135h6.659C13.129,37.544,14.384,41.747,15.556,42.918z M40.812,43.947
                                                    c-0.536-0.274-1.348-1.57-2.072-2.728c-2.791-4.458-7.442-11.826-20.745-12.186V16.966c13.249-0.362,17.945-7.739,20.762-12.204
                                                    c0.694-1.1,1.467-2.324,1.99-2.667C41.164,3.049,42,6.971,42,23C42,39.048,41.244,43.001,40.812,43.947z M44,26h-0.009
                                                    C43.997,25.046,44,24.047,44,23s-0.003-2.046-0.01-3H44c1.654,0,3,1.346,3,3S45.654,26,44,26z"
                                                  fill="rgb(255,255,255)">
                                            </path>
                                        </svg>
                                    </div>
                                    <div style="float:left;line-height: 1; transform: rotate(0deg); padding: 5px; margin: 2px 0 0 25px;; overflow-wrap: break-word; color: rgb(117, 117, 117); font-family: Lato; width: 213px; height: 23px; overflow: hidden; user-select: none; text-align: left; font-size: 14px; letter-spacing: normal; ; pointer-events: all;">
                                        <span style="font-weight: bold;">Kênh Hỗ Trợ</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="channel-support-content">

                            <div class="switchboard">
                                <div style="position: absolute;transform: rotate(0deg); box-sizing: border-box; padding: 0px; margin: 0 0 0 0; background: rgb(255, 255, 255); width: 171px; height: 71px; border: 1px dashed rgb(0, 116, 241); border-radius: 5px; box-shadow: none;  pointer-events: all;">
                                    <div style="line-height: 1; transform: rotate(0deg); padding: 10px 0 0 15px; margin: 0px; overflow-wrap: break-word; color: rgb(158, 158, 158); font-family: 'lato-bold',sans-serif; position: absolute; overflow: hidden; user-select: none; text-align: left; font-size: 11px; letter-spacing: normal; pointer-events: all;">
                                        <p>TỔNG ĐÀI ATPSOFTWARE</p>
                                    </div>
                                    <div style="line-height: 1; transform: rotate(0deg); padding: 35px 0 0 50px; margin: 0px; overflow-wrap: break-word; color: rgb(0, 116, 241); font-family: 'lato-bold',sans-serif; position: absolute;overflow: hidden; user-select: none; text-align: left; font-size: 15px; letter-spacing: normal; pointer-events: all;">
                                        <p>1800 0096</p>
                                    </div>
                                </div>
                                <div style="margin-left: 189px;">
                                    <div style="transform: rotate(0deg); box-sizing: border-box; padding: 0; margin: 0 0 4px 0; background: rgb(255, 255, 255); width: 190px; height: 30px; border: 1px none rgb(0, 116, 241); border-radius: 5px; box-shadow: rgb(51, 51, 51) 0px 5px 5px -5px; z-index: 99; pointer-events: all;">
                                        <div class="network-operator"><p>VIETTEL</p></div>
                                        <div class="number-phone"><p>0967.9999.11</p></div>
                                    </div>
                                    <div style="transform: rotate(0deg); box-sizing: border-box; padding: 0; margin: 0 0 4px 0; background: rgb(255, 255, 255); width: 190px; height: 30px; border: 1px none rgb(0, 116, 241); border-radius: 5px; box-shadow: rgb(51, 51, 51) 0px 5px 5px -5px; z-index: 99; pointer-events: all;">
                                        <div class="network-operator"><p>MOBIPHONE</p></div>
                                        <div class="number-phone"><p>0931.9999.11</p></div>
                                    </div>
                                </div>
                            </div>

                            <div class="many-channel-support">
                                <div class="register-to-buy">
                                    <div class="register-to-buy-photo">
                                        <img class="register-to-buy-photo-img" alt="register-to-buy-photo-img"
                                             src="assets/IMAGE/icon/register-to-buy-photo-img.png">
                                        <canvas width="40" height="40"
                                                style="display: none; -webkit-transform: translateZ(0); text-align: center;width:40px; height:40px; top: 0px; left:0px; ">
                                        </canvas>
                                        <span style=" display: none; padding-left: 5px; padding-right: 5px;  overflow: hidden; white-space: nowrap; text-align: center; font-weight: bold; -webkit-transform: translateZ(0); width:40px; height:40px; line-height:40px;  top:0; left:0;">
                                            </span>
                                    </div>

                                    <div class="register-to-buy-button" (click)="clickSendContact()">
                                        <div class="register-to-buy-button-content">Đăng Ký Mua</div>
                                    </div>
                                </div>
                                <div class="fanpage-support">
                                    <div class="fanpage-support-photo">
                                        <img class="fanpage-support-photo-img" alt="fanpage-support-photo-photo-img"
                                             src="assets/IMAGE/icon/fanpage-support-photo-photo-img.png">
                                        <canvas width="40" height="40"
                                                style="display: none; -webkit-transform: translateZ(0); text-align: center;width:40px; height:40px; top: 0px; left:0px; ">
                                        </canvas>
                                        <span style=" display: none; padding-left: 5px; padding-right: 5px;  overflow: hidden; white-space: nowrap; text-align: center; font-weight: bold; -webkit-transform: translateZ(0); width:40px; height:40px; line-height:40px;  top:0; left:0;">
                                            </span>
                                    </div>

                                    <div class="fanpage-support-button" style="width: 84px; margin: 5px 0 0 18px" (click)="clickFanPage()">
                                        <div class="fanpage-support-button-content" style="width: 84px;">Fanpage Hỗ
                                            Trợ
                                        </div>
                                    </div>
                                </div>
                                <div class="youtube-channel" >
                                    <div class="youtube-channel-photo">
                                        <img class="youtube-channel-photo-img" alt="youtube-channel-photo-img"
                                             src="assets/IMAGE/icon/youtube-channel-photo-img.png">
                                        <canvas width="40" height="40"
                                                style="display: none; -webkit-transform: translateZ(0); text-align: center;width:40px; height:40px; top: 0px; left:0px; ">
                                        </canvas>
                                        <span style=" display: none; padding-left: 5px; padding-right: 5px;  overflow: hidden; white-space: nowrap; text-align: center; font-weight: bold; -webkit-transform: translateZ(0); width:40px; height:40px; line-height:40px;  top:0; left:0;">
                                            </span>
                                    </div>

                                    <div class="youtube-channel-button" (click)="clickYoutube()">
                                        <div class="youtube-channel-button-content">Kênh Youtube</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 support-community">
                    <div class="support-community-background">
                        <div class="support-community-title">
                            <div class="channel-support-title-icon">
                                <div class="channel-support-title-icon-background">
                                    <div class="channel-support-title-icon-svg">

                                    </div>
                                    <div style="float:left;line-height: 1; transform: rotate(0deg); padding: 5px; margin: 2px 0 0 25px;; overflow-wrap: break-word; color: rgb(117, 117, 117); font-family: Lato; width: 213px; height: 23px; overflow: hidden; user-select: none; text-align: left; font-size: 14px; letter-spacing: normal; ; pointer-events: all;">
                                        <span style="font-weight: bold;">Cộng đồng hỗ Trợ</span></div>
                                </div>
                            </div>
                        </div>

                        <div class="support-community-content">
                            <div class="row col-md-12 col-lg-12" style="padding: 0; margin: 0;">
                                <div class="col-md-6 col-lg-6">
                                    <div class="support-community-content-background">
                                        <div class="group-photo">
                                            <img class="group-photo-img" alt="ATP Support"
                                                 src="assets/IMAGE/group/Group_Photo_ATP_Support.jpg">
                                        </div>
                                        <div class="group-name">ATP Support - Tư vấn và hỗ trợ khách hàng</div>
                                        <div class="number-of-people-in-the-group">112k thành viên</div>
                                        <div class="join-group" style="cursor: pointer" (click)="clickJoinGroup('https://www.facebook.com/plugins/group/join/popup/?group_id=1252281458177067&source=email_campaign_plugin')">
                                            Tham Gia Nhóm
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="support-community-content-background">
                                        <div class="group-photo">
                                            <img class="group-photo-img" alt="ATP-Web"
                                                 src="assets/IMAGE/group/Group_Photo_ATP_Web.png">
                                        </div>
                                        <div class="group-name">Cộng đồng ATP - WEB</div>
                                        <div class="number-of-people-in-the-group">112k thành viên</div>
                                        <div class="join-group" style="cursor: pointer" (click)="clickJoinGroup('https://www.facebook.com/plugins/group/join/popup/?group_id=290883808092699&source=email_campaign_plugin')">
                                            Tham Gia Nhóm
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12" style="padding: 0; margin: 20px 0 0 0;">
            <div class="project-implementation">
                <div class="project-implementation-title">
                    <div class="channel-support-title-icon">
                        <div class="channel-support-title-icon-background">
                            <div class="channel-support-title-icon-svg">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
                                     height="100%" style="margin-top: -2px;" viewBox="0 0 50 50"
                                     xml:space="preserve" fill="rgb(255,255,255)">
                                            <path d="M44,18h-0.028C43.751-0.001,42.296,0,41,0c-1.603,0-2.58,1.549-3.934,3.694C34.396,7.922,29.93,15,17,15
                                                    c-0.009,0-0.017,0.005-0.027,0.005H6.308c-3.475,0-6.303,2.801-6.303,6.245v3.5c0,2.417,1.396,4.513,3.429,5.551
                                                    c0.016,0.013,0.024,0.031,0.041,0.043c2.025,1.429,3.93,11.404,4.647,15.16c0.166,0.864,0.668,3.494,4.036,3.494h3.474
                                                    c2.11,0,3.37-1.296,3.37-3.468c0-1.9-0.772-2.768-2.032-4.027c-0.373-0.373-1.83-3.393-1.957-10.509h1.958
                                                    C16.981,30.994,16.99,31,17,31c12.981,0,17.231,6.788,20.044,11.28c1.352,2.159,2.329,3.72,4.038,3.72c1.322,0,2.686,0.002,2.892-18
                                                    H44c2.757,0,5-2.243,5-5S46.757,18,44,18z M1.995,21.25c0-2.347,1.935-4.255,4.313-4.255h9.697v12.011h-1.976
                                                    C14.019,29.006,14.01,29,14,29s-0.019,0.006-0.029,0.006H6.308c-2.378,0-4.313-1.909-4.313-4.256V21.25z M15.556,42.918
                                                    c1.172,1.171,1.446,1.553,1.446,2.612c0,1.223-0.524,1.468-1.37,1.468h-3.474c-1.297,0-1.8-0.454-2.071-1.869
                                                    c-1.391-7.282-2.525-11.661-3.735-14.135h6.659C13.129,37.544,14.384,41.747,15.556,42.918z M40.812,43.947
                                                    c-0.536-0.274-1.348-1.57-2.072-2.728c-2.791-4.458-7.442-11.826-20.745-12.186V16.966c13.249-0.362,17.945-7.739,20.762-12.204
                                                    c0.694-1.1,1.467-2.324,1.99-2.667C41.164,3.049,42,6.971,42,23C42,39.048,41.244,43.001,40.812,43.947z M44,26h-0.009
                                                    C43.997,25.046,44,24.047,44,23s-0.003-2.046-0.01-3H44c1.654,0,3,1.346,3,3S45.654,26,44,26z"
                                                  fill="rgb(255,255,255)">
                                            </path>
                                        </svg>
                            </div>
                            <div style="float:left;line-height: 1; transform: rotate(0deg); padding: 5px; margin: 2px 0 0 25px;; overflow-wrap: break-word; color: rgb(117, 117, 117); font-family: Lato; width: 213px; height: 23px; overflow: hidden; user-select: none; text-align: left; font-size: 14px; letter-spacing: normal; ; pointer-events: all;">
                                <span style="font-weight: bold;">Dự Án Triển Khai</span></div>
                        </div>
                    </div>
                </div>

                <div class="project-implementation-content1">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 " style="width: 100%;">
                                <div class="lstImgLogo">
                                    <div>
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="ATP_SOFTWARE" class="logo" id="{{ATP_SOFTWARE.code}}"
                                                     (click)="clickLogo(ATP_SOFTWARE.code)"
                                                     src="{{ATP_SOFTWARE.url_img}}">
                                            </a>
                                            <!--<span class="arrow-down"></span>-->
                                        </div>
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="ATP_ACADEMY" class="logo" id="{{ATP_ACADEMY.code}}"
                                                     (click)="clickLogo(ATP_ACADEMY.code)"
                                                     src="{{ATP_ACADEMY.url_img}}">
                                            </a>
                                        </div>
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="ATP_WEB" class="logo" id="{{ATP_WEB.code}}"
                                                     (click)="clickLogo(ATP_WEB.code)" src="{{ATP_WEB.url_img}}">
                                            </a>
                                        </div>
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="CV_COM_VN" class="logo" id="{{CV_COM_VN.code}}"
                                                     (click)="clickLogo(CV_COM_VN.code)" src="{{CV_COM_VN.url_img}}">
                                            </a>
                                        </div>
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="ATP_CARE" class="logo" id="{{ATP_CARE.code}}"
                                                     (click)="clickLogo(ATP_CARE.code)" src="{{ATP_CARE.url_img}}">
                                            </a>
                                        </div>
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="ATP_LAND" class="logo" id="{{ATP_LAND.code}}"
                                                     (click)="clickLogo(ATP_LAND.code)" src="{{ATP_LAND.url_img}}">
                                            </a>
                                        </div>
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="ATP_MEDIA" class="logo" id="{{ATP_MEDIA.code}}"
                                                     (click)="clickLogo(ATP_MEDIA.code)" src="{{ATP_MEDIA.url_img}}">
                                            </a>
                                        </div>
                                        <!-- <div class="wrapper-item">
                                            <a>
                                                <img alt="VOZ_VN" class="logo" id="{{VOZ_VN.code}}"
                                                     (click)="clickLogo(VOZ_VN.code)" src="{{VOZ_VN.url_img}}">
                                            </a>
                                        </div> -->
                                        <div class="wrapper-item">
                                            <a>
                                                <img alt="WINERP" class="logo" id="{{WINERP.code}}"
                                                     (click)="clickLogo(WINERP.code)" src="{{WINERP.url_img}}">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="background-color: rgb(244, 247, 252);">
                    <div [ngSwitch]="logo">

                        <div *ngSwitchCase="ATP_SOFTWARE.code">
                            <app-logo-atp-software [ATP_SOFTWARE]="ATP_SOFTWARE"></app-logo-atp-software>
                        </div>

                        <div *ngSwitchCase="ATP_ACADEMY.code">
                            <app-logo-atp-academy [ATP_ACADEMY]="ATP_ACADEMY"></app-logo-atp-academy>
                        </div>

                        <div *ngSwitchCase="ATP_WEB.code">
                            <app-logo-atp-web [ATP_WEB]="ATP_WEB"></app-logo-atp-web>
                        </div>

                        <div *ngSwitchCase="CV_COM_VN.code">
                            <app-logo-cv-com-vn [CV_COM_VN]="CV_COM_VN"></app-logo-cv-com-vn>
                        </div>

                        <div *ngSwitchCase="ATP_CARE.code">
                            <app-logo-atp-care [ATP_CARE]="ATP_CARE"></app-logo-atp-care>
                        </div>

                        <div *ngSwitchCase="ATP_LAND.code">
                            <app-logo-atp-land [ATP_LAND]="ATP_LAND"></app-logo-atp-land>
                        </div>

                        <div *ngSwitchCase="ATP_MEDIA.code">
                            <app-logo-atp-media [ATP_MEDIA]="ATP_MEDIA"></app-logo-atp-media>
                        </div>

                        <!-- <div *ngSwitchCase="VOZ_VN.code">
                            <app-logo-voz-vn [VOZ_VN]="VOZ_VN"></app-logo-voz-vn>
                        </div> -->

                        <div *ngSwitchCase="WINERP.code">
                            <app-logo-win-erp [WINREP]="WINERP"></app-logo-win-erp>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="formContactKH" role="dialog">
    <div class="modal-dialog">
        <div style="width: 623px;height: 400px;border-radius: 20px;" class="modal-content">
            <div class="formLeft" style="height: 400px;">
                <img style="width: 192px;padding: 0px;margin-left: 10%;margin-top: 21%;"
                     src="assets/IMAGE/ATP_Software_auto.jpg">
                <img style="width: 176px;margin-left: 13%;margin-top: 6%;" src="assets/IMAGE/services.jpg">
            </div>
            <div class="formRight" style="height: 400px;">
                <h4 style="padding: 15px;">Đăng ký nhận hỗ trợ từ ATP Software</h4>
                <p style="font-size: 11px;margin-left: 20px;">(Anh/chị vui lòng nhập đúng định dạng số điện thoại đang sử dụng)</p>
                <div class="formContactNow" style="margin-top: -5px;">
                    <input class="inputContact" placeholder="Họ và tên" [(ngModel)]="nameKH" type="text"
                           id="nameCustomers">
                    <input class="inputContact" placeholder="Số điện thoại" [(ngModel)]="phoneKH" type="text"
                           id="phoneCustomers">
                    <input type="date" data-date="" data-date-format="DD/MM/YYYY" [(ngModel)]="dateKH" id="inputDate" value="00-00-0000">
                

                    <div style="text-align: center; margin-top: 20px" class="form-group">
                        <button style="border-radius: 20px;" type="button" class="btn btn-primary" [disabled]="disabled"
                                (click)="onButtonSendContact(chooseTypeMenuDiscover)">Gửi thông tin
                        </button>
                    </div>
                </div>
                <p style="margin-top: 22px;padding-left: 10px;color: white;border-radius: 0 0 15px 0px;background-color: #828282;width: 380px;">Nhân viên ATP sẽ liên lạc hỗ trợ anh/chị trong ít phút nữa</p>
            </div>

        </div>
    </div>
</div>


