<!-- &nbsp; -->
<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12" style="MIN-WIDTH: 400PX;">
        <div class="discover-full-div-discover ">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>LỢI&nbsp;THẾ&nbsp;CẠNH&nbsp;TRANH&nbsp;KHI&nbsp;SỬ&nbsp;DỤNG&nbsp;SIMPLE&nbsp;ACCOUNT</span>
                </div>

                <div class="row col-md-12 col-lg-12 discover-full-content-content">

                    <div class="col-lg-6 discover-div-discover-one">
                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Chức Năng&nbsp;Đặt&nbsp;Lịch&nbsp;</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Đặt lịch tự động comment tương tác.</p>
                                    <p>Đặt lịch tự động đăng bài nhiều nick</p>
                                    <p>Đặt lịch tự động like</p>
                                    <p>Đặt lịch tự động tham gia nhóm</p>
                                    <p>Đặt lịch tự động đăng bài lên nhóm</p>
                                    <p>Đặt lịch tự động clone bài viết</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Auto&nbsp;Tương&nbsp;Tác&nbsp;Bình&nbsp;Luận</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Soạn nội dung, kịch bản muốn comment tương tác</p>
                                    <p>Tùy chỉnh được bình luận tương tác theo ngẫu nhiên danh sách bạn bè hoặc
                                        Newsfeed.</p>
                                    <p>Tùy chỉnh được số lượng bài post trên Newsfeed cần tương tác.</p>
                                    <p>Đặt lịch tự động tương tác theo thời gian đã định sẵn.</p>
                                    <p>Theo dõi được lịch sử và thống kê hoạt động bình luận theo từng nick.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Đặt&nbsp;Lịch&nbsp;Đăng&nbsp;Bài</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Không giới hạn thời gian thời gian đặt lịch, bạn có thể đặt lịch đăng bài cho cả
                                        tháng.</p>
                                    <p>Tùy chỉnh được bài viết đăng theo thứ tự hoặc đăng ngẫu nhiên theo kho nội dung
                                        đã soạn sẵn.</p>
                                    <p>Cho phép đặt khoản nghĩ giữa 2 lần đăng bài với nhau ( Hạn chế bị Facebook báo
                                        spam bài viết hoặc khóa tính năng )</p>
                                    <p>Cho phép clone bài viết</p>
                                    <p>Theo dõi được lịch sử và thống kê hoạt động bình luận theo từng nick.</p>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-6 discover-div-discover-two">
                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Auto&nbsp;Bot&nbsp;Cảm&nbsp;Xúc</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Tùy chỉnh tự động tương tác theo ngẫu nhiên danh sách bạn bè.</p>
                                    <p>Tùy chỉnh được số lượng bài viết cần được like trên newfeeds.</p>
                                    <p>Tùy chỉnh được loại like</p>
                                    <p>Đặt lịch tự động loại bot cảm xúc: like, thả tim, haha, wow, buồn, phẩn nộ hoặc
                                        ngẫu nhiên ...</p>
                                    <p>Đặt lịch được thời gian tương tác.</p>
                                    <p>Theo dõi được lịch sử tương tác.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Xây&nbsp;Dưng&nbsp;Kho&nbsp;Nội&nbsp;Dung&nbsp;Bài&nbsp;Viết</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Tùy chỉnh phương thức đăng bài viết lên Facebook: Đăng trực tiếp hoặc share link
                                        bài viết.</p>
                                    <p>Bài viết được đính kèm hình ảnh.</p>
                                    <p>Tạo thư viện bài viết không hạn chế.</p>
                                    <p>Bài viết trong thư viện có thể quản lý: xem lại hoặc xóa</p>
                                    <p>Bài viết có thêm mọi loại ký tự hoặc icon mà Facebook hỗ trợ.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Clone&nbsp;Bài&nbsp;Viết</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Cho phép chọn nick Facebook cần clone bài viết.</p>
                                    <p>Cho phép chọn số lượng bài viết cần clone</p>
                                    <p>Cho phép chọn khoảng thời gian để bắt đầu follow theo nick chỉ định để clone bài
                                        viết.</p>
                                    <p>Cho phép clone và đăng trực tiếp bài viết lên tường.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
