<div id="outer-div-menu-horizontal"></div>

<div id="license-tab">
    <div class="div-license-full">
        <!-- div-license-warn -->
        <div class="row" style="margin: 0 !important; padding: 15px 10px 0 15px !important;">
            <div class="col div-license-warn">
                <div class="div-license-warn-background" style="border: 1px dashed rgb(195, 0, 0);">
                    <div style="float: left;position: absolute"></div>
                    <div class="div-license-warn-svg" style="width: 80px">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             x="0px" y="0px" width="100%" height="100%"
                             viewBox="0 0 50 50" style="transform: scaleX(1);" xml:space="preserve"
                             fill="rgb(253,145,145)">
                      <g> <path d="M26.2,20.1h-2.3c-0.3,0-0.4,0.2-0.4,0.4v13.4c0,0.3,0.2,0.4,0.4,0.4v0.1h2.3c0.3,0,0.4-0.2,0.4-0.4V20.5
                              C26.6,20.2,26.4,20.1,26.2,20.1z" fill="rgb(253,145,145)"></path>
                          <path d="M23.8,16.2h2.4c0.3,0,0.4-0.2,0.4-0.4v-2.6c0-0.3-0.2-0.4-0.4-0.4h-2.4c-0.3,0-0.4,0.2-0.4,0.4v2.6
                              C23.4,16.1,23.6,16.2,23.8,16.2z" fill="rgb(253,145,145)"></path>
                          <path d="M25,1C11.215,1,0,10.959,0,23.2c0,5.915,2.573,11.443,7.262,15.635c-0.866,2.561-3.089,4.32-4.744,5.63
                              c-1.516,1.199-2.611,2.066-2.284,3.293l0.107,0.401l0.36,0.208c0.907,0.521,2.121,0.785,3.609,0.785
                              c4.946,0,12.062-2.841,15.195-4.206c1.781,0.372,3.55,0.554,5.395,0.554c13.786,0,25-9.959,25-22.2C49.9,11.003,38.73,1,25,1z
                               M24.9,43.5c-1.809,0-3.537-0.188-5.283-0.576l-0.32-0.07l-0.3,0.132c-2.216,0.978-9.823,4.167-14.686,4.167
                              c-0.653,0-1.222-0.058-1.701-0.173c0.33-0.298,0.78-0.654,1.149-0.946c1.889-1.495,4.744-3.754,5.612-7.295l0.147-0.601l-0.472-0.4
                              C4.502,33.885,2,28.722,2,23.2C2,12.062,12.318,3,25,3c12.627,0,22.9,9.106,22.9,20.3C47.9,34.438,37.582,43.5,24.9,43.5z"
                                fill="rgb(253,145,145)"></path>
                      </g>
                  </svg>
                    </div>
                    <div class="div-license-warn-body">
                        <div class="div-license-warn-body-content">
                            <div style="line-height: 1.9;">
                                Họ tên khách hàng: <input style="width: 300px;    line-height: 1.5;"
                                                          [(ngModel)]="nameATP" type="text">
                            </div>

                            <div style="line-height: 1.9;margin-top: 5px">
                                Số điện thoại: <input style="width: 300px; margin-left: 30px;   line-height: 1.5;"
                                                      [(ngModel)]="phoneATP" type="text">
                            </div>
                            <div style="line-height: 1.9;margin-top: 5px">
                                Mail: <input style="width: 300px;  margin-left: 78px ; line-height: 1.5;"
                                             [(ngModel)]="emailATP" type="text">
                            </div>
                            <div style="margin-top: 5px;margin-left: 108px">
                                <div class="custom-control custom-radio custom-control-inline" style="cursor: pointer">
                                    <input (click)="clickGender('female')" type="radio" class="custom-control-input"
                                           id="female" name="female" mdbInput>
                                    <label class="custom-control-label" for="female" style="line-height: 2.1">Nữ</label>
                                </div>

                                <div class="custom-control custom-radio custom-control-inline" style="cursor: pointer">
                                    <input (click)="clickGender('male')" type="radio" class="custom-control-input"
                                           id="male" name="male" mdbInput>
                                    <label class="custom-control-label" for="male" style="line-height: 2.1">Nam</label>
                                </div>
                            </div>

                            <div style="line-height: 1.9;">
                                <label style="float: left;line-height: 1.9;">Ghi chú:</label> <textarea
                                    style="margin-left: 61px ;word-break: break-word;overflow: auto;width: 443px; line-height: 1.5;"
                                    [(ngModel)]="noteATP" rows="3"></textarea>
                            </div>

                        </div>
                    </div>
                    <div class="div-license-lock-svg">
                        <svg class="svg-lock" version="1.0" xmlns="http://www.w3.org/2000/svg"
                             x="0px" y="0px" width="100%" height="100%"
                             viewBox="0 0 50 50" style="transform: scaleX(1);" xml:space="preserve"
                             fill="rgb(108,116,119)">
                        <g>
                            <path d="M46,20h-3v-6c0-6.065-4.935-11-11-11S21,7.935,21,14v6h-3c-1.654,0-3,1.346-3,3v22c0,1.654,1.346,3,3,3h28
                                c1.654,0,3-1.346,3-3V23C49,21.346,47.654,20,46,20z M23,14c0-4.962,4.037-9,9-9s9,4.038,9,9v6H23V14z M47,45c0,0.552-0.448,1-1,1
                                H18c-0.551,0-1-0.448-1-1V23c0-0.551,0.449-1,1-1h28c0.552,0,1,0.449,1,1V45z"
                                  fill="rgb(108,116,119)"></path>
                            <path d="M32,29c-1.657,0-3,1.343-3,3c0,0.885,0.391,1.673,1,2.222V37c0,1.104,0.896,2,2,2s2-0.896,2-2v-2.778
                                c0.609-0.549,1-1.337,1-2.222C35,30.343,33.657,29,32,29z" fill="rgb(108,116,119)"></path>
                        </g>
                        </svg>
                    </div>
                    <div class="div-license-button-save">
                        <button (click)="saveInfoLicense()" style="background: none;color: black;" type="button"
                                class="btn btn-success btn-xs">Lưu
                        </button>
                    </div>
                </div>
            </div>
        </div> <!--end div-license-warn -->

        <div style="height: 60px" class="title-information-detail"><strong>Thông tin chi tiết:
        </strong>
            <button style="float: right;margin-right: 15px" type="button" class="btn btn-link btn-sm" (click)="copyAllKeyToClipboard()">Sao chép toàn bộ key
            </button>
        </div>

        <!-- Fixed header table-->
        <div class="table-responsive" style="margin: 0 0 0 15px;width: calc(100% - 15px);">
            <table class="table table-fixed" style="margin-bottom: 0rem;">
                <thead>
                <tr style="font-family: Lato, sans-serif;font-size: 12px;">
                    <th scope="col" class="col-4" style="border: 0;">Tên phần mềm :</th>
                    <th scope="col" class="col-4" style="border: 0">Tính trạng :</th>
                    <th scope="col" class="col-4" style="border: 0">Key :
                    </th>
                </tr>

                </thead>
                <tbody>
                <tr *ngFor="let item of lstMapProductRender | keyvalue">
                    <div *ngIf="item.value.productKey !== 'ATP SPLITTER' && item.value.typeTool !== 'WEB' && item.value.productKey !== 'SIMPLE_SEEDING' && item.value.productKey !== 'SIMPLE_UID' && item.value.productKey !== 'ATP_SEO' && item.value.productKey !== 'SIMPLE_ADS'&& item.value.productKey !== 'GIA_LAP'&& item.value.productKey !== 'TEAM_VIEW' && item.value.productKey !== 'ULTRA_VIEW'">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 div-license-app">
                                <div class="div-license-app-background">
                                    <div class="row">
                                        <div class="table-license-name-soft-ware">
                                            <div class="table-license-name-soft-ware-content">
                                                <div>
                                                    {{item.value.productName === "SimpleMarketPlace" ? "Simple Marketplace": item.value.productName}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-license-status">
                                            <div class="table-license-status-content">
                                                <div>
                                                    {{
                                                    item.value.status === 0 ? "Chưa có" :
                                                        item.value.status === 1 ? "Đang tải" :
                                                            item.value.status === 2 ? "Chưa cài đặt" :
                                                                item.value.status === 3 ? item.value.status === 4 ? 'Hết Hạn' : item.value.statusDateView :
                                                                    item.value.status === 4 ? "Hết Hạn" :
                                                                        item.value.status === 5 ? item.value.statusDateView : "" }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-license-order">
                                            <div class="table-license-status-content">
                                                <div>
                                                    {{item.value.keySoft}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div><!-- End -->
    </div>

</div>
