#outer-div-menu-horizontal {
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 0.1px solid #ccc;
    min-width: 480px;
    height: 60px;
    position: fixed;
    z-index: 99;
}

#license-tab {
    display: block;
    background-color: rgb(244, 247, 252);
    width: calc(100% - 240px);
    position: absolute;
    margin-top: 60px;
    height: 100%;
}

.div-license-full {
    overflow: auto;
    height: calc(100% - 60px);
}

.div-license-full::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

.div-license-full::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189, 0.4);
}

.div-license-full::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189, 1);
}

.div-license-full::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189, 1);
}

.div-license-full::-webkit-scrollbar-track {

}



textarea::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189, 0.4);
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189, 1);
}

textarea::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189, 1);
}

textarea::-webkit-scrollbar-track {

}

.div-license-warn {
    padding: 0;
    margin-bottom: 11px !important;
}

.div-license-warn-background {
    box-sizing: border-box;
    padding: 0;
    background: rgb(255, 255, 255);
    width: calc(100% - 5px);
    min-width: 345px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px;
    pointer-events: all;
    transform: translate(0%, 0%);
    min-height: calc(100% + 0px);
}

.div-license-warn-svg {
    margin: 20px 20px 0 24px;
    width: 100px;
    height: 100%;
    float: left;
}

.div-icon-warn {
    float: left;
    margin: 18px;
    width: 80px;
    height: 80px;
}

.div-license-warn-body {
    height: auto;
    line-height: 1.6;
    transform: rotate(0deg);
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: Lato, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
    float: left;
}

.div-license-warn-body-content {
    line-height: 1.5;
    transform: rotate(0deg);
    padding: 5px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    width: auto;
    height: auto;
    overflow: hidden;
    font-family: Source Sans Pro, sans-serif;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    z-index: 11;
    pointer-events: all;
}

.div-license-lock-svg {
    float: right;
    width: 25px;
    height: 25px;
    right: 0;
    top: 0;
    position: absolute;
}

.div-license-button-save {
    float: right;
    margin-right: -1px;
    margin-top: 154px;
}

.svg-lock {
    margin-left: -5px;
    margin-top: 5px;
}

.title-information-detail {
    height: 26px;
    line-height: 1;
    transform: rotate(0deg);
    padding: 5px 0 0 0;
    margin: 0 0 0 15px;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: Lato, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    letter-spacing: normal;
    z-index: 57;
    pointer-events: all;
}

.table-license {
    min-width: 650px;
    margin: 10px 0 0 15px;
}

.table-license-title {
    width: calc(100% / 3);
    line-height: 1;
    transform: rotate(0deg);
    padding: 10px 0 0 15px;;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: Lato, sans-serif;
    font-size: 12px;
    overflow: hidden;
    text-align: left;
    letter-spacing: normal;
}

.table-license-body {
    font-family: 'Arimo-Regular', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 17px;
    color: rgb(2, 140, 251);
    text-align: left;
}

.table-license-status-content {
    margin: 15px 15px 15px 20px;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: Lato, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
}

.div-license-app {
    padding: 0;
    margin-bottom: 11px !important;
}

.div-license-app-background {
    margin: 0 0 0 15px;
    box-sizing: border-box;
    padding: 0;
    background: rgb(255, 255, 255);
    width: calc(100% - 40px);
    border-radius: 5px;
    pointer-events: all;
    transform: translate(0%, 0%);
    min-height: calc(100% + 0px);
    border: 1px solid rgb(2, 140, 251);
    min-width: 650px;
}

.table-license-name-soft-ware {
    width: calc(100% / 3);
}

.table-license-status {
    width: calc(100% / 3);
}

.table-license-order {
    width: calc(100% / 3);
}

.table-license-name-soft-ware-content {
    margin: 15px 15px 15px 30px;
    font-family: 'Arimo-Regular', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 17px;
    color: rgb(2, 140, 251);
    text-align: left;
}

.not-yet-loaded {
    color: red;
}

.table-fixed tbody {
    height: calc(100vh - 355px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}


.table-fixed tbody::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

.table-fixed tbody::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189, 0.4);
}

.table-fixed tbody::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189, 1);
}

.table-fixed tbody::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189, 1);
}

.table-fixed tbody::-webkit-scrollbar-track {

}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;

&
::after {
    content: '';
    clear: both;
    display: block;
}

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

textarea::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189, 0.4);
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189, 1);
}

textarea::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189, 1);
}

textarea::-webkit-scrollbar-track {

}
