<!-- &nbsp; -->
<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12" style="MIN-WIDTH: 400PX;">
        <div class="discover-full-div-discover">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>LỢI&nbsp;THẾ&nbsp;CẠNH&nbsp;TRANH&nbsp;KHI&nbsp;SỬ&nbsp;DỤNG&nbsp;AUTOVIRAL&nbsp;CONTENT</span>
                </div>

                <div class="row col-md-12 col-lg-12 discover-full-content-content">
                    <div style="margin: 24px 20px 0 30px;">
                        <p>Tìm kiếm nội dung hot trend từ các kênh Youtube, Facebook, Fanpage</p>
                        <p>Quản lý, lưu trữ nội dụng hot trend đơn giản, dễ dàng quản lý.</p>
                        <p>Phần mềm đơn giản, dễ dàng sử dụng ngay cả với người không rành máy tính</p>
                        <p>Đăng bài tự động cho hàng chục fanpage, đăt lịch đăng bài cả tháng mà không cần treo máy</p>
                    </div>

                    <div class="col-lg-6 discover-div-discover-one">
                        <div class="discover-div-discover discover-div-discover-the-first">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Xây&nbsp;Dựng&nbsp;Fanpage&nbsp;Vệ&nbsp;Tinh</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Lúc trước bạn còn ngần ngại xây dựng nhiều fanpage, bây giờ xây dựng 10 fanpage
                                        cũng chỉ tốn thời gian như 1 fanpage.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tạo&nbsp;Lợi&nbsp;Thế&nbsp;Cạnh&nbsp;Tranh</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Tiếp cận khách hàng gấp 10 lần khi xây dựng nhiều Fanpage vệ tinh.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 div-discover-two">
                        <div class="discover-div-discover discover-div-discover-the-first">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tìm&nbsp;Kiếm&nbsp;Nội&nbsp;Dung&nbsp;Hot&nbsp;Trend</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Không còn phải đau đầu khi tìm kiếm nội dung, bây giờ đã có Auto Viral Content
                                        giúp bạn giải quyết những vấn đề đó.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tối&nbsp;Ưu&nbsp;Hóa&nbsp;Quy&nbsp;Trình&nbsp;Nhân&nbsp;Sự</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Lúc trước, bạn phải tốn hàng tiếng đồng hồ để đăng bài mỗi ngày.. Bây giờ công
                                        việc đó chỉ gói gọn trong 15 phút.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>