<div id="outer-div-menu-horizontal">
    <ul class="menu-horizontal nav mb-3 justify-content-center" role="tablist">
        <li style="margin-right: 22px;">
<!--            <a (click)="clickBIGALLINONE()" class="active" data-toggle="pill" href="#BIG-ALL-IN-ONE" role="tab"-->
<!--               aria-controls="BIG-ALL-IN-ONE">BIG ALL IN ONE</a>-->

            <a (click)="clickBIGALLINONE()" class="active" data-toggle="pill" href="#BIG-ALL-IN-ONE" role="tab"
               aria-controls="BIG-ALL-IN-ONE">COMBO ATP </a>

        </li>
<!--        <li style="margin-right: 22px;">-->
<!--            <a (click)="clickALLINONE()" data-toggle="pill" href="#ALL-IN-ONE" role="tab"-->
<!--               aria-controls="ALL-IN-ONE" aria-selected="true">ALL IN ONE</a>-->
<!--        </li>-->
        <li style="margin-right: 22px;">
<!--            <a data-toggle="pill" href="#ALL-IN-ONE-mobile-version" role="tab" aria-controls="pills-contact"-->
<!--               aria-selected="false">ALL IN ONE (mobile version)</a>-->
            <a data-toggle="pill" href="#ALL-IN-ONE-mobile-version" role="tab" aria-controls="pills-contact"
               aria-selected="false">COMBO ATP MOBILE</a>
        </li>
        <li>
            <a data-toggle="pill" href="#APP-UTILITIES-FOR-FREE" role="tab" aria-controls="pills-contact"
               aria-selected="false">TIỆN ÍCH PHẦN MỀM</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" id="BIG-ALL-IN-ONE" role="tabpanel" aria-labelledby="BIG-ALL-IN-ONE">
        <app-big-all-in-one-child [opacityTurnOn]="clickBIGALLINONE()"></app-big-all-in-one-child>
    </div>
<!--    <div class="tab-pane fade" id="ALL-IN-ONE" role="tabpanel" aria-labelledby="ALL-IN-ONE">-->
<!--        <app-all-in-one-child [opacityTurnOn]="clickALLINONE()"></app-all-in-one-child>-->
<!--    </div>-->
    <div class="tab-pane fade" id="ALL-IN-ONE-mobile-version" role="tabpanel" aria-labelledby="ALL-IN-ONE-mobile-version">
        <app-all-in-one-mobile-version-child></app-all-in-one-mobile-version-child>
    </div>
    <div class="tab-pane fade" id="APP-UTILITIES-FOR-FREE" role="tabpanel" aria-labelledby="ALL-IN-ONE-mobile-version">
        <app-utilities-for-free></app-utilities-for-free>
    </div>

</div>
