<div class="div-product-tab">
    <div class="row col-md-12 col-lg-12 div-product">
        <div style="float: left;position: absolute"></div>
        
        <!-- SIMPLE_NINJA_PRO -->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product"
                             src="assets/IMAGE/product/simple_ninja_pro.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_NINJA_PRO}}">Simple Ninja Pro</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Simple Ninja Pro công cụ hỗ trợ đắc lực bán hàng trên nền tảng Facebook.</span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="SIMPLE_NINJA_PRO"></app-use-down-install>
            </div>
        </div>

        <!-- FACEBOOK_ATP_SYSTEM -->
        <!-- <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                    <div class="new">
                        <img style="width: 40px;" alt="new" src="assets/GIF/new.gif">
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product"
                             src="assets/IMAGE/product/box-facebook-system.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{FACEBOOK_ATP_SYSTEM}}">ATP Facebook System</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Phần mềm nuôi nick Facebook bằng máy ảo.</span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="FACEBOOK_ATP_SYSTEM"></app-use-down-install>
            </div>
        </div> -->

        <!-- SIMPLE_PAGE -->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">

                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product"
                             src="assets/IMAGE/product/simple-page.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/browser/chrome.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_PAGE}}">Simple Page</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Nền tảng Tạo Landing Page Miễn Phí! Hơn 2000 mẫu Landing Page đa lĩnh vực.</span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="SIMPLE_PAGE"></app-use-down-install>
            </div>
        </div>

        <!-- SIMPLE_SHOP -->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product"
                             src="assets/IMAGE/product/simpleshop-demo.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/browser/chrome.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_SHOP}}">Simple Shop</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Giải pháp tạo Web Shop, Tích Hợp Quản Lý Đơn hàng, Giao Vận & Thanh Toán Online.
                    </span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="SIMPLE_SHOP"></app-use-down-install>
            </div>
        </div>

        <!-- ATP_LINK -->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product"
                             src="assets/IMAGE/product/box-atplink.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/browser/chrome.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{ATP_LINK}}">ATP Link</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Công cụ tạo Bio Link miễn phí.
                    </span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="ATP_LINK"></app-use-down-install>
            </div>
        </div>

        <!-- SIMPLE_MARKETPLACE -->
        <!-- <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                    <div class="new">
                        <img style="width: 40px;" alt="new" src="assets/GIF/new.gif">
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product"
                             src="assets/IMAGE/product/simple-marketplace.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_MARKETPLACE}}">Simple Marketplace</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Giải Pháp Bán Hàng Trên Marketplace Facebook.</span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="SIMPLE_MARKETPLACE"></app-use-down-install>
            </div>
        </div> -->

        <!-- ATP_CARE -->
       <!-- <div class="product" [ngClass]="{'productHide':opacityTurnOn}">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product"
                             src="assets/IMAGE/product/simplecare.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/browser/chrome.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{ATP_CARE}}">ATP Care</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Hệ thống quản lý & Bán hàng trên Fanpage.</span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="ATP_CARE"></app-use-down-install>
            </div>
        </div>-->

        <!-- SIMPLE_LIVESTREAM -->
        <!--<div class="product" [ngClass]="{'productHide':opacityTurnOn}">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>

                    <div class="new">
                        <img style="width: 40px;" alt="new" src="assets/GIF/new.gif">
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simplelivestream.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>

                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_LIVESTREAM}}">Simple Livestream</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Phần mềm hỗ trợ livestream Facebook.</span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="SIMPLE_LIVESTREAM"></app-use-down-install>
            </div>
        </div>-->

        <!--- SIMPLE_TIKTOK -------->
        <!-- <div class="product" [ngClass]="{'productHide':opacityTurnOn}">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <img style="margin: 2px;width: 100%;height: 100%;" alt="Tiktok" src="assets/IMAGE/social/tiktok.png">
                    </div>

                    <div class="new">
                        <img style="width: 40px;" alt="new" src="assets/GIF/new.gif">
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simpletiktok.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>

            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_TIKTOK}}">Simple Tiktok</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Giải pháp bán hàng Online hiệu quả trên mạng xã hội TikTok.</span>
                </div>
                <app-use-down-install [disabled]="disbaled"  [productKey]="SIMPLE_TIKTOK"></app-use-down-install>
            </div>
        </div> -->

        <!-- SIMPLE_FACEBOOK ----->
        <!--<div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simplefacebook.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_FACEBOOK}}">Simple Facebook</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Kết bạn tự động, giúp đạt được 5000 bạn bè nhanh chóng.</span>
                </div>
                <app-use-down-install [productKey]="SIMPLE_FACEBOOK"></app-use-down-install>
            </div>
        </div>-->

        <!-- SIMPLE_FACEBOOK PRO----->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/box-simple-facebook-pro.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_FACEBOOK_PRO}}">Simple Facebook Pro</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Kết bạn tự động, giúp đạt được 5000 bạn bè nhanh chóng.</span>
                </div>
                <app-use-down-install [productKey]="SIMPLE_FACEBOOK_PRO"></app-use-down-install>
            </div>
        </div>

        <!-- SIMPLE_TIKDOWN----->
       <!-- <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg height="100%" viewBox="0 0 250 250" width="100%" xmlns="http://www.w3.org/2000/svg"><g clip-rule="evenodd" fill-rule="evenodd"><path d="M25 0h200c13.808 0 25 11.192 25 25v200c0 13.808-11.192 25-25 25H25c-13.808 0-25-11.192-25-25V25C0 11.192 11.192 0 25 0z" fill="#010101"/><path d="M156.98 230c7.607 0 13.774-6.117 13.774-13.662s-6.167-13.663-13.774-13.663h-2.075c7.607 0 13.774 6.118 13.774 13.663S162.512 230 154.905 230z" fill="#ee1d51"/><path d="M154.717 202.675h-2.075c-7.607 0-13.775 6.118-13.775 13.663S145.035 230 152.642 230h2.075c-7.608 0-13.775-6.117-13.775-13.662s6.167-13.663 13.775-13.663z" fill="#66c8cf"/><ellipse cx="154.811" cy="216.338" fill="#010101" rx="6.699" ry="6.643"/><path d="M50 196.5v6.925h8.112v26.388h8.115v-26.201h6.603l2.264-7.112zm66.415 0v6.925h8.112v26.388h8.115v-26.201h6.603l2.264-7.112zm-39.81 3.93c0-2.17 1.771-3.93 3.959-3.93 2.19 0 3.963 1.76 3.963 3.93s-1.772 3.93-3.963 3.93c-2.188-.001-3.959-1.76-3.959-3.93zm0 6.738h7.922v22.645h-7.922zM87.924 196.5v33.313h7.925v-8.608l2.453-2.248L106.037 230h8.49l-11.133-16.095 10-9.733h-9.622l-7.923 7.86V196.5zm85.47 0v33.313h7.926v-8.608l2.452-2.248L191.509 230H200l-11.133-16.095 10-9.733h-9.622l-7.925 7.86V196.5z" fill="#fff"/><path d="M161.167 81.186c10.944 7.819 24.352 12.42 38.832 12.42V65.755a39.26 39.26 0 0 1-8.155-.853v21.923c-14.479 0-27.885-4.601-38.832-12.42v56.835c0 28.432-23.06 51.479-51.505 51.479-10.613 0-20.478-3.207-28.673-8.707C82.187 183.57 95.23 189.5 109.66 189.5c28.447 0 51.508-23.047 51.508-51.48V81.186zm10.06-28.098c-5.593-6.107-9.265-14-10.06-22.726V26.78h-7.728c1.945 11.09 8.58 20.565 17.788 26.308zm-80.402 99.107a23.445 23.445 0 0 1-4.806-14.256c0-13.004 10.548-23.547 23.561-23.547a23.6 23.6 0 0 1 7.147 1.103V87.022a51.97 51.97 0 0 0-8.152-.469v22.162a23.619 23.619 0 0 0-7.15-1.103c-13.013 0-23.56 10.543-23.56 23.548 0 9.195 5.272 17.157 12.96 21.035z" fill="#ee1d52"/><path d="M153.012 74.405c10.947 7.819 24.353 12.42 38.832 12.42V64.902c-8.082-1.72-15.237-5.942-20.617-11.814-9.208-5.743-15.843-15.218-17.788-26.308H133.14v111.239c-.046 12.968-10.576 23.468-23.561 23.468-7.652 0-14.45-3.645-18.755-9.292-7.688-3.878-12.96-11.84-12.96-21.035 0-13.005 10.547-23.548 23.56-23.548 2.493 0 4.896.388 7.15 1.103V86.553c-27.945.577-50.42 23.399-50.42 51.467 0 14.011 5.597 26.713 14.68 35.993 8.195 5.5 18.06 8.707 28.673 8.707 28.445 0 51.505-23.048 51.505-51.479z" fill="#fff"/><path d="M191.844 64.902v-5.928a38.84 38.84 0 0 1-20.617-5.887 38.948 38.948 0 0 0 20.617 11.815zM153.439 26.78a39.524 39.524 0 0 1-.427-3.198V20h-28.028v111.24c-.045 12.967-10.574 23.467-23.56 23.467-3.813 0-7.412-.904-10.6-2.512 4.305 5.647 11.103 9.292 18.755 9.292 12.984 0 23.515-10.5 23.561-23.468V26.78zm-44.864 59.773v-6.311a51.97 51.97 0 0 0-7.067-.479C73.06 79.763 50 102.811 50 131.24c0 17.824 9.063 33.532 22.835 42.772-9.083-9.28-14.68-21.982-14.68-35.993 0-28.067 22.474-50.889 50.42-51.466z" fill="#69c9d0"/><path d="M154.904 230c7.607 0 13.775-6.117 13.775-13.662s-6.168-13.663-13.775-13.663h-.188c-7.607 0-13.774 6.118-13.774 13.663S147.109 230 154.716 230zm-6.792-13.662c0-3.67 3-6.643 6.7-6.643 3.697 0 6.697 2.973 6.697 6.643s-3 6.645-6.697 6.645c-3.7-.001-6.7-2.975-6.7-6.645z" fill="#fff"/></g></svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/Box-tikdown.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_TIKDOWN}}">Simple TikDown</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Công cụ giúp bạn tải video Tiktok không có logo nhanh chóng</span>
                </div>
                <app-use-down-install [productKey]="SIMPLE_TIKDOWN"></app-use-down-install>
            </div>
        </div>-->

        <!-- SIMPLE_ZALO ----->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 460.1 436.6" width="100%" height="100%"><style>.st0{fill:#fdfefe}.st1{fill:#0180c7}.st2{fill:#0172b1}.st3{fill:none;stroke:#0180c7;stroke-width:2;stroke-miterlimit:10}</style><title>logo-zalo-vector</title><path class="st0" d="M82.6 380.9c-1.8-.8-3.1-1.7-1-3.5 1.3-1 2.7-1.9 4.1-2.8 13.1-8.5 25.4-17.8 33.5-31.5 6.8-11.4 5.7-18.1-2.8-26.5C69 269.2 48.2 212.5 58.6 145.5 64.5 107.7 81.8 75 107 46.6c15.2-17.2 33.3-31.1 53.1-42.7 1.2-.7 2.9-.9 3.1-2.7-.4-1-1.1-.7-1.7-.7-33.7 0-67.4-.7-101 .2C28.3 1.7.5 26.6.6 62.3c.2 104.3 0 208.6 0 313 0 32.4 24.7 59.5 57 60.7 27.3 1.1 54.6.2 82 .1 2 .1 4 .2 6 .2H290c36 0 72 .2 108 0 33.4 0 60.5-27 60.5-60.3v-.6-58.5c0-1.4.5-2.9-.4-4.4-1.8.1-2.5 1.6-3.5 2.6-19.4 19.5-42.3 35.2-67.4 46.3-61.5 27.1-124.1 29-187.6 7.2-5.5-2-11.5-2.2-17.2-.8-8.4 2.1-16.7 4.6-25 7.1-24.4 7.6-49.3 11-74.8 6zm72.5-168.5c1.7-2.2 2.6-3.5 3.6-4.8 13.1-16.6 26.2-33.2 39.3-49.9 3.8-4.8 7.6-9.7 10-15.5 2.8-6.6-.2-12.8-7-15.2-3-.9-6.2-1.3-9.4-1.1-17.8-.1-35.7-.1-53.5 0-2.5 0-5 .3-7.4.9-5.6 1.4-9 7.1-7.6 12.8 1 3.8 4 6.8 7.8 7.7 2.4.6 4.9.9 7.4.8 10.8.1 21.7 0 32.5.1 1.2 0 2.7-.8 3.6 1-.9 1.2-1.8 2.4-2.7 3.5-15.5 19.6-30.9 39.3-46.4 58.9-3.8 4.9-5.8 10.3-3 16.3s8.5 7.1 14.3 7.5c4.6.3 9.3.1 14 .1 16.2 0 32.3.1 48.5-.1 8.6-.1 13.2-5.3 12.3-13.3-.7-6.3-5-9.6-13-9.7-14.1-.1-28.2 0-43.3 0zm116-52.6c-12.5-10.9-26.3-11.6-39.8-3.6-16.4 9.6-22.4 25.3-20.4 43.5 1.9 17 9.3 30.9 27.1 36.6 11.1 3.6 21.4 2.3 30.5-5.1 2.4-1.9 3.1-1.5 4.8.6 3.3 4.2 9 5.8 14 3.9 5-1.5 8.3-6.1 8.3-11.3.1-20 .2-40 0-60-.1-8-7.6-13.1-15.4-11.5-4.3.9-6.7 3.8-9.1 6.9zm69.3 37.1c-.4 25 20.3 43.9 46.3 41.3 23.9-2.4 39.4-20.3 38.6-45.6-.8-25-19.4-42.1-44.9-41.3-23.9.7-40.8 19.9-40 45.6zm-8.8-19.9c0-15.7.1-31.3 0-47 0-8-5.1-13-12.7-12.9-7.4.1-12.3 5.1-12.4 12.8-.1 4.7 0 9.3 0 14v79.5c0 6.2 3.8 11.6 8.8 12.9 6.9 1.9 14-2.2 15.8-9.1.3-1.2.5-2.4.4-3.7.2-15.5.1-31 .1-46.5z"/><path class="st1" d="M139.5 436.2c-27.3 0-54.7.9-82-.1-32.3-1.3-57-28.4-57-60.7 0-104.3.2-208.6 0-313C.5 26.7 28.4 1.8 60.5.9c33.6-.9 67.3-.2 101-.2.6 0 1.4-.3 1.7.7-.2 1.8-2 2-3.1 2.7-19.8 11.6-37.9 25.5-53.1 42.7-25.1 28.4-42.5 61-48.4 98.9-10.4 66.9 10.5 123.7 57.8 171.1 8.4 8.5 9.5 15.1 2.8 26.5-8.1 13.7-20.4 23-33.5 31.5-1.4.8-2.8 1.8-4.2 2.7-2.1 1.8-.8 2.7 1 3.5.4.9.9 1.7 1.5 2.5 11.5 10.2 22.4 21.1 33.7 31.5 5.3 4.9 10.6 10 15.7 15.1 2.1 1.9 5.6 2.5 6.1 6.1z"/><path class="st2" d="M139.5 436.2c-.5-3.5-4-4.1-6.1-6.2-5.1-5.2-10.4-10.2-15.7-15.1-11.3-10.4-22.2-21.3-33.7-31.5-.6-.8-1.1-1.6-1.5-2.5 25.5 5 50.4 1.6 74.9-5.9 8.3-2.5 16.6-5 25-7.1 5.7-1.5 11.7-1.2 17.2.8 63.4 21.8 126 19.8 187.6-7.2 25.1-11.1 48-26.7 67.4-46.2 1-1 1.7-2.5 3.5-2.6.9 1.4.4 2.9.4 4.4v58.5c.2 33.4-26.6 60.6-60 60.9h-.5c-36 .2-72 0-108 0H145.5c-2-.2-4-.3-6-.3z"/><path class="st1" d="M155.1 212.4c15.1 0 29.3-.1 43.4 0 7.9.1 12.2 3.4 13 9.7.9 7.9-3.7 13.2-12.3 13.3-16.2.2-32.3.1-48.5.1-4.7 0-9.3.2-14-.1-5.8-.3-11.5-1.5-14.3-7.5s-.8-11.4 3-16.3c15.4-19.6 30.9-39.3 46.4-58.9.9-1.2 1.8-2.4 2.7-3.5-1-1.7-2.4-.9-3.6-1-10.8-.1-21.7 0-32.5-.1-2.5 0-5-.3-7.4-.8-5.7-1.3-9.2-7-7.9-12.6.9-3.8 3.9-6.9 7.7-7.8 2.4-.6 4.9-.9 7.4-.9 17.8-.1 35.7-.1 53.5 0 3.2-.1 6.3.3 9.4 1.1 6.8 2.3 9.7 8.6 7 15.2-2.4 5.7-6.2 10.6-10 15.5-13.1 16.7-26.2 33.3-39.3 49.8-1.1 1.3-2.1 2.6-3.7 4.8z"/><path class="st1" d="M271.1 159.8c2.4-3.1 4.9-6 9-6.8 7.9-1.6 15.3 3.5 15.4 11.5.3 20 .2 40 0 60 0 5.2-3.4 9.8-8.3 11.3-5 1.9-10.7.4-14-3.9-1.7-2.1-2.4-2.5-4.8-.6-9.1 7.4-19.4 8.7-30.5 5.1-17.8-5.8-25.1-19.7-27.1-36.6-2.1-18.3 4-33.9 20.4-43.5 13.6-8.1 27.4-7.4 39.9 3.5zm-35.4 36.5c.2 4.4 1.6 8.6 4.2 12.1 5.4 7.2 15.7 8.7 23 3.3 1.2-.9 2.3-2 3.3-3.3 5.6-7.6 5.6-20.1 0-27.7-2.8-3.9-7.2-6.2-11.9-6.3-11-.7-18.7 7.8-18.6 21.9zM340.4 196.9c-.8-25.7 16.1-44.9 40.1-45.6 25.5-.8 44.1 16.3 44.9 41.3.8 25.3-14.7 43.2-38.6 45.6-26.1 2.6-46.8-16.3-46.4-41.3zm25.1-2.4c-.2 5 1.3 9.9 4.3 14 5.5 7.2 15.8 8.6 23 3 1.1-.8 2-1.8 2.9-2.8 5.8-7.6 5.8-20.4.1-28-2.8-3.8-7.2-6.2-11.9-6.3-10.8-.6-18.4 7.6-18.4 20.1zM331.6 177c0 15.5.1 31 0 46.5.1 7.1-5.5 13-12.6 13.2-1.2 0-2.5-.1-3.7-.4-5-1.3-8.8-6.6-8.8-12.9v-79.5c0-4.7-.1-9.3 0-14 .1-7.7 5-12.7 12.4-12.7 7.6-.1 12.7 4.9 12.7 12.9.1 15.6 0 31.3 0 46.9z"/><path class="st0" d="M235.7 196.3c-.1-14.1 7.6-22.6 18.5-22 4.7.2 9.1 2.5 11.9 6.4 5.6 7.5 5.6 20.1 0 27.7-5.4 7.2-15.7 8.7-23 3.3-1.2-.9-2.3-2-3.3-3.3-2.5-3.5-3.9-7.7-4.1-12.1zM365.5 194.5c0-12.4 7.6-20.7 18.4-20.1 4.7.1 9.1 2.5 11.9 6.3 5.7 7.6 5.7 20.5-.1 28-5.6 7.1-16 8.3-23.1 2.7-1.1-.8-2-1.8-2.8-2.9-3-4.1-4.4-9-4.3-14z"/><path class="st3" d="M66 1h328.1c35.9 0 65 29.1 65 65v303c0 35.9-29.1 65-65 65H66c-35.9 0-65-29.1-65-65V66C1 30.1 30.1 1 66 1z"/></svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simplezalo.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_ZALO}}">Simple Zalo</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Marketing Online hơn 80 triệu người trên mạng xã hội Zalo.</span>
                </div>
                <app-use-down-install [productKey]="SIMPLE_ZALO"></app-use-down-install>
            </div>
        </div>

        <!-- AUTOVIRAL_CONTENT ------------- -->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simple-auto-viral-content.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{AUTOVIRAL_CONTENT}}">Auto Viral Content</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Công cụ tìm kiếm nội dung, tăng tương tác mạnh mẽ cho Fanpage.</span>
                </div>
                <app-use-down-install [productKey]="AUTOVIRAL_CONTENT"></app-use-down-install>
            </div>
        </div>

<!--        <div class="product">-->
<!--            <div class="background-product">-->
<!--                <div class="product-social">-->
<!--                    <div class="img-facebook">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"-->
<!--                             fill="rgb(65,103,178)" style="transform: scaleX(1);">-->
<!--                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"-->
<!--                                  fill="rgb(65,103,178)">-->
<!--                            </path>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="product-product">-->
<!--                    <div class="product-product-div-img">-->
<!--                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simple_fanpage.png">-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="product-os">-->
<!--                    <div class="product-os-div img-2">-->
<!--                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/browser/chrome.png">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="background-content">-->
<!--                <div class="content-title">-->
<!--                    <span class="content-title{{SIMPLE_FANPAGE}}">Simple FanPage</span>-->
<!--                </div>-->
<!--                <div class="content-content">-->
<!--                    <span style="vertical-align: sub;">Phần mềm hỗ trợ tra cứu số điện thoại Khách Hàng trên Fanpage, Group & Profile</span>-->
<!--                </div>-->
<!--                <app-use-down-install [productKey]="SIMPLE_FANPAGE"></app-use-down-install>-->
<!--            </div>-->
<!--        </div>-->

        <!--- SIMPLE_ADS -->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simpleads.png">
                    </div>

                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_ADS}}">Simple Ads</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Simple Ads giải pháp hỗ trợ chạy quảng cáo theo UID Facebook.</span>
                </div>
                <app-use-down-install [productKey]="SIMPLE_ADS"></app-use-down-install>
            </div>
        </div>

        <!--- SIMPLE_UID -->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                        <div class="free">FREE</div>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simpleuid.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_UID}}">Simple UID</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Quét UID từ mọi ngóc ngách Facebook hoàn toàn miễn phí.</span>
                </div>
                <app-use-down-install [productKey]="SIMPLE_UID"></app-use-down-install>
            </div>
        </div>
        
        <!-- SIMPLE_SEEDING --------------------->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/simpleseeding.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{SIMPLE_SEEDING}}">Simple Seeding</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Phần mềm Seeding bài viết tự động miễn phí, hỗ trợ tăng like, comment, hack like trên Facebook.</span>
                </div>
                <app-use-down-install [productKey]="SIMPLE_SEEDING"></app-use-down-install>
            </div>
        </div>

        <!-- ATP SEO --------------------->
        <div class="product">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);visibility: hidden">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>
                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/ATP-SEO.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-1">
                        <img class="img-os-mac" alt="img-os-mac" src="assets/IMAGE/os/mac.png">
                    </div>

                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{ATP_SEO}}">ATP Seo</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Phần mềm hỗ trợ tăng traffic website miễn phí.</span>
                </div>
                <app-use-down-install [productKey]="ATP_SEO"></app-use-down-install>
            </div>
        </div>

        <!-- CRM_PROFILE --------------------->
        <!-- <div class="product" [ngClass]="{'productHide':opacityTurnOn}">
            <div class="background-product">
                <div class="product-social">
                    <div class="img-facebook">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="100%" width="100%"
                             fill="rgb(65,103,178)" style="transform: scaleX(1);">
                            <path d="M448 80v352c0 26.5-21.5 48-48 48h-85.3V302.8h60.6l8.7-67.6h-69.3V192c0-19.6 5.4-32.9 33.5-32.9H384V98.7c-6.2-.8-27.4-2.7-52.2-2.7-51.6 0-87 31.5-87 89.4v49.9H184v67.6h60.9V480H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48z"
                                  fill="rgb(65,103,178)">
                            </path>
                        </svg>
                    </div>
                </div>

                <div class="product-product">
                    <div class="product-product-div-img">
                        <img class="img-product" alt="img-product" src="assets/IMAGE/product/crmprofile.png">
                    </div>
                </div>

                <div class="product-os">
                    <div class="product-os-div img-2">
                        <img class="img-os-win" alt="img-os-win" src="assets/IMAGE/os/win.png">
                    </div>
                </div>
            </div>
            <div class="background-content">
                <div class="content-title">
                    <span class="content-title{{CRM_PROFILE}}">CRM Profile</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Quản lý/ lưu trữ thông tin khách hàng trên Facebook Profile.</span>
                </div>
                <app-use-down-install [disabled]="disbaled" [productKey]="CRM_PROFILE"></app-use-down-install>
            </div>
        </div> -->

    </div>
</div>








