.div-product-tab {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.div-product-tab::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(189, 189, 189,0.4);
}

.div-product-tab::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189,0.4);
}

.div-product-tab::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189,1);
    /* border:1px solid #333333;*/
}

.div-product-tab::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189,1);
    /*   border:1px solid #333333;*/
}

.div-product-tab::-webkit-scrollbar-track {
    background-color: rgb(244, 247, 252)
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.div-product {
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
}


/*-----------------------*/

.product {
    margin: 15px 15px 0 0;
    width: 201px;
    height: 201px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px;
    z-index: 41;
    pointer-events: all;
    transform: translate(10%, 0%);
    float: left;
}

.productHide {
    opacity: 0.1;
}

.background-product {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: rgb(238, 238, 238);
    width: 200px;
    height: 100px;
    border: 0 solid rgb(0, 0, 0);
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    z-index: 47;
    pointer-events: all;
}

.product-social {
    width: 100%;
    height: 20px;
}

.img-facebook {
    pointer-events: all;
    transform: rotate(0deg);
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    z-index: 49;
    opacity: 1;
    filter: none;
    margin-left: 2px;
}

.free {
    float: left;
    line-height: 1;
    transform: rotate(0deg);
    padding: 5px;
    overflow-wrap: break-word;
    color: rgb(255, 255, 255);
    font-family: 'lato-bold', sans-serif;
    margin-top: -23px;
    margin-left: 167px;
    width: 30px;
    height: 15px;
    background: rgb(164, 154, 255);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    font-size: 8px;
    letter-spacing: normal;
    z-index: 175;
    border-radius: 0 4px;
    pointer-events: all;
    left: 16px;
}

.new {
    margin-top: -1px;
    margin-left: 160px;
    width: 50px;
    height: 50px;
}

.product-product {
    width: 100%;
    height: 60px;
}

.product-product-div-img {
    pointer-events: all;
    position: absolute;
    text-align: center;
    width: 73px;
    height: 90px;
    opacity: 1;
    filter: none;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.img-product {
    -webkit-user-drag: none;
    user-select: none;
    opacity: 1;
    height: 100%;
    top: 0;
    border-radius: 0;
    width: 100%;
}

.product-os {
    width: 100%;
    height: 20px;
    margin: -2px;
}

.product-os-div {
    pointer-events: all;
    transform: rotate(0deg);
    position: absolute;
    text-align: center;
    width: 20px;
    height: 20px;
    opacity: 1;
    filter: none;
    z-index: 83;
    margin-top: -2px;
}

.img-1 {
    left: 157px;
}

.img-os-mac {
    -webkit-user-drag: none;
    user-select: none;

    opacity: 1;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 20px;
    transform: scaleX(1);
}

.img-2 {
    left: 178px;
}

.img-os-win {
    -webkit-user-drag: none;
    user-select: none;
    opacity: 1;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 20px;
    transform: scaleX(1);
}

/*.background-content {
    position: absolute;
}*/

.content-title {
    pointer-events: all;
    line-height: 100%;
    transform: rotate(0deg);
    overflow: hidden;
    width: 151px;
    height: 18px;
    padding: 5px 0 0 10px;
    font-family: 'Arimo-Regular', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: left;

}

.content-content {
    line-height: 1.4;
    transform: rotate(0deg);
    padding: 5px 0 0 10px;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: 'Arimo-Regular', sans-serif;
    width: 195px;
    height: 45px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    pointer-events: all;
}

.content-button-use-background-hide {
    cursor: default !important;
}

.content-button-use-background {
     opacity: 0.8;
     width: 179px;
     color: #028cfb;
     background: #c7e6ff;
     text-align: center;
     margin: 5px 5px 5px 10px;
     border-radius: 5px;
     font-size: 12px;
     font-weight: bold;
     line-height: 1.9;
     transform: translateZ(0px);
     white-space: nowrap;
     text-decoration: none;
     cursor: pointer;
 }

.content-button-use-background-expired {
    width: 179px;
    background: rgb(255, 0, 0, 0.2);
    text-align: center;
    margin: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.9;
    transform: translateZ(0px);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.content-button-use-background:hover {
    opacity: 1;
}

.content-button-use {
    white-space: nowrap;
    color: #028cfb;
    font-style: normal;
    transform: translateZ(0px);
    font-family: Lato, sans-serif;
}

.content-button-use-expired{
    white-space: nowrap;
    font-style: normal;
    transform: translateZ(0px);
    font-family: Lato, sans-serif;
    color: rgb(255, 0, 0);
}

.content-button-not-installed-background {
    width: 179px;
    text-align: center;
    background: none;
    border: 1px solid #ccc;
    margin: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.9;
    transform: translateZ(0px);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.content-button-loading-background {
    width: 179px;
    text-align: left;
    background: none;
    color: rgb(0, 116, 241, 0.5);
    border: 1px solid #ccc;
    margin: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.9;
    transform: translateZ(0px);
    white-space: nowrap;
    text-decoration: none;
}

.content-button-not-installed {
    white-space: nowrap;
    color: rgb(189, 189, 189);
    font-style: normal;
    transform: translateZ(0px);
    font-family: Lato, sans-serif;
    text-decoration: none;
}

.danger-cancel {
    height: 24px;
    margin-top: -1px;
    margin-right: -1px;
    font-weight: bold;
    line-height: 0;
    color: wheat;
    border: none;
    border-radius: 0px 5px 5px 0px;
    width: 60px;
    float: right;
    background-color: rgb(260, 60, 23);
}

.progress-edit {
    display: flex !important;
    height: 2px !important;
    margin-top: -97px !important;
    overflow: hidden !important;
    font-size: .75rem !important;
    background-color: #e9ecef !important;
    border-radius: .25rem !important;
}

.disabled
{
    background: none repeat scroll 0 0 burlyWood;
    cursor: default !important;
}

