#outer-div-menu-horizontal {
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 0.1px solid #ccc;
    min-width: 480px;
    height: 60px;
    position: fixed;
    z-index: 99;
    margin: 0 !important;
    padding: 0 !important;
}

.div-order {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
    background-color: rgb(92, 106, 196);
    width: 140px;
    height: 40px;
    border: 0 solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: none;
}

.div-order:hover {
    background-color: rgb(92, 106, 196, 0.5);
}

.div-order-svg {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 25px;
    opacity: 1;
    margin: 7px 7px 7px 10px;
}

.div-order-full {
    width: calc(100% - 480px)
}

@media only screen and (max-width: 480px) {
    .div-order-full {
        margin-right: 280px !important;
    }
}

.i-am-centered {
    margin: auto;
    max-width: 360px;
}

.no-radius {
    border-radius: 0 !important;
}

.list-group {
    height: 470px;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.td-none-border {
    border: thin solid transparent !important;
}

table {
    border: thin solid transparent !important;
}

.active {
    z-index: 2 !important;
    color: #ffffff !important;
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
}

.circle-img {
    width: 35px;
    border-radius: 50%;
}

.item-user {
    font-weight: bold;
    font-size: large;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
.Center-Container {
    position: relative;
    height: 100%;
}

.inputContact {
    width: 263px;
    margin-left: 44px;
    border: none;
    border-bottom: solid 1px gainsboro;
    margin-bottom: 15px;
}

.formContactNow {
    margin-left: 10px;
    margin-top: 28px;
}

.formRight {
    width: 370px;
    height: 350px;
    margin-left: 241px;
    float: left;
}

.formLeft {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 370px;
    position: absolute;
    width: 241px;
    float: left;
    background-color: #0c6fff;
}
.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}
#target {
    width: 345px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#inputDate {
    position: relative;
    width: 264px;
    height: 35px;
    border-right: none;
    border-left: none;
    border-top: none;
    margin-left: 44px;
    color: white;

}

#inputDate:before {
    position: absolute;
    top: 3px; left: 3px;
    content: attr(data-date);
    display: inline-block;
    color: black;
}

#inputDate::-webkit-datetime-edit, #inputDate::-webkit-inner-spin-button, #inputDate::-webkit-clear-button {
    display: none;
}

#inputDate::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;    
}