<div id="outer-div-menu-horizontal" class="nav mb-3 justify-content-center">
    <div *ngIf="chooseTypeMenuDiscover;else notOrder">
        <div class="div-order-full">
            <div class="div-order" (click)="discoverOrder()">
                <div class="div-order-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 14 16"
                         fill="rgb(255,255,255)" style="transform: scaleX(1);">
                        <path fill-rule="evenodd"
                              d="M13 4h-1.38c.19-.33.33-.67.36-.91.06-.67-.11-1.22-.52-1.61C11.1 1.1 10.65 1 10.1 1h-.11c-.53.02-1.11.25-1.53.58-.42.33-.73.72-.97 1.2-.23-.48-.55-.88-.97-1.2-.42-.32-1-.58-1.53-.58h-.03c-.56 0-1.06.09-1.44.48-.41.39-.58.94-.52 1.61.03.23.17.58.36.91H1.98c-.55 0-1 .45-1 1v3h1v5c0 .55.45 1 1 1h9c.55 0 1-.45 1-1V8h1V5c0-.55-.45-1-1-1H13zm-4.78-.88c.17-.36.42-.67.75-.92.3-.23.72-.39 1.05-.41h.09c.45 0 .66.11.8.25s.33.39.3.95c-.05.19-.25.61-.5 1h-2.9l.41-.88v.01zM4.09 2.04c.13-.13.31-.25.91-.25.31 0 .72.17 1.03.41.33.25.58.55.75.92L7.2 4H4.3c-.25-.39-.45-.81-.5-1-.03-.56.16-.81.3-.95l-.01-.01zM7 12.99H3V8h4v5-.01zm0-6H2V5h5v2-.01zm5 6H8V8h4v5-.01zm1-6H8V5h5v2-.01z"
                              fill="rgb(255,255,255)">
                        </path>
                    </svg>
                </div>
                <div style="float: left;width: 2px; height: 30px; margin-top: 5px; margin-left: 45px;;background-color: white">
                </div>
                <div style="float: left; margin-top: 8px; margin-left: 10px; color: white;">
                    ĐẶT MUA
                </div>
            </div>
        </div>
    </div>
    <ng-template #notOrder>
        <div></div>
    </ng-template>
</div>


<div class="modal fade in" id="formContactKH" role="dialog">
    <div class="modal-dialog">
        <div style="width: 623px;height: 400px;border-radius: 20px;" class="modal-content">
            <div class="formLeft" style="height: 400px;">
                <img style="width: 192px;padding: 0px;margin-left: 10%;margin-top: 21%;"
                     src="assets/IMAGE/ATP_Software_auto.jpg">
                <img style="width: 176px;margin-left: 13%;margin-top: 6%;" src="assets/IMAGE/services.jpg">
            </div>
            <div class="formRight" style="height: 400px;">
                <h4 style="padding: 15px;">Đăng ký nhận hỗ trợ từ ATP Software</h4>
                <p style="font-size: 11px;margin-left: 20px;">(Anh/chị vui lòng nhập đúng định dạng số điện thoại đang sử dụng)</p>
                <div class="formContactNow" style="margin-top: -5px;">
                    <input class="inputContact" placeholder="Họ và tên" [(ngModel)]="nameKH" type="text"
                           id="nameCustomers">
                    <input class="inputContact" placeholder="Số điện thoại" [(ngModel)]="phoneKH" type="text"
                           id="phoneCustomers">
                    <input type="date" data-date="" data-date-format="DD/MM/YYYY" [(ngModel)]="dateOfBirthKH" id="inputDate" value="00-00-0000">
                

                    <div style="text-align: center; margin-top: 20px" class="form-group">
                        <button style="border-radius: 20px;" type="button" class="btn btn-primary" [disabled]="disabled"
                                (click)="onButtonSendContact(chooseTypeMenuDiscover)">Gửi thông tin
                        </button>
                    </div>
                </div>
                <p style="margin-top: 22px;padding-left: 10px;color: white;border-radius: 0 0 15px 0px;background-color: #828282;width: 380px;">Nhân viên ATP sẽ liên lạc hỗ trợ anh/chị trong ít phút nữa</p>
            </div>

        </div>
    </div>
</div>