<div style="overflow: auto;height: calc(100vh - 60px);">
    <div class="container" style="margin-top: 15px">
        <div class="title-documents">
            <span style="font-weight: 700;">Tài liệu HDSD (PDF)</span>
        </div>
        <div class="title-dash"></div>
        <div class="row book-background">
            <div class="col-10">
                <div style="position: absolute;transform: rotate(0deg); box-sizing: border-box; padding:0; margin: 5px 0 5px 0; background: rgb(255, 255, 255);  width: 61px; height: 61px; border: 1px dashed rgb(199, 230, 255); border-radius: 5px; box-shadow: none; pointer-events: all;">
                    <img alt=""
                         src="assets/IMAGE/file/PDF.png"
                         class="img-pdf">
                </div>

                <div style="float: left;padding-left: 75px;margin-top: 5px">
                    <span style="font-weight: 700;">HƯỚNG DẪN SỬ DỤNG PHẦN MỀM SIMPLE ZALO CHI TIẾT TỪ A-Z.pdf</span>
                </div>
            </div>

            <div class="col-2">
                <div style="float: left;width: 2px;height: 90%;margin-top: 2px;margin-bottom:2px;background-color: rgb(199, 230, 255);border-radius: 1px"></div>
                <div style="float: right">

                  <!--  <div (click)="clickDownloadPDF1()" class="text-button-download-background">
                        <span class="text-button-download">Download</span>
                    </div>-->

                    <div (click)="clickViewPDF1()" class="text-button-view-background">
                        <span class="text-button-view">Xem</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-documents" style="margin-top: 5px">
            <span style="font-weight: 700;">Tài liệu HDSD (Video)</span>
            <button class="video-all-stop" id="stop-simple-zalo">Dừng tất cả</button>
        </div>
        <div class="title-dash"></div>
        <div class="video-doc">
            <div class="row" style="margin-top: 5px">
                <div class="col col-lg-4" style="padding: 0;">
                    <div id="playerSimpleZalo1"></div>
                </div>

            </div>
        </div>
    </div>
</div>

