<!-- &nbsp; -->
<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12" style="MIN-WIDTH: 400PX;">
        <div class="discover-full-div-discover">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>LỢI&nbsp;THẾ&nbsp;CẠNH&nbsp;TRANH&nbsp;KHI&nbsp;SỬ&nbsp;DỤNG&nbsp;CRM&nbsp;PROFILE</span>
                </div>

                <div class="row col-md-12 col-lg-12 discover-full-content-content">

                    <div class="col-lg-6 discover-div-discover-one">

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Quản&nbsp;Lý&nbsp;Thông&nbsp;Tin&nbsp;Khách&nbsp;Hàng</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Phần mềm quản lý thông tin khách hàng hàng cho phép quản lý thông tin bao gồm:
                                        tên, SĐT, ngày tháng năm sinh. Sàng lọc khách hàng tiềm năng nhờ hệ thống lọc
                                        thông tin khách hàng thông minh dễ sử dụng. Giờ đây mọi thông tin được quản lý
                                        bởi một phần mềm quản lý thông tin khách hàng.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Quản&nbsp;Lý&nbsp;Bình&nbsp;Luận</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Phần mềm quản lý bình luận Facebook cho phép quản lý tất cả các bình luận ở trong
                                        một bài viết, từ đó bạn có thể lọc và đánh dấu tình trạng khách hàng một cách
                                        tùy biến, áp dụng công nghệ vào việc bán hàng và chăm sóc khách hàng. Dễ dàng
                                        tương tác khi đã có đầy đủ thông tin..</p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 discover-div-discover-two">

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Quản&nbsp;Lý&nbsp;Tin&nbsp;Nhắn</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Quản lý tin nhắn khách hàng sử dụng API messenger của Facebook cho phép quản lý
                                        tất cả tin nhắn trên Facebook cá nhân, thời gian thực không bị delay khi gửi tin
                                        và nhận tin. Tối ưu sử dụng chỉ trong một hệ thống có thể quản lý tin nhắn song
                                        song cùng lúc nhiều tài khoản Facebook mà không cần mở nhiều trình duyệt.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Quản&nbsp;Lý&nbsp;Chiến&nbsp;Dịch</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Thống kê thông tin khách hàng, lọc đối tượng khách hàng theo tags có sẵn, đặt
                                        lịch và gửi tin nhắn đến những tệp khách hàng đã lọc sẵn theo từng chiến dịch,
                                        giúp đo lường được sự hiểu quả của mỗi chiến dịch. </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

