.full-group-col-product-content {
    display: inline-block;
    width: 100%;
}

.group-col-product-content {
    overflow: auto;
    height: calc(100vh - 60px);
}

.group-col-util {
    margin-right: 0;
    margin-left: 0;
}

.col-util {
    padding-right: 0;
    padding-left: 0;
}

.div-util-full {
    height: calc(100% - 60px);
    overflow-y: auto;
}

.div-util-full::-webkit-scrollbar{
    width:5px;
    background-color: rgb(189, 189, 189,0.4);
}

.div-util-full::-webkit-scrollbar-thumb{
    background-color:#ccc;
    background-color: rgb(189, 189, 189,0.4);
}

.div-util-full::-webkit-scrollbar-thumb:hover{
    background-color:#ccc;
    background-color: rgb(189, 189, 189,1);
}

.div-util-full::-webkit-scrollbar-thumb:active{
    background-color:#ccc;
    background-color: rgb(189, 189, 189,1);
}

.div-util-full::-webkit-scrollbar-track{
    background-color:rgb(244, 247, 252)
}

.div-util {
    margin: 0 0 0 0;
    padding: 0 0 20px 0;
}
/*-----------------------*/

.util {
    margin: 15px 15px 0 0;
    width: 201px;
    height: 201px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px;
    z-index: 41;
    pointer-events: all;
    transform: translate(10%, 0%);
    float: left;
}

.productHide {
    opacity: 0.1;
}

.background-content {
    /*position: relative;*/
}

.content-title {
    height: 28px;
    pointer-events: all;
    line-height: 100%;
    transform: rotate(0deg);
    overflow: hidden;
    padding: 10px 0 0 10px;
    user-select: none;
    font-family: 'Arimo-Regular', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.content-content {
    line-height: 1.4;
    transform: rotate(0deg);
    padding: 10px;
    margin: 0;
    height: 136px;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: 'Arimo-Regular', sans-serif;
    overflow: hidden;
    user-select: none;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    pointer-events: all;
}

.content-button-use-background-hide {
    cursor: default !important;
}

.content-button-use-background {
    opacity: 0.8;
    width: 179px;
    color: #028cfb;
    background: #c7e6ff;
    text-align: center;
    margin: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.9;
    transform: translateZ(0px);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.content-button-use-background:hover {
    opacity: 1;
}
.content-button-use {
    white-space: nowrap;
    color: #028cfb;
    font-style: normal;
    transform: translateZ(0px);
    font-family: Lato, sans-serif;
}

.content-button-not-installed-background {
    width: 179px;
    text-align: center;
    background: none;
    border: 1px solid #ccc;
    margin: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.9;
    transform: translateZ(0px);
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.content-button-not-installed {
    white-space: nowrap;
    color: rgb(189, 189, 189);
    font-style: normal;
    transform: translateZ(0px);
    font-family: Lato, sans-serif;
    text-decoration: none;
}





