<div class="div-util-full">
    <div class="row col-md-12 col-lg-12 div-util">
        <div style="float: left;position: absolute"></div>

        <div class="util">
           
            <div class="background-content">
                   <div class="new" style="position: absolute;">
                    <img style="width: 40px;" alt="new" src="assets/GIF/new.gif">
                </div>
                <div class="content-title">
                    <span>{{SEARCH_View}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Hộ trợ tìm kiếm khách hàng tiềm năng ,bằng các trường tìm kiếm đơn giản.</span>
                </div>
               
                <div class="content-button-use-background" (click)="clickUse(SEARCH)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{GHICHU}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Web ghi chú trực tuyến giúp bạn note lại các nội dung quan trọng một cách nhanh chóng và kèm nhiều tính năng thú vị.</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(GHICHU)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{SUM}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Hệ thống rút gọn link hoàn toàn miễn phí. Giúp bạn rút gọn các URL dài khó nhớ trở nên ngắn gọn dễ nhớ hơn.</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(SUM)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{FIND_FACEBOOK}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Công cụ miễn phí giúp bạn dễ dàng tìm nick Facebook từ số điện thoại có sẵn.</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(FIND_FACEBOOK)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{FIND_UID}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Công cụ miễn phí giúp bạn dễ dàng lấy UID Facebook một cách dễ dàng.</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(FIND_UID)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{BACKUP_LIVE_PAGE}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Bạn có muốn quét được tất cả những khách hàng đã like một fanpage?</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(BACKUP_LIVE_PAGE)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title content-titleATP-SPLITTER">
                    <span>{{ATP_SPLITTER}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Công cụ giúp chia nhỏ file UID</span>
                </div>
                <app-use-down-install [productKey]="ATP_SPLITTER"></app-use-down-install>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title content-title{{TEAM_VIEW}}">
                    <span>Teamviewer</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Giải pháp truy cập máy tính từ xa</span>
                </div>
                <app-use-down-install [productKey]="TEAM_VIEW"></app-use-down-install>
            </div>
        </div>

       <div class="util">
            <div class="background-content">
                <div class="content-title content-title{{ULTRA_VIEW}}">
                    <span>UltraViewer</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Giải pháp truy cập máy tính từ xa</span>
                </div>
                <app-use-down-install [productKey]="ULTRA_VIEW"></app-use-down-install>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title content-title{{GIALAP}}">
                    <span>LD Giả lập</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Phần mềm hỗ trợ chạy Giả Lập trên Simple Instagram & Simple Tiktok đây nhé!</span>
                </div>
                <app-use-down-install [productKey]="GIALAP"></app-use-down-install>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{TUONGTACTOP}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Kiểm tra danh sách bạn bè Facebook tương tác nhiều nhất trong 1 khoảng thời gian</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(TUONGTACTOP)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{COOKIE}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Một hệ thống giúp lấy cookie full quyền, chỉ cần vài thao tác là có thể truy xuất ngay được cookie .</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(COOKIE)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>

        <div class="util">
            <div class="background-content">
                <div class="content-title">
                    <span>{{TOKEN}}</span>
                </div>
                <div class="content-content">
                    <span style="vertical-align: sub;">Một hệ thống giúp lấy token full quyền, chỉ cần vài thao tác là có thể truy xuất ngay được token</span>
                </div>
                <div class="content-button-use-background" (click)="clickUse(TOKEN)">
                    <span class="content-button-use">Sử dụng</span>
                </div>
            </div>
        </div>
    </div>
</div>
