<div class="div-product-mobile-full">
    <div class="row row-edit">
        <div class="col-md-12 col-lg-12 div-util-warn">
            <div class="div-util-content div-util-warn-full" style="border: 1px dashed rgb(195, 0, 0);">
                <div class="div-content-svg" style="width: 80px">
                    <svg version="1.0" id="Layer_1_1577421037963" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                         viewBox="0 0 50 50" style="transform: scaleX(1);" xml:space="preserve" fill="rgb(253,145,145)">
                      <g> <path d="M26.2,20.1h-2.3c-0.3,0-0.4,0.2-0.4,0.4v13.4c0,0.3,0.2,0.4,0.4,0.4v0.1h2.3c0.3,0,0.4-0.2,0.4-0.4V20.5
                              C26.6,20.2,26.4,20.1,26.2,20.1z" fill="rgb(253,145,145)"></path>
                          <path d="M23.8,16.2h2.4c0.3,0,0.4-0.2,0.4-0.4v-2.6c0-0.3-0.2-0.4-0.4-0.4h-2.4c-0.3,0-0.4,0.2-0.4,0.4v2.6
                              C23.4,16.1,23.6,16.2,23.8,16.2z" fill="rgb(253,145,145)"></path>
                          <path d="M25,1C11.215,1,0,10.959,0,23.2c0,5.915,2.573,11.443,7.262,15.635c-0.866,2.561-3.089,4.32-4.744,5.63
                              c-1.516,1.199-2.611,2.066-2.284,3.293l0.107,0.401l0.36,0.208c0.907,0.521,2.121,0.785,3.609,0.785
                              c4.946,0,12.062-2.841,15.195-4.206c1.781,0.372,3.55,0.554,5.395,0.554c13.786,0,25-9.959,25-22.2C49.9,11.003,38.73,1,25,1z
                               M24.9,43.5c-1.809,0-3.537-0.188-5.283-0.576l-0.32-0.07l-0.3,0.132c-2.216,0.978-9.823,4.167-14.686,4.167
                              c-0.653,0-1.222-0.058-1.701-0.173c0.33-0.298,0.78-0.654,1.149-0.946c1.889-1.495,4.744-3.754,5.612-7.295l0.147-0.601l-0.472-0.4
                              C4.502,33.885,2,28.722,2,23.2C2,12.062,12.318,3,25,3c12.627,0,22.9,9.106,22.9,20.3C47.9,34.438,37.582,43.5,24.9,43.5z"
                                fill="rgb(253,145,145)"></path>
                      </g>
                  </svg>
                </div>
                <div class="div-content-content">
<!--                    <div class="div-content-content-body">-->
<!--                        <div style="line-height: 1.5; transform: rotate(0deg); padding: 5px; margin: 0; overflow-wrap: break-word; color: rgb(51, 51, 51); width: auto; height: auto; overflow: hidden; user-select: none; font-family: Source Sans Pro; text-align: left; font-size: 12px; letter-spacing: normal; z-index: 11; pointer-events: all;">-->
<!--                            <p>Các phần mềm bên dưới không thuộc gói<span style="font-weight: bold;"> All In One.</span></p>-->
<!--                            <p>Có thể sử dụng&nbsp; khi đăng ký mua gói <span style="color: rgb(255, 0, 0);"> </span><span-->
<!--                                    style="color: rgb(0, 0, 0); font-weight: bold;"> All In One</span>&nbsp;<span-->
<!--                                    style="font-weight: bold;">mobile </span>và <span style="color: rgb(0, 0, 0);"><span-->
<!--                                    style="font-weight: bold;">Big All In One</span>.</span></p>-->
<!--                            <p><span style="color: rgb(0, 0, 0);">Phần mềm hoạt động trên nền tảng Smartphone với 2 hệ điều hành: Android &amp; IOS.</span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->

                    <div class="div-content-content-body">
                        <div style="line-height: 1.5; transform: rotate(0deg); padding: 5px; margin: 0; overflow-wrap: break-word; color: rgb(51, 51, 51); width: auto; height: auto; overflow: hidden; user-select: none; font-family: Source Sans Pro; text-align: left; font-size: 12px; letter-spacing: normal; z-index: 11; pointer-events: all;">
                            <p>Các phần mềm bên dưới không thuộc gói<span style="font-weight: bold;"> Combo ATP mobile.</span></p>
                            <p>Có thể sử dụng&nbsp; khi đăng ký mua gói <span style="color: rgb(255, 0, 0);"> </span><span
                                    style="color: rgb(0, 0, 0); font-weight: bold;">Combo ATP</span>&nbsp;<span
                                    style="font-weight: bold;">mobile </span>và <span style="color: rgb(0, 0, 0);"><span
                                    style="font-weight: bold;">Combo ATP</span>.</span></p>
                            <p><span style="color: rgb(0, 0, 0);">Phần mềm hoạt động trên nền tảng Smartphone với 2 hệ điều hành: Android &amp; IOS.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="row row-edit col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-6 div-util">
               
            <div class="div-util-content">
                   <div style="float: right;">
                        <img style="width: 40px;" alt="new" src="assets/GIF/new.gif">
                    </div>
                <div class="div-content-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="100%" width="100%"
                         fill="#6f42c1" style="transform: scaleX(1);">
                        <path d="M179.2 230.4l102.4 102.4-102.4 102.4L0 256 179.2 76.8l44.8 44.8-25.6 25.6-19.2-19.2-128 128 128 128 51.5-51.5-77.1-76.5 25.6-25.6zM332.8 76.8L230.4 179.2l102.4 102.4 25.6-25.6-77.1-76.5 51.5-51.5 128 128-128 128-19.2-19.2-25.6 25.6 44.8 44.8L512 256 332.8 76.8z"
                              fill="#6f42c1"></path>
                    </svg>
                </div>
                <div class="div-content-content">
                    <div class="div-content-content-title">
                        <span>Simple Livestream (mobile)</span>
                    </div>
                    <div class="div-content-content-body">Hỗ trợ quản lý Livestream, Kiểm soát comment và đơn hàng một cách dễ dàng, các bước thao tác đơn giản dễ hiểu, với hệ thống quản lý bán hàng được tối ưu nhất.
                    </div>
                    <div class="div-content-content-footer">
                        <div class="div-content-content-footer-img">
                            <img alt="img" class="img-footer"
                                 src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C3fa241b3b034292b2a18155159a98779/projects/M39ececb7f05ab0c8f91f797d10dc3a6b1576745503518/images/M03a2ef8e84be794f33970ca552a60ee81576939999478">
                        </div>
                        <div class="div-content-content-footer-content">Phần mềm hoạt động trên smartphone</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 div-util">
             <div class="div-util-content div-two">
                <div class="div-content-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="100%" width="100%"
                         fill="rgb(254,198,41)" style="transform: scaleX(1);">
                        <path d="M179.2 230.4l102.4 102.4-102.4 102.4L0 256 179.2 76.8l44.8 44.8-25.6 25.6-19.2-19.2-128 128 128 128 51.5-51.5-77.1-76.5 25.6-25.6zM332.8 76.8L230.4 179.2l102.4 102.4 25.6-25.6-77.1-76.5 51.5-51.5 128 128-128 128-19.2-19.2-25.6 25.6 44.8 44.8L512 256 332.8 76.8z"
                              fill="rgb(254,198,41)"></path>
                    </svg>
                </div>
                <div class="div-content-content">
                    <div class="div-content-content-title">
                        <span>CRM Profile (mobile)</span>
                    </div>
                    <div class="div-content-content-body">Quản lý inbox, comment và hỗ trợ bán hàng trên trang
                        profile.
                    </div>
                    <div class="div-content-content-footer">
                        <div class="div-content-content-footer-img">
                            <img alt="img" class="img-footer"
                                 src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C3fa241b3b034292b2a18155159a98779/projects/M39ececb7f05ab0c8f91f797d10dc3a6b1576745503518/images/M03a2ef8e84be794f33970ca552a60ee81576939999478">
                        </div>
                        <div class="div-content-content-footer-content">Phần mềm hoạt động trên smartphone</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-edit col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-6 div-util">
            <div class="div-util-content">
                <div class="div-content-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="100%" width="100%"
                         fill="rgb(137,132,214)" style="transform: scaleX(1);">
                        <path d="M179.2 230.4l102.4 102.4-102.4 102.4L0 256 179.2 76.8l44.8 44.8-25.6 25.6-19.2-19.2-128 128 128 128 51.5-51.5-77.1-76.5 25.6-25.6zM332.8 76.8L230.4 179.2l102.4 102.4 25.6-25.6-77.1-76.5 51.5-51.5 128 128-128 128-19.2-19.2-25.6 25.6 44.8 44.8L512 256 332.8 76.8z"
                              fill="rgb(137,132,214)"></path>
                    </svg>
                </div>
                <div class="div-content-content">
                    <div class="div-content-content-title">
                        <span>Simple UID (mobile)</span>
                    </div>
                    <div class="div-content-content-body"> Quét UID theo reaction, comment, thành viên nhóm, bạn
                        bè.
                    </div>
                    <div class="div-content-content-footer">
                        <div class="div-content-content-footer-img">
                            <img alt="img" class="img-footer"
                                 src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C3fa241b3b034292b2a18155159a98779/projects/M39ececb7f05ab0c8f91f797d10dc3a6b1576745503518/images/M03a2ef8e84be794f33970ca552a60ee81576939999478">
                        </div>
                        <div class="div-content-content-footer-content">Phần mềm hoạt động trên smartphone</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 div-util">
            <div class="div-util-content div-two">
                <div class="div-content-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="100%" width="100%"
                         fill="rgb(0,193,140)" style="transform: scaleX(1);">
                        <path d="M179.2 230.4l102.4 102.4-102.4 102.4L0 256 179.2 76.8l44.8 44.8-25.6 25.6-19.2-19.2-128 128 128 128 51.5-51.5-77.1-76.5 25.6-25.6zM332.8 76.8L230.4 179.2l102.4 102.4 25.6-25.6-77.1-76.5 51.5-51.5 128 128-128 128-19.2-19.2-25.6 25.6 44.8 44.8L512 256 332.8 76.8z"
                              fill="rgb(0,193,140)"></path>
                    </svg>
                </div>
                <div class="div-content-content">
                    <div class="div-content-content-title">
                        <span>Simple Facebook (mobile)</span>
                    </div>
                    <div class="div-content-content-body"> Hỗ trợ tương tác, thêm bạn, kết nối tệp khách hàng tiềm
                        năng
                    </div>
                    <div class="div-content-content-footer">
                        <div class="div-content-content-footer-img">
                            <img alt="img" class="img-footer"
                                 src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C3fa241b3b034292b2a18155159a98779/projects/M39ececb7f05ab0c8f91f797d10dc3a6b1576745503518/images/M03a2ef8e84be794f33970ca552a60ee81576939999478">
                        </div>
                        <div class="div-content-content-footer-content">Phần mềm hoạt động trên smartphone</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-edit col-md-12 col-lg-12">
        <div class="col-md-6 col-lg-6 div-util">
            <div class="div-util-content">
                <div class="div-content-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="100%" width="100%"
                         fill="rgb(1,177,227)" style="transform: scaleX(1);">
                        <path d="M179.2 230.4l102.4 102.4-102.4 102.4L0 256 179.2 76.8l44.8 44.8-25.6 25.6-19.2-19.2-128 128 128 128 51.5-51.5-77.1-76.5 25.6-25.6zM332.8 76.8L230.4 179.2l102.4 102.4 25.6-25.6-77.1-76.5 51.5-51.5 128 128-128 128-19.2-19.2-25.6 25.6 44.8 44.8L512 256 332.8 76.8z"
                              fill="rgb(1,177,227)"></path>
                    </svg>
                </div>
                <div class="div-content-content">
                    <div class="div-content-content-title">
                        <span>Simple Group (mobile)</span>
                    </div>
                    <div class="div-content-content-body">Tham gia nhóm, rời nhóm, tìm kiếm nhóm, đăng bài, uptop
                        bài viết.
                    </div>
                    <div class="div-content-content-footer">
                        <div class="div-content-content-footer-img">
                            <img alt="img" class="img-footer"
                                 src="https://s3.amazonaws.com/assets.mockflow.com/app/wireframepro/company/C3fa241b3b034292b2a18155159a98779/projects/M39ececb7f05ab0c8f91f797d10dc3a6b1576745503518/images/M03a2ef8e84be794f33970ca552a60ee81576939999478">
                        </div>
                        <div class="div-content-content-footer-content">Phần mềm hoạt động trên smartphone</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 div-util">
           
        </div>
    </div>

</div>