.row-edit {
    margin: 15px 0 0 0;
    padding: 0 !important;
}

.div-product-mobile-full {
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 15px;
}

.div-product-mobile-full::-webkit-scrollbar{
    width:5px;
    background-color: rgb(189, 189, 189,0.4);
}

.div-product-mobile-full::-webkit-scrollbar-thumb{
    background-color: rgb(189, 189, 189,0.4);
}

.div-product-mobile-full::-webkit-scrollbar-thumb:hover{
    background-color: rgb(189, 189, 189,1);
}

.div-product-mobile-full::-webkit-scrollbar-thumb:active{
    background-color: rgb(189, 189, 189,1);
}

.div-product-mobile-full::-webkit-scrollbar-track{
    background-color:rgb(244, 247, 252)
}

.div-product-mobile{

}

.div-warn {
    border-radius: 5px;;
    background: rgb(255, 255, 255);;
    border: 1px dashed rgb(195, 0, 0);
    margin: 15px 30px 0 30px;
    width: 95%;
    height: 116px;
    padding: 0 !important;
}

.div-icon-warn {
    float: left;
    margin: 18px;
    width: 80px;
    height: 80px;
}

.div-content-warn {
    margin: 10px 0 0 115px;
}

.div-one {
    padding: 0;
}

.div-util {
    margin-bottom: 35px;
    padding: 0;
}

.div-util-warn {
    padding: 0;
    margin-bottom: 11px !important;
}

.div-util-content {
    box-sizing: border-box;
    padding: 0;
    background: rgb(255, 255, 255);
    width: calc(100% - 5px);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px;
    pointer-events: all;
    transform: translate(0%, 0%);
    min-height: calc(100% + 23px);
}

.div-two {
    margin-left: 5px;
}

.div-util-warn-full {
    width: calc(100%) !important;
    min-height: calc(100%) !important;
}

.div-two-content {
    box-sizing: border-box;
    padding: 0;
    background: rgb(255, 255, 255);
    width: calc(100% - 40px);
    margin: 15px 0 15px 10px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px;
    pointer-events: all;
    transform: translate(0%, 0%);
}

.div-content-svg {
    margin: 5px 20px 0 15px;
    width: 100px;
    height: 100%;
    /*margin: 0 20px 20px 20px;*/
    float: left;
}

.div-content-content {
    /*margin-left: 120px;*/
    /*width: calc(100% - 120px);*/
}

.div-content-content-title {
    pointer-events: all;
    padding-top: 5px;
    font-family: 'Arimo-Regular', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.div-content-content-body {
    height: auto;
    line-height: 1.6;
    transform: rotate(0deg);
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: Lato, sans-serif;
    overflow: hidden;
    user-select: none;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
}

.div-content-content-footer {
    margin: 5px 20px 0 15px;
    pointer-events: all;
    transform: rotate(0deg);
    text-align: center;
    opacity: 1;
    filter: none;
    bottom: 0;
    left: 100px;
    position: absolute;
}

.div-content-content-footer-img {
    width: 15px;
    height: 16px;
    float: left;
}

.img-footer {
    width: 15px;
}

.div-content-content-footer-content {
    transform: rotate(0deg);
    padding: 5px;
    overflow-wrap: break-word;
    color: rgb(108, 116, 119);
    font-family: Lato, sans-serif;
    margin: 0 0 0 17px;
    height: 33px;
    overflow: hidden;
    user-select: none;
    text-align: left;
    font-size: 11px;
    letter-spacing: normal;
    pointer-events: all;
}

.div-one-the-second {
    margin: 0 0 0 30px;
}

.div-two-the-second {
    margin: 0 0 0 10px;
}

@media only screen and (max-width: 768px) {

    .div-util {
        margin-bottom: 35px !important;
    }

    .div-util-content {
        width: calc(100%);
    }

    .div-two {
        margin-left: 0;
    }
}


