<div id="myNav" class="overlay">
    <div style="margin: 0 auto;" class="loader"></div>
</div>

<div (click)="openModalUpdates()" id="btnSlideDownUpdateNews" style="display: none" class="longAnimate">
    <img style="height: 40px;" src="assets/IMAGE/icon/icon_update.png"/>
</div>

<div class="left-group">
    <div class="left-sidebar" style="">
        <div id="inner-div-logo">
            <img src="assets/IMAGE/logo/Logo.png"
                 style="-webkit-user-drag: none; user-select: none; position: absolute; opacity: 1; height: 34.8557px; left: 23px; top: 21px; border-radius: 0px; width: 66px; transform: scaleX(1);">
            <span class="text-logo">ATP&nbsp;<wbr>SOFTWARE&nbsp;<wbr>PRODUCTS</span>
        </div>

        <div class="menu-vertical">
            <ul class="form nav nav-tabs">
                <li class="active" (click)="clickTab('tab1')">
                    <a href="#lst-sofeware-tab" data-toggle="tab">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 438.891 438.891" class="icon-cus-menu-vertical" xml:space="preserve" width="100%" height="100%"><g><g>
    <g>
        <g>
            <path d="M347.968,57.503h-39.706V39.74c0-5.747-6.269-8.359-12.016-8.359h-30.824c-7.314-20.898-25.6-31.347-46.498-31.347     c-20.668-0.777-39.467,11.896-46.498,31.347h-30.302c-5.747,0-11.494,2.612-11.494,8.359v17.763H90.923     c-23.53,0.251-42.78,18.813-43.886,42.318v299.363c0,22.988,20.898,39.706,43.886,39.706h257.045     c22.988,0,43.886-16.718,43.886-39.706V99.822C390.748,76.316,371.498,57.754,347.968,57.503z M151.527,52.279h28.735     c5.016-0.612,9.045-4.428,9.927-9.404c3.094-13.474,14.915-23.146,28.735-23.51c13.692,0.415,25.335,10.117,28.212,23.51     c0.937,5.148,5.232,9.013,10.449,9.404h29.78v41.796H151.527V52.279z M370.956,399.185c0,11.494-11.494,18.808-22.988,18.808     H90.923c-11.494,0-22.988-7.314-22.988-18.808V99.822c1.066-11.964,10.978-21.201,22.988-21.42h39.706v26.645     c0.552,5.854,5.622,10.233,11.494,9.927h154.122c5.98,0.327,11.209-3.992,12.016-9.927V78.401h39.706     c12.009,0.22,21.922,9.456,22.988,21.42V399.185z" data-original="#000000" class="active-path_1581762523263" data-old_color="#000000"></path>
            <path d="M179.217,233.569c-3.919-4.131-10.425-4.364-14.629-0.522l-33.437,31.869l-14.106-14.629     c-3.919-4.131-10.425-4.363-14.629-0.522c-4.047,4.24-4.047,10.911,0,15.151l21.42,21.943c1.854,2.076,4.532,3.224,7.314,3.135     c2.756-0.039,5.385-1.166,7.314-3.135l40.751-38.661c4.04-3.706,4.31-9.986,0.603-14.025     C179.628,233.962,179.427,233.761,179.217,233.569z" data-original="#000000" class="active-path_1581762523263" data-old_color="#000000"></path>
            <path d="M329.16,256.034H208.997c-5.771,0-10.449,4.678-10.449,10.449s4.678,10.449,10.449,10.449H329.16     c5.771,0,10.449-4.678,10.449-10.449S334.931,256.034,329.16,256.034z" data-original="#000000" class="active-path_1581762523263" data-old_color="#000000"></path>
            <path d="M179.217,149.977c-3.919-4.131-10.425-4.364-14.629-0.522l-33.437,31.869l-14.106-14.629     c-3.919-4.131-10.425-4.364-14.629-0.522c-4.047,4.24-4.047,10.911,0,15.151l21.42,21.943c1.854,2.076,4.532,3.224,7.314,3.135     c2.756-0.039,5.385-1.166,7.314-3.135l40.751-38.661c4.04-3.706,4.31-9.986,0.603-14.025     C179.628,150.37,179.427,150.169,179.217,149.977z" data-original="#000000" class="active-path_1581762523263" data-old_color="#000000"></path>
            <path d="M329.16,172.442H208.997c-5.771,0-10.449,4.678-10.449,10.449s4.678,10.449,10.449,10.449H329.16     c5.771,0,10.449-4.678,10.449-10.449S334.931,172.442,329.16,172.442z" data-original="#000000" class="active-path_1581762523263" data-old_color="#000000" ></path>
            <path d="M179.217,317.16c-3.919-4.131-10.425-4.363-14.629-0.522l-33.437,31.869l-14.106-14.629     c-3.919-4.131-10.425-4.363-14.629-0.522c-4.047,4.24-4.047,10.911,0,15.151l21.42,21.943c1.854,2.076,4.532,3.224,7.314,3.135     c2.756-0.039,5.385-1.166,7.314-3.135l40.751-38.661c4.04-3.706,4.31-9.986,0.603-14.025     C179.628,317.554,179.427,317.353,179.217,317.16z" data-original="#000000" class="active-path_1581762523263" data-old_color="#000000"></path>
            <path d="M329.16,339.626H208.997c-5.771,0-10.449,4.678-10.449,10.449s4.678,10.449,10.449,10.449H329.16     c5.771,0,10.449-4.678,10.449-10.449S334.931,339.626,329.16,339.626z" data-original="#000000" class="active-path_1581762523263" data-old_color="#000000"></path>
        </g>
    </g>
</g></g> </svg>
                        </i> Danh sách phần mềm
                    </a>
                </li>

                <li (click)="clickTab('tab2')">
                    <a href="#license-tab" data-toggle="tab">
                        <i>
                            <svg height="100%" viewBox="0 -84 512.00002 512" width="100%" class="icon-cus-menu-vertical" xmlns="http://www.w3.org/2000/svg" >
                                <path d="m467.746094 0h-423.496094c-24.398438 0-44.25 19.851562-44.25 44.253906v255.191406c0 24.402344 19.851562 44.253907 44.25 44.253907h423.496094c24.402344 0 44.253906-19.851563 44.253906-44.253907v-255.191406c0-24.402344-19.851562-44.253906-44.253906-44.253906zm29.046875 299.445312c0 16.015626-13.03125 29.046876-29.046875 29.046876h-423.496094c-16.011719 0-29.042969-13.03125-29.042969-29.046876v-255.191406c0-16.015625 13.03125-29.046875 29.042969-29.046875h423.496094c16.015625 0 29.046875 13.03125 29.046875 29.046875zm0 0"></path>
                                <path d="m227.613281 60.832031h-176.410156c-4.199219 0-7.605469 3.402344-7.605469 7.605469v18.246094c0 4.199218 3.40625 7.601562 7.605469 7.601562s7.605469-3.402344 7.605469-7.601562v-10.644532h161.203125v185.539063h-161.203125v-144.476563c0-4.199218-3.40625-7.605468-7.605469-7.605468s-7.605469 3.40625-7.605469 7.605468v152.078126c0 4.199218 3.40625 7.605468 7.605469 7.605468h176.410156c4.199219 0 7.605469-3.40625 7.605469-7.605468v-200.742188c0-4.203125-3.40625-7.605469-7.605469-7.605469zm0 0"></path>
                                <path d="m462.832031 78.464844h-190.605469c-4.199218 0-7.605468 3.40625-7.605468 7.605468 0 4.199219 3.40625 7.601563 7.605468 7.601563h190.605469c4.199219 0 7.601563-3.402344 7.601563-7.601563 0-4.199218-3.402344-7.605468-7.601563-7.605468zm0 0"></path>
                                <path d="m462.832031 133.625h-42.582031c-4.199219 0-7.601562 3.402344-7.601562 7.601562 0 4.199219 3.402343 7.605469 7.601562 7.605469h42.582031c4.199219 0 7.601563-3.40625 7.601563-7.605469 0-4.199218-3.402344-7.601562-7.601563-7.601562zm0 0"></path>
                                <path d="m272.226562 148.832031h117.605469c4.199219 0 7.605469-3.40625 7.605469-7.605469 0-4.199218-3.40625-7.601562-7.605469-7.601562h-117.605469c-4.199218 0-7.605468 3.402344-7.605468 7.601562 0 4.199219 3.40625 7.605469 7.605468 7.605469zm0 0"></path>
                                <path d="m462.832031 188.785156h-190.605469c-4.199218 0-7.605468 3.402344-7.605468 7.601563s3.40625 7.605469 7.605468 7.605469h190.605469c4.199219 0 7.601563-3.40625 7.601563-7.605469s-3.402344-7.601563-7.601563-7.601563zm0 0"></path>
                                <path d="m375.640625 243.945312h-103.414063c-4.199218 0-7.605468 3.402344-7.605468 7.601563s3.40625 7.605469 7.605468 7.605469h103.414063c4.199219 0 7.601563-3.40625 7.601563-7.605469s-3.402344-7.601563-7.601563-7.601563zm0 0"></path>
                                <path d="m86.179688 244.847656c0 4.199219 3.40625 7.601563 7.605468 7.601563 4.199219 0 7.605469-3.402344 7.605469-7.601563 0-20.964844 17.054687-38.019531 38.019531-38.019531s38.019532 17.054687 38.019532 38.019531c0 4.199219 3.402343 7.601563 7.601562 7.601563s7.605469-3.402344 7.605469-7.601563c0-19.34375-10.371094-36.304687-25.84375-45.625 15.472656-9.320312 25.84375-26.28125 25.84375-45.625 0-29.347656-23.878907-53.226562-53.226563-53.226562-29.351562 0-53.230468 23.878906-53.230468 53.226562 0 19.34375 10.375 36.304688 25.847656 45.625-15.472656 9.320313-25.847656 26.28125-25.847656 45.625zm15.210937-91.25c0-20.964844 17.054687-38.019531 38.019531-38.019531s38.019532 17.054687 38.019532 38.019531-17.054688 38.019532-38.019532 38.019532-38.019531-17.054688-38.019531-38.019532zm0 0"></path></svg>
                        </i>Bản quyền
                    </a>
                </li>

                <li (click)="clickTab('tab3')">
                    <a href="#discover-software-functionality-tab" data-toggle="tab">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon-cus-menu-vertical" height="100%" version="1.1" viewBox="-16 0 512 512.00155" width="100%">
                                <g id="surface1">
                                    <path d="M 77.265625 287.132812 C 121.234375 304.625 179.375 314.257812 240.976562 314.257812 C 302.574219 314.257812 360.714844 304.625 404.6875 287.132812 C 453.035156 267.898438 479.660156 240.601562 479.660156 210.265625 C 479.660156 193.539062 471.402344 168.882812 432.054688 146.421875 C 425.523438 142.695312 418.539062 139.347656 410.699219 136.191406 L 401.644531 132.546875 C 394.722656 62.390625 376.917969 20.96875 347.320312 6.042969 C 313.492188 -11.015625 276.234375 12.054688 253.972656 25.839844 C 249.695312 28.488281 244.125 31.9375 240.976562 33.457031 C 237.828125 31.9375 232.253906 28.484375 227.976562 25.839844 C 205.714844 12.054688 168.457031 -11.019531 134.628906 6.042969 C 105.03125 20.96875 87.226562 62.390625 80.304688 132.546875 L 71.253906 136.191406 C 63.414062 139.347656 56.425781 142.695312 49.894531 146.421875 C 10.546875 168.882812 2.289062 193.539062 2.289062 210.265625 C 2.289062 240.601562 28.917969 267.898438 77.265625 287.132812 Z M 148.148438 32.84375 C 152.109375 30.847656 156.398438 29.988281 160.878906 29.988281 C 177.65625 29.988281 197.113281 42.035156 212.175781 51.363281 C 224.457031 58.964844 232.566406 63.988281 240.976562 63.988281 C 249.382812 63.988281 257.496094 58.964844 269.777344 51.363281 C 288.859375 39.542969 314.996094 23.363281 333.804688 32.84375 C 347.3125 39.660156 364.574219 63.046875 371.714844 134.902344 C 334.621094 153.5625 288.628906 163.769531 240.976562 163.769531 C 193.316406 163.769531 147.328125 153.5625 110.234375 134.902344 C 117.378906 63.046875 134.636719 39.660156 148.148438 32.84375 Z M 64.777344 172.492188 C 70.113281 169.445312 75.898438 166.679688 82.464844 164.035156 L 93.003906 159.792969 C 134.902344 181.746094 187.128906 193.785156 240.976562 193.785156 C 294.820312 193.785156 347.046875 181.746094 388.945312 159.792969 L 399.488281 164.035156 C 406.050781 166.679688 411.835938 169.441406 417.175781 172.492188 C 438.113281 184.441406 449.640625 197.859375 449.640625 210.265625 C 449.640625 226.96875 428.6875 245.277344 393.589844 259.242188 C 353.066406 275.363281 298.867188 284.238281 240.972656 284.238281 C 183.082031 284.238281 128.882812 275.363281 88.359375 259.242188 C 53.261719 245.277344 32.304688 226.96875 32.304688 210.265625 C 32.304688 197.859375 43.835938 184.445312 64.777344 172.492188 Z M 64.777344 172.492188 "/>
                                    <path d="M 464.652344 384.058594 L 446.773438 384.058594 C 432.839844 350.582031 399.789062 326.984375 361.328125 326.984375 C 322.660156 326.984375 289.460938 350.835938 275.660156 384.597656 C 253.21875 373.089844 226.277344 373.128906 203.839844 384.863281 C 190.105469 350.960938 156.835938 326.984375 118.066406 326.984375 C 79.601562 326.984375 46.550781 350.582031 32.617188 384.058594 L 15.007812 384.058594 C 6.71875 384.058594 0 390.777344 0 399.066406 C 0 407.355469 6.71875 414.078125 15.007812 414.078125 L 25.71875 414.078125 C 25.617188 415.871094 25.558594 417.675781 25.558594 419.492188 C 25.558594 470.503906 67.054688 512 118.066406 512 C 169.074219 512 210.570312 470.503906 210.570312 419.492188 C 210.570312 418.367188 210.542969 417.25 210.503906 416.136719 C 227.609375 402.75 251.710938 402.65625 268.90625 415.65625 C 268.851562 416.929688 268.820312 418.207031 268.820312 419.492188 C 268.820312 470.503906 310.320312 512 361.328125 512 C 412.335938 512 453.832031 470.503906 453.832031 419.492188 C 453.832031 417.675781 453.773438 415.871094 453.671875 414.078125 L 464.652344 414.078125 C 472.941406 414.078125 479.660156 407.355469 479.660156 399.066406 C 479.660156 390.777344 472.941406 384.058594 464.652344 384.058594 Z M 118.066406 481.984375 C 83.609375 481.984375 55.574219 453.949219 55.574219 419.492188 C 55.574219 385.035156 83.609375 357.003906 118.066406 357.003906 C 152.523438 357.003906 180.554688 385.035156 180.554688 419.492188 C 180.554688 453.949219 152.523438 481.984375 118.066406 481.984375 Z M 361.324219 481.984375 C 326.867188 481.984375 298.835938 453.949219 298.835938 419.492188 C 298.835938 385.035156 326.867188 357.003906 361.324219 357.003906 C 395.78125 357.003906 423.816406 385.035156 423.816406 419.492188 C 423.816406 453.949219 395.78125 481.984375 361.324219 481.984375 Z M 361.324219 481.984375 " />
                                </g>
                            </svg>
                        </i>Khám phá chức năng
                    </a>
                </li>

                <!--<li>
                    <a href="#">
                        <i>
                            <svg version="1.1" class="icon-cus-menu-vertical" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
                                 viewBox="0 0 25 32" style="transform: scaleX(1);" fill="rgb(108,116,119)">
                                <g id="icomoon-ignore_1577239405376">
                                </g>
                                <path d="M6.294 14.164h12.588v1.049h-12.588v-1.049z"></path>
                                <path d="M6.294 18.36h12.588v1.049h-12.588v-1.049z"></path>
                                <path d="M6.294 22.557h8.392v1.049h-8.392v-1.049z"></path>
                                <path d="M15.688 3.674c-0.25-1.488-1.541-2.623-3.1-2.623s-2.85 1.135-3.1 2.623h-9.489v27.275h25.176v-27.275h-9.488zM10.49 6.082v-1.884c0-1.157 0.941-2.098 2.098-2.098s2.098 0.941 2.098 2.098v1.884l0.531 0.302c1.030 0.586 1.82 1.477 2.273 2.535h-9.803c0.453-1.058 1.243-1.949 2.273-2.535l0.53-0.302zM24.128 29.9h-23.078v-25.177h8.392v0.749c-1.638 0.932-2.824 2.566-3.147 4.496h12.588c-0.322-1.93-1.509-3.563-3.147-4.496v-0.749h8.392v25.177z"></path>
                            </svg>
                        </i>Tin tức ATP software
                    </a>
                </li>-->

                <li (click)="clickTab('tab4')">
                    <a href="#documents-and-books-tab" data-toggle="tab">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="icon-cus-menu-vertical" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" width="100%" height="100%"><g><g>
                        <g>
                            <g>
                                <path d="M444.875,109.792L338.208,3.125c-2-2-4.708-3.125-7.542-3.125h-224C83.135,0,64,19.135,64,42.667v426.667     C64,492.865,83.135,512,106.667,512h298.667C428.865,512,448,492.865,448,469.333v-352     C448,114.5,446.875,111.792,444.875,109.792z M341.333,36.417l70.25,70.25h-48.917c-11.76,0-21.333-9.573-21.333-21.333V36.417z      M426.667,469.333c0,11.76-9.573,21.333-21.333,21.333H106.667c-11.76,0-21.333-9.573-21.333-21.333V42.667     c0-11.76,9.573-21.333,21.333-21.333H320v64C320,108.865,339.135,128,362.667,128h64V469.333z" data-original="#000000" class="active-path" data-old_color="#000000"/>
                                <path d="M310.385,313.135c-9.875-7.771-19.26-15.76-25.51-22.01c-8.125-8.125-15.365-16-21.656-23.5     c9.813-30.323,14.115-45.958,14.115-54.292c0-35.406-12.792-42.667-32-42.667c-14.594,0-32,7.583-32,43.688     c0,15.917,8.719,35.24,26,57.698c-4.229,12.906-9.198,27.792-14.781,44.573c-2.688,8.052-5.604,15.51-8.688,22.406     c-2.51,1.115-4.948,2.25-7.302,3.427c-8.479,4.24-16.531,8.052-24,11.594C150.5,370.177,128,380.844,128,401.906     c0,15.292,16.615,24.76,32,24.76c19.833,0,49.781-26.49,71.656-71.115c22.708-8.958,50.938-15.594,73.219-19.75     c17.854,13.729,37.573,26.865,47.125,26.865c26.448,0,32-15.292,32-28.115c0-25.219-28.813-25.219-42.667-25.219     C337.031,309.333,325.49,310.604,310.385,313.135z M160,405.333c-6.094,0-10.219-2.875-10.667-3.427     c0-7.563,22.552-18.25,44.365-28.583c1.385-0.656,2.792-1.313,4.219-1.99C181.896,394.563,166.052,405.333,160,405.333z      M234.667,214.354c0-22.354,6.938-22.354,10.667-22.354c7.542,0,10.667,0,10.667,21.333c0,4.5-3,15.75-8.49,33.313     C239.135,233.75,234.667,222.698,234.667,214.354z M242.844,329c0.667-1.854,1.313-3.729,1.938-5.625     c3.958-11.875,7.521-22.542,10.698-32.146c4.427,4.875,9.198,9.865,14.313,14.979c2,2,6.958,6.5,13.563,12.135     C270.208,321.208,256.219,324.76,242.844,329z M362.667,334.552c0,4.792,0,6.781-9.896,6.844     c-2.906-0.625-9.625-4.583-17.917-10.229c3.01-0.333,5.229-0.5,6.479-0.5C357.094,330.667,361.563,332.208,362.667,334.552z" data-original="#000000" class="active-path" data-old_color="#000000" />
                            </g>
                        </g>
                    </g></g> </svg>
                        </i>Tài liệu - Book
                    </a>
                </li>

                <li (click)="clickTab('tab5')">
                    <a href="#community-tab" data-toggle="tab">
                        <i>
                            <svg height="100%" class="icon-cus-menu-vertical" viewBox="0 0 368 368" width="100%" xmlns="http://www.w3.org/2000/svg">
                                <path d="m368 103.996094c0-2.929688-1.601562-5.625-4.167969-7.023438l-176-96c-2.390625-1.296875-5.273437-1.296875-7.664062 0l-176 96c-2.566407 1.398438-4.167969 4.09375-4.167969 7.023438 0 2.929687 1.601562 5.625 4.167969 7.023437l60.472656 32.984375-60.464844 32.96875c-2.574219 1.398438-4.175781 4.09375-4.175781 7.023438 0 2.929687 1.601562 5.625 4.167969 7.023437l60.480469 32.976563-60.480469 32.976562c-2.566407 1.398438-4.167969 4.09375-4.167969 7.023438 0 2.929687 1.601562 5.625 4.167969 7.023437l176 96c1.191406.648438 2.511719.976563 3.832031.976563s2.640625-.328125 3.832031-.976563l176-96c2.566407-1.398437 4.167969-4.09375 4.167969-7.023437 0-2.929688-1.601562-5.625-4.167969-7.023438l-60.480469-32.976562 60.480469-32.976563c2.566407-1.398437 4.167969-4.09375 4.167969-7.023437 0-2.929688-1.601562-5.625-4.167969-7.023438l-60.464843-32.96875 60.464843-32.984375c2.566407-1.398437 4.167969-4.09375 4.167969-7.023437zm-184 246.886718-159.296875-86.886718 56.65625-30.886719 98.808594 53.910156c2.390625 1.296875 5.273437 1.296875 7.664062 0l98.808594-53.910156 56.648437 30.886719zm159.289062-166.886718-60.480468 32.976562-98.808594 53.910156-98.808594-53.910156c-.007812 0-.007812 0-.015625-.007812l-60.464843-32.96875 56.632812-30.878906 98.824219 53.902343c1.191406.648438 2.511719.976563 3.832031.976563s2.640625-.328125 3.832031-.976563l98.824219-53.902343zm-159.289062 6.886718-159.296875-86.886718 159.296875-86.886719 159.296875 86.886719zm0 0"/></svg>
                        </i>Cộng đồng
                    </a>
                </li>

                <!--<li (click)="clickTab('tab6')">
                    <a href="#course-tab" data-toggle="tab">
                        <i>

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="100%" height="100%" class="icon-cus-menu-vertical">
                                <g id="online_learnning" data-name="online learnning">
                                    <path d="M6.08,54H57.92A2.043,2.043,0,0,0,60,52V20a2.043,2.043,0,0,0-2.08-2H28.786a10.974,10.974,0,0,0,.788-2H40a3,3,0,0,0,3-3V11H57a3,3,0,0,0,3-3V7.816a3,3,0,1,0-2,0V8a1,1,0,0,1-1,1H43V7.816a3,3,0,1,0-2,0V9H29.236A10.991,10.991,0,1,0,9.214,18H6.08A2.043,2.043,0,0,0,4,20V52A2.043,2.043,0,0,0,6.08,54ZM59,4a1,1,0,1,1-1,1A1,1,0,0,1,59,4ZM42,4a1,1,0,1,1-1,1A1,1,0,0,1,42,4ZM12,40H11V39h1Zm.553-5.9A1,1,0,0,0,12,35v.586l-1-1V34a5.006,5.006,0,0,1,5-5h6a5.006,5.006,0,0,1,5,5v.586l-1,1V35a1,1,0,0,0-.757-.97l-8-2a.992.992,0,0,0-.69.075ZM26,39h1v1H26ZM14,35.618l3.116-1.558L24,35.781V41a5,5,0,0,1-10,0ZM16.168,49h5.666l-.462,3H16.636Zm7.683.041A10.9,10.9,0,0,1,30.544,52H23.4Zm-9.7.008L14.612,52H7.469A10.866,10.866,0,0,1,14.151,49.049ZM41,11v2a1,1,0,0,1-1,1H29.949c.03-.33.051-.662.051-1a10.989,10.989,0,0,0-.191-2ZM19,4a9,9,0,1,1-9,9A9.01,9.01,0,0,1,19,4ZM10.521,20a10.987,10.987,0,0,0,16.958,0H58l-.08,32H33.238A12.758,12.758,0,0,0,23,47h-.413a7,7,0,0,0,3.333-5H27a2,2,0,0,0,2-2V39a2,2,0,0,0-1.624-1.962l1.331-1.331A1,1,0,0,0,29,35V34a7.008,7.008,0,0,0-7-7H16a7.008,7.008,0,0,0-7,7v1a1,1,0,0,0,.293.707l1.331,1.331A2,2,0,0,0,9,39v1a2,2,0,0,0,2,2h1.08a7,7,0,0,0,3.333,5H15a12.881,12.881,0,0,0-9,3.636L6.08,20Z"/><path d="M37,50H53a3,3,0,0,0,3-3V25a3,3,0,0,0-3-3H37a3,3,0,0,0-3,3V47A3,3,0,0,0,37,50ZM36,25a1,1,0,0,1,1-1H53a1,1,0,0,1,1,1V47a1,1,0,0,1-1,1H37a1,1,0,0,1-1-1Z"/><rect x="38" y="28" width="14" height="2"/><rect x="38" y="35" width="14" height="2"/><rect x="38" y="42" width="14" height="2"/><path d="M61,56H36a1,1,0,0,0-1,1v1H29V57a1,1,0,0,0-1-1H3a1,1,0,0,0-.97,1.242l.621,2.487A3,3,0,0,0,5.562,62H58.438a3,3,0,0,0,2.911-2.272l.621-2.486A1,1,0,0,0,61,56ZM5.562,60a1,1,0,0,1-.971-.757L4.281,58H27v1a1,1,0,0,0,1,1Zm53.847-.758a1,1,0,0,1-.971.758H36a1,1,0,0,0,1-1V58H59.719Z"/><path d="M14.474,18.851a1,1,0,0,0,.973.044l10-5a1,1,0,0,0,0-1.79l-10-5A1,1,0,0,0,14,8V18A1,1,0,0,0,14.474,18.851ZM16,9.618,22.764,13,16,16.382Z"/></g></svg>


                        </i>Khóa học
                    </a>
                </li>-->

                <li (click)="clickTab('tab7')">
                    <a href="#law-tab" data-toggle="tab">
                        <i>
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 100.75 100.75" class="icon-cus-menu-vertical" height="100%" width="100%" xml:space="preserve">
                            <path d="M93.424,44.205l-13.71-29.184c-0.093-0.205-0.247-0.387-0.412-0.527c-0.263-0.231-0.598-0.368-0.976-0.368H58.007
                                c-0.676-2.862-3.231-5-6.279-5c-3.048,0-5.604,2.138-6.279,5H25.073c-0.65,0-1.198,0.415-1.406,0.993
                                c-0.165,0.14-0.31,0.306-0.403,0.511L9.554,44.814c0,0-0.304,0.514-0.304,1.058c0,9.307,7.178,16.878,16,16.878s16-7.571,16-16.878
                                c0-0.481-0.047-0.622-0.425-1.336l-14.083-27.41h18.706c0.559,2.367,2.404,4.232,4.751,4.808v56.192H35.92
                                c-0.829,0-1.5,0.671-1.5,1.5v7c0,0.829,0.671,1.5,1.5,1.5h31.744c0.829,0,1.5-0.671,1.5-1.5v-7c0-0.829-0.671-1.5-1.5-1.5H53.2
                                V21.949c2.374-0.56,4.245-2.437,4.808-4.823h17.898L62.153,43.927c-0.378,0.714-0.425,0.855-0.425,1.336
                                c0,9.307,7.178,16.878,16,16.878c8.822,0,16-7.571,16-16.878C93.728,44.719,93.424,44.205,93.424,44.205z M25.25,59.749
                                c-6.693,0-12.222-5.429-12.925-12.378h25.85C37.472,54.321,31.943,59.749,25.25,59.749z M37.391,44.372l-24.484,0.316l11.787-24.951
                                L37.391,44.372z M66.164,81.125v4H37.42v-4H66.164z M55.159,15.914c-0.148,1.793-1.621,3.211-3.431,3.211
                                c-1.908,0-3.46-1.57-3.46-3.5s1.552-3.5,3.46-3.5c1.81,0,3.283,1.418,3.431,3.211c-0.018,0.094-0.029,0.19-0.029,0.289
                                S55.141,15.821,55.159,15.914z M78.285,19.128l11.787,24.951l-24.484-0.316L78.285,19.128z M77.728,59.14
                                c-6.693,0-12.222-5.428-12.925-12.378h25.85C89.95,53.711,84.421,59.14,77.728,59.14z"/>
                            </svg>
                        </i> Điều khoản
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="svgW3">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 30 32"
             fill="rgb(108,116,119)" style="transform: scaleX(-1);">
            <path d="M5.333 12.533v17.707h24.533v-24.533h-19.2v-4l-10.667 7.253 5.333 3.573zM9.6 5.76c0 0 0 0.053 0 0v0 1.067h1.013c0 0 0 0 0.053 0 0 0 0.053 0 0.053 0h0.053c5.013 0 8.32 2.773 9.76 6.293-3.040-2.56-6.987-2.88-8.907-2.88-0.053 0-0.053 0-0.107 0h-1.92v1.067c0 0 0 0 0 0v2.827l-7.68-5.173 7.68-5.227v2.027zM6.4 13.28l4.267 2.88v-4.8c0.213 0 0.533-0.053 0.96-0.053 2.667 0 8.373 0.693 10.773 6.133 0-4.48-2.293-8.693-6.56-10.613h12.96v22.4h-22.4v-15.947z"
                  fill="rgb(108,116,119)"></path>
        </svg>
    </div>
</div>

<div class="right-group">
    <div class="tab-content">
        <div class="page-content tab-pane fade  show active" id="lst-sofeware-tab">
            <app-lst-sofeware-tab></app-lst-sofeware-tab>
        </div>
        <div class="page-content tab-pane fade" id="license-tab">
            <app-license-tab></app-license-tab>
        </div>
        <div class="page-content tab-pane fade" id="discover-software-functionality-tab">
            <app-discover-software-functionality-tab *ngIf="tab3"></app-discover-software-functionality-tab>
        </div>

        <div class="page-content tab-pane fade" id="documents-and-books-tab">
            <app-documents-and-books-tab  *ngIf="tab4"></app-documents-and-books-tab>
        </div>

        <div class="page-content tab-pane fade" id="community-tab">
            <app-community-tab *ngIf="tab5"></app-community-tab>
        </div>

        <div class="page-content tab-pane fade" id="course-tab">
            <app-course-tab *ngIf="tab6"></app-course-tab>
        </div>

        <div class="page-content tab-pane fade" id="law-tab">
            <app-law-tab></app-law-tab>
        </div>
    </div>
</div>

<div class="modal fade in" id="modalNewsUpdate" role="dialog">
    <div style="width: 500px!important;" class="modal-dialog">
        <div style="width: 400px!important;height: 600px!important;border-radius: 10px!important;"
             class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="font-weight: bold">Lịch sử cập nhật</h4>
            </div>
            <div class="modal-body">
                <div style="overflow-y: auto;height: 500px">
                    <div *ngFor="let newsUpdate of listNewsUpdate">
                        <p *ngIf="newsUpdate.seen === false" style="font-weight: bold;text-transform: none!important;">
                            - {{newsUpdate.stringTimeRelease + ': ' + newsUpdate.contentUpdate}}</p>
                        <p *ngIf="newsUpdate.seen === true">
                            - {{newsUpdate.stringTimeRelease + ': ' + newsUpdate.contentUpdate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

