.left-group {
    float: left;
    position: absolute;
}

.left-sidebar {
    height: 100%;
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    width: 240px;
    border-right: 0.1px solid #ccc;
}

.right-group {
    margin-left: 240px;
    position: absolute;
    width: 100%;
    height: calc(100%);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

/*Logo*/
#inner-div-logo {
    display: inline-block;
    margin: 0;
    padding: 3px;
    background: rgb(255, 255, 255);
    height: 95px;
    width: 240px;
    border-bottom: 0;
    border-right: 0.6px solid #ccc;
}

.text-logo {
    pointer-events: all;
    line-height: 100%;
    transform: rotate(0deg);
    overflow: hidden;
    position: absolute;
    width: 189px;
    height: 28px;
    top: 43px;
    left: 41px;
    user-select: none;
    font-family: 'WorkSans-Bold', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    color: rgb(66, 66, 66);
    text-align: left;
    z-index: 37;
}

/* Icon chia cot */
.svgW3 {
    position: fixed;
    top: 24px;
    z-index: 116;
    width: 20px;
    background-color: rgb(255, 255, 255);
    left: 231px;
}

/* vertical-menu */
.menu-vertical {
    margin-top: -5px;
    z-index: 22222;
    width: auto;
    height: calc(100vh - 120px);
    border-top: 0.1px solid #ccc;
    border-right: 0.6px solid #ccc;
}

.form {
    border-bottom: none;
}

ul.form {
    position: relative;
    background: #fff;
    width: auto;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.form li a {
    width: 240px;
    font-weight: bold;
    padding-left: 11px;
    height: 50px;
    line-height: 50px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 12px;
    overflow-wrap: break-word;
    color: rgb(108, 116, 119);
    font-family: 'lato-light', sans-serif;
    letter-spacing: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form li a:hover {
    width: 240px;
    cursor: pointer;
    color: rgb(97, 97, 97);
    font-family: 'lato-bold', sans-serif;
    background: rgb(231, 243, 255);
}

.form li a:hover i .icon-cus-menu-vertical {
    fill: rgb(20, 149, 250);
}

.form i {
    margin-right: 5px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*Chọn mặt định */
.form li.active a {
    width: 240px;
    color: rgb(97, 97, 97);
    font-family: 'lato-bold', sans-serif;
    font-weight: bold;
    background: rgb(231, 243, 255);
}

.form li.active a i .icon-cus-menu-vertical {
    fill: rgb(20, 149, 250);
}

/*Icon menu vertical */
.icon-cus-menu-vertical {
    fill: rgb(108, 116, 119);
    transform: scaleX(1);
    width: 25px;
}

/*page content*/
.page-content {

}

/*---------------------------------*/

/* The Overlay (background) */
.overlay {
    z-index: 9999999999999999999;
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.longAnimate {
    position: fixed;
    top: 10px;
    right: 5px;
    z-index: 999;
    cursor: pointer;
    animation-duration: 2s;
}
