<app-menu-horizontal-discover [chooseTypeMenuDiscover]="chooseTypeMenuDiscover"></app-menu-horizontal-discover>

<div id="discover-software-functionality-tab">
    <div class="discover-sidebar menu-vertical-discover-child">
        <div class="menu-vertical">
            <ul class="form nav nav-tabs">
                <li>
                    <a href="#discover-simple-facebook" data-toggle="tab" (click)="clickSimpleFacebook()">
                        Simple Facebook
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-account" data-toggle="tab" (click)="clickSimpleAccount()">
                        Simple Account
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-instagram" data-toggle="tab" (click)="clickSimpleInstagram()">
                        Simple Instagram
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-zalo" data-toggle="tab" (click)="clickSimpleZalo()">
                        Simple Zalo
                    </a>
                </li>

                <li>
                    <a href="#discover-autoviral-content" data-toggle="tab" (click)="clickAutoviralContent()">
                        Autoviral Content
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-ads" data-toggle="tab" (click)="clickSimpleAds()">
                        Simple Ads
                    </a>
                </li>

                <li>
                    <a href="#discover-crm-profile" data-toggle="tab" (click)="clickCRMProfile()">
                        CRM Profile
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-tiktok" data-toggle="tab" (click)="clickSimpleTiktok()">
                        Simple Tiktok
                    </a>
                </li>

                <li>
                    <a href="#discover-atp-care" data-toggle="tab" (click)="clickAtpCare()">
                        ATP Care
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-livestream" data-toggle="tab" (click)="clickSimpleLiveStream()">
                        Simple Livestream
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-uid" data-toggle="tab" (click)="clickSimpleUID()">
                        Simple UID
                    </a>
                </li>

                <li>
                    <a href="#discover-simple-seeding" data-toggle="tab" (click)="clickSimpleSeeding()">
                        Simple Seeding
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content" style="height: calc(100% - 50px);">
        <div class="page-content tab-pane fade" id="discover-simple-facebook">
            <app-discover-simple-facebook></app-discover-simple-facebook>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-account">
            <app-discover-simple-account></app-discover-simple-account>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-zalo">
            <app-discover-simple-zalo></app-discover-simple-zalo>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-instagram">
            <app-discover-simple-instagram></app-discover-simple-instagram>
        </div>
        <div class="page-content tab-pane fade" id="discover-autoviral-content">
            <app-discover-autoviral-content></app-discover-autoviral-content>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-ads">
            <app-discover-simple-ads></app-discover-simple-ads>
        </div>
        <div class="page-content tab-pane fade" id="discover-crm-profile">
            <app-discover-crm-profile></app-discover-crm-profile>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-tiktok">
            <app-discover-simple-tiktok></app-discover-simple-tiktok>
        </div>
        <div class="page-content tab-pane fade" id="discover-atp-care">
            <app-discover-atp-care></app-discover-atp-care>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-livestream">
            <app-discover-simple-livestream></app-discover-simple-livestream>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-uid">
            <app-discover-simple-uid></app-discover-simple-uid>
        </div>
        <div class="page-content tab-pane fade" id="discover-simple-seeding">
            <app-discover-simple-seeding></app-discover-simple-seeding>
        </div>

    </div>
</div>

