#discover-software-functionality-tab {
    display: block;
    background-color: rgb(244, 247, 252);
    width: calc(100% - 200px);
    position: absolute;
    margin-top: 60px;
    height: 100%;
}

.menu-vertical-discover-child {
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow-y: auto;;
    height: calc(100% - 60px);
    width: 200px;
    border-right: 1px solid #ccc ;
}

.menu-vertical-discover-child::-webkit-scrollbar{
    width:3px;
}

.menu-vertical-discover-child::-webkit-scrollbar-thumb{
    background-color:#ccc;
}

.menu-vertical-discover-child::-webkit-scrollbar-thumb:hover{
    background-color:#ccc;
    /* border:1px solid #333333;*/
}

.menu-vertical-discover-child::-webkit-scrollbar-thumb:active{
    background-color:#ccc;
    /*   border:1px solid #333333;*/
}

.menu-vertical-discover-child::-webkit-scrollbar-track{
    background-color:rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

/* vertical-menu */
.menu-vertical {
    margin-top: -5px;
    z-index: 22222;
    width: auto;
    height: calc(100vh - 120px);
}

.form {
    border-bottom: none;
}

ul.form {
    position: relative;
    background: #fff;
    width: auto;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.form li a {
    width: 200px;
    font-weight: bold;
    padding-left: 11px;
    height: 50px;
    line-height: 50px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    overflow-wrap: break-word;
    color: rgb(108, 116, 119);
    font-family: lato-light, sans-serif;
    letter-spacing: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form li a:hover {
    width: 200px;
    cursor: pointer;
    color: rgb(97, 97, 97);
    font-family: 'lato-bold', sans-serif;
    background: rgb(231, 243, 255);
}

.form i {
    margin-right: 5px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*Chọn mặt định */
.form li .active {
    width: 200px;
    font-family: 'lato-bold', sans-serif;
    font-weight: bold;
    background: rgb(231, 243, 255);
}

#discover,
#discover-simple-facebook,
#discover-simple-account,
#discover-simple-instagram,
#discover-simple-zalo,
#discover-autoviral-content,
#discover-simple-ads,
#discover-crm-profile,
#discover-simple-tiktok,
#discover-atp-care,
#discover-simple-livestream,
#discover-simple-uid,
#discover-simple-seeding {
    width: calc(100% - 240px);
    height: calc(100% - 10px);
    margin-left:200px;
}

.discover-div-container-discover {

}

.discover-div-container-discover::-webkit-scrollbar{
    width:3px;
}

.discover-div-container-discover::-webkit-scrollbar-thumb{
    background-color:#ccc;
}

.discover-div-container-discover::-webkit-scrollbar-thumb:hover{
    background-color:#ccc;
    /* border:1px solid #333333;*/
}
.discover-div-container-discover::-webkit-scrollbar-thumb:active{
    background-color:#ccc;
    /*   border:1px solid #333333;*/
}
.discover-div-container-discover::-webkit-scrollbar-track{
    background-color:rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.discover-full-div-discover {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 5PX -3px 10px -6px;
    margin: 15px 0 -15px 0;
}

.discover-div-discover {
    margin: 15px 0px 15px 0;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 5PX -3px 10px -6px;
}

.discover-div-discover-the-first {
    margin-top: 0;
}

.discover-div-discover-one {
    padding-left: 0;
    margin-bottom: 15px;
}

.discover-div-discover-two {
    padding-right: 0;
    margin-bottom: 15px;
}

.discover-full-content-title {
    overflow: hidden;
    padding: 10px 0 0 10px;
    text-decoration: none;
    background: rgb(0, 116, 241);
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.3;
    font-family: lato-regular,sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 38px;
    border-radius: 10px 10px 0 0;
}

.discover-content-title {
    pointer-events: all;
    transform: rotate(0deg);
    overflow: hidden;
    padding: 10px 0 0 10px;
    text-decoration: none;
    background: #c7e6ff;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.3;
    font-family: lato-regular,sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 116, 241);
    height: 38px;
    border-radius: 5px 5px 0 0;
}

.discover-full-content-content {
    line-height: 1.3;
    transform: rotate(0deg);
    padding: 5px 20px 10px 20px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: lato-regular, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
    pointer-events: all;
    overflow-y: auto;
    height: auto;
    max-height: calc(100vh - 130px);
}


.discover-full-content-content::-webkit-scrollbar{
    width:3px;
}

.discover-full-content-content::-webkit-scrollbar-thumb{
    background-color:#ccc;
    border-radius: 5px;
}

.discover-full-content-content::-webkit-scrollbar-thumb:hover{
    background-color:#ccc;
    /* border:1px solid #333333;*/
}
.discover-full-content-content::-webkit-scrollbar-thumb:active{
    background-color:#ccc;
    /*   border:1px solid #333333;*/
}
.discover-full-content-content::-webkit-scrollbar-track{
    background-color:rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.discover-full-content-content-content {
    margin: 0
}

.discover-content-content {
    line-height: 1.3;
    transform: rotate(0deg);
    padding: 25px 30px 8px 30px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: lato-regular, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
    pointer-events: all;
}

@media only screen and (max-width: 991px) {

    .discover-div-discover-one {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 0 !important;
    }

    .discover-div-discover-two {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}







