.card-wrapper{
    height: 92vh;
    overflow-y: scroll;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px
}

.card-course{
    height: auto;
    width: calc((100% / 5 ) - 20px);
    float: left;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body{
    padding: 10px;

}
.card-text{
    height: 100px;
    font-size: 14px;
}
.card-title{
    height: 100px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    line-height: 1.3;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    word-wrap: break-word;
}
.btn-primary{
    text-align: center;
}

.card-wrapper {
    height: calc(100% - 60px);
}

.card-wrapper::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

.card-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189, 0.4);
}

.card-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189, 1);
}

.card-wrapper::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189, 1);
}


/* -------------------------------- */

.bk-btn {
    height: 46px;
    cursor: pointer;
    width: 46px;
    margin: 5px;
    background-color: gainsboro;
    border-radius: 50%;
    margin-right: 10px;
}

.bk-btn:hover {
    background-color: rgb(0, 116, 241);
}

.bk-btn .bk-btn-triangle {
    position: relative;
    top: 10px;
    left: 8.4px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid white;
}
.bk-btn .bk-btn-bar {
    position: relative;
    background-color: white;
    height: 9.8px;
    width: 13px;
    top: -8px;
    left: 20.88px;
}
