<div id="outer-div-menu-horizontal">
  <div style="padding-left: 30px; margin-bottom: 20px">
    <h2><strong>Chính sách điều khoản</strong></h2>
  </div>
</div>

<div id="law-tab">
  <div class="div-law-full">


    <div style="margin-right: 30px">
      <p>Đây là trang chính sách điều khoản của chúng tôi. Khi bạn truy cập để đọc các bài viết, hoặc sử dụng các dịch vụ, giải pháp chúng tôi cung cấp, bạn được hiểu rằng đã đồng ý toàn bộ những quy định sau đây.</p>
      <h2><strong><span style="font-size: 24px;">I. Chính sách, quy định tại Website</span></strong></h2>
      <p><strong>1. Bài viết trên Website</strong></p>
      <p>Các bài viết trên blog của chúng tôi dựa trên quan điểm, kiến thức của tác giả hoặc người viết. Các bài viết mang tính chất tham khảo, bạn đọc sẽ chịu trách nhiệm khi thực hiện theo các bài viết trên blog.</p>
      <p><strong>2. Từ ngữ khi bình luận</strong></p>
      <p>Không bình luận về các vấn đề chính trị, tôn giáo, phân biệt chủng tộc, phân biệt vùng miền.<br>Không chia sẻ các đường link xấu, lừa đảo, chứa virus.<br>Không bình luận các tin spam.<br>Không sử dụng ngôn ngữ thô tục<br>Sử dụng tiếng Việt có dấu hoặc tiếng Anh.</p>
      <p><strong>3. Khách hàng sử dụng các dịch vụ, sản phẩm chúng tôi cung cấp.</strong></p>
      <p>Không sử dụng các sản phẩm, dịch vụ để tán phát cũng như truyền tải các nội dung liên quan đến chính trị, tôn giáo, các nội dung văn hóa đồ trụy hay các nội dung trái pháp luật.<br>Không sử dụng các công cụ chúng tôi cung cấp để kinh doanh, buôn bán các mặt hàng cấm, ảnh hưởng xấu đến người khác hay các mặt hàng trái pháp luật.<br>Chịu trách nhiệm về những vấn đề phát sinh khi sử dụng các sản phẩm, dịch vụ sai quy định.</p>
      <h2><strong><span style="font-size: 24px;">II. Giới hạn trách nhiệm:</span></strong></h2>
      <p>Khi sử dụng các giải pháp do ATPSoftware.vn cung cấp, bạn hiểu rằng chúng tôi hoàn toàn không chịu trách nhiệm trực tiếp, gián tiếp về các hoạt động của bạn khi bạn khai thác các giải pháp của chúng tôi.</p>
      <p>Chúng tôi không chịu trách nhiệm pháp lý hay bồi thường cho người dùng đối với các thiệt hại về lợi nhuận, doanh thu, uy tín phát sinh từ việc sử dụng các giải pháp.</p>
      <p>Thông tin cá nhân và mật khẩu truy cập hệ thống bạn cần bảo mật và lưu trFữ ở những nơi an toàn. Chúng tôi từ chối chịu trách nhiệm cho bất kỳ thiệt hại nào đến từ việc bạn không bảo mật tài khoản.</p>
      <p><strong>Người truy cập Website hay sử dụng các giải pháp, dịch vụ cần đọc về Chính sách điều khoản, Giới hạn trách nhiệm của chúng tôi.</strong></p>
      <p><strong>Chân thành cảm ơn bạn đã đọc!</strong></p>
      <br/>
    </div>


  </div>
</div>
