#outer-div-menu-horizontal {
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 0.1px solid #ccc;
    min-width: 480px;
    height: 60px;
    position: fixed;
    z-index: 99;
}


#law-tab {
    display: block;
    background-color: rgb(244, 247, 252);
    width: calc(100% - 240px);
    position: absolute;
    margin-top: 60px;
    height: 100%;
}

.div-law-full {
    overflow: auto;
    height: calc(100% - 60px);
    margin: 20px 2px 10px 30px;
}

.div-law-full::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

.div-law-full::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189, 0.4);
}

.div-law-full::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189, 1);
}

.div-law-full::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189, 1);
}

.div-law-full::-webkit-scrollbar-track {

}

.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

