<div class="project-implementation-content2">
    <div class="container">
        <div class="row">
            <div class="col-md col-lg">
                <div class="text-company-1">
                    <a>
                        ATPLAND - Hệ Thống Rao Vặt Bất Động Sản
                    </a>
                    <div>
                        <br>
                    </div>
                </div>

                <div class="logo-company-1">
                    <a>
                        <img class="logo-company-1-img" src="{{ATP_LAND.url_img}}">
                    </a>
                </div>

                <div class="div-address-svg">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                         viewBox="0 0 50 50" style="transform: scaleX(1);" xml:space="preserve">
                        <path d="M48.251,31.043c-0.529-0.159-1.086,0.139-1.248,0.666c-0.831,2.729-2.131,5.201-3.784,7.355
                            c-1.934-1.063-4.179-1.938-6.648-2.599c0.36-1.364,0.668-2.798,0.898-4.314c0.083-0.546-0.292-1.056-0.838-1.139
                            s-1.056,0.292-1.139,0.838c-0.222,1.459-0.519,2.84-0.868,4.151c-2.712-0.579-5.62-0.929-8.624-0.991V32h-2v3.01
                            c-3.008,0.061-5.915,0.41-8.624,0.989c-0.348-1.31-0.645-2.691-0.867-4.149c-0.083-0.546-0.594-0.919-1.139-0.838
                            c-0.546,0.083-0.921,0.593-0.838,1.139c0.231,1.515,0.538,2.948,0.898,4.311C10.96,37.123,8.717,38,6.782,39.065
                            c-1.654-2.154-2.955-4.626-3.786-7.356c-0.161-0.529-0.722-0.827-1.248-0.666c-0.528,0.161-0.826,0.72-0.665,1.248
                            C4.309,42.884,13.92,50,25,50s20.691-7.116,23.917-17.709C49.077,31.763,48.779,31.204,48.251,31.043z M8.086,40.628
                            c1.733-0.914,3.725-1.671,5.909-2.252c1.226,3.773,2.936,6.818,4.967,8.834C14.752,46.081,10.994,43.787,8.086,40.628z
                             M15.944,37.917c2.527-0.528,5.24-0.848,8.056-0.907v10.881C20.747,47.246,17.787,43.493,15.944,37.917z M26,47.892V37.011
                            c2.811,0.059,5.526,0.38,8.055,0.909C32.211,43.494,29.252,47.246,26,47.892z M31.037,47.21c2.031-2.016,3.741-5.06,4.967-8.831
                            c2.184,0.581,4.177,1.338,5.909,2.251C39.005,43.788,35.248,46.081,31.037,47.21z M1.749,18.957c0.526,0.16,1.087-0.137,1.248-0.665
                            c0.831-2.729,2.131-5.201,3.785-7.355c1.934,1.063,4.179,1.938,6.648,2.599c-0.36,1.364-0.668,2.799-0.899,4.315
                            c-0.083,0.546,0.292,1.056,0.838,1.139c0.544,0.084,1.056-0.292,1.139-0.838c0.222-1.459,0.519-2.841,0.867-4.151
                            c2.712,0.579,5.62,0.929,8.624,0.99V18h2v-3.01c3.008-0.061,5.915-0.41,8.625-0.989c0.348,1.31,0.645,2.691,0.867,4.149
                            c0.083,0.546,0.593,0.92,1.139,0.838c0.546-0.083,0.921-0.593,0.838-1.139c-0.231-1.515-0.538-2.948-0.898-4.311
                            c2.469-0.661,4.712-1.539,6.647-2.603c1.654,2.154,2.954,4.626,3.785,7.356C47.135,18.723,47.531,19,47.96,19
                            c0.096,0,0.194-0.014,0.291-0.044c0.528-0.161,0.826-0.72,0.666-1.248C45.691,7.117,36.08,0,25,0S4.309,7.117,1.083,17.708
                            C0.922,18.237,1.22,18.796,1.749,18.957z M41.914,9.372c-1.733,0.914-3.725,1.671-5.91,2.252c-1.226-3.773-2.936-6.818-4.968-8.834
                            C35.248,3.919,39.006,6.213,41.914,9.372z M34.056,12.083c-2.527,0.528-5.241,0.848-8.056,0.907V2.108
                            C29.252,2.754,32.212,6.507,34.056,12.083z M24,2.108V12.99c-2.811-0.059-5.526-0.38-8.055-0.909
                            C17.788,6.506,20.748,2.754,24,2.108z M18.962,2.791c-2.03,2.015-3.74,5.059-4.966,8.83C11.812,11.04,9.82,10.283,8.088,9.37
                            C10.995,6.212,14.753,3.919,18.962,2.791z M3.803,29.5L1,20.971h1.894l1.923,6.523h0.03l2.147-6.523h1.908l2.087,6.523h0.03
                            L13,20.971h1.893L11.957,29.5h-1.893l-2.132-6.522h-0.03L5.726,29.5H3.803z M28.073,27.494l1.982-6.523h1.893L29.011,29.5h-1.893
                            l-2.132-6.522h-0.03L22.779,29.5h-1.923l-2.802-8.529h0h1.894l1.923,6.523h0.03l2.147-6.523h1.908l2.087,6.523H28.073z
                             M47.107,20.971H49L46.064,29.5h-1.893l-2.132-6.522h-0.03L39.832,29.5H37.91l-2.803-8.529H37l1.923,6.523h0.03l2.147-6.523h1.908
                            l2.087,6.523h0.03L47.107,20.971z">
                        </path>
                    </svg>
                </div>
                <div class="web-company-1">
                    <a style="cursor: pointer" href="https://atpland.vn/">www.atpland.vn</a>
                </div>
            </div>


            <div class="col-md col-lg">
                <div class="content-2">Chúng tôi là đơn vị chuyên cung cấp đất nền, căn hộ, biệt thự, bán hoặc cho thuê, đáp ứng nhu cầu của tất cả các khách hàng trên toàn quốc. Sự hài lòng của quý khách là tiêu chí hoạt động của chúng tôi.
                </div>
            </div>
            <div class="col-md col-lg">

            </div>
        </div>
    </div>
</div>