<!-- &nbsp; -->
<div class="discover-atp-care-div-container-discover">
    <div class="col-md-12 col-lg-12 discover-atp-care-title">
        <div class="col-md-5 col-lg-5" style="max-width: 360px;font-size: 17px">
            <span style="font-weight: 700;">Điểm khác biệt mà giải pháp ATP Care mang lại cho bạn là gì?</span>
        </div>
        <div class="dash"
             style="margin:10px 0 0 15px;background-color: rgb(92, 106, 196);;height: 2px;width: 35%;min-width: 160px;max-width: 160px">
        </div>

    </div>

    <div class="row col-md-12 col-lg-12 width995" style="MIN-WIDTH: 400PX; margin-left: 0;">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="col-lg div-atp-care-content">
                    <span style="font-weight: 700;">Với những tính năng được tối ưu từ những trải nghiệm thực tế, ATP Care hiểu hơn hết những khó khăn của khách hàng và chính chúng tôi đang áp dụng giải pháp này hiệu quả với những tính năng mà bạn có thể tham khảo dưới đây.</span>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6 discover-atp-care-full-div-sale-3">
                        <div class="discover-atp-care-div-sale-3">
                            <div style="pointer-events: all; transform: rotate(0deg);margin: 10px 0px 0 10px;text-align: center; width: 32px; height: 32px;opacity: 1; filter: none;">
                                <svg version="1.0" x="0px" y="0px" viewBox="0 0 50.123 50" style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%" fill="rgb(255,255,255)">
                                    <path d="M38.725,41.587h11.398l-0.063-1.06c-0.311-5.208-4.443-6.839-7.765-8.149c-1.844-0.728-3.59-1.417-4.097-2.528
                                        c-0.077-0.935-0.07-1.666-0.063-2.507l0.002-0.339c0.796-0.832,1.516-2.47,1.8-3.841c0.615-0.347,1.346-1.148,1.569-2.993
                                        c0.109-0.923-0.146-1.646-0.513-2.14c0.503-1.74,1.467-6.042-0.266-8.83c-0.738-1.188-1.85-1.941-3.309-2.243
                                        c-0.836-1.014-2.388-1.565-4.456-1.565C30.591,5.436,28.684,6,27.289,7.073c-0.624-0.397-1.343-0.678-2.155-0.838
                                        c-0.944-1.193-2.754-1.843-5.184-1.843c-3.681,0.068-6.375,1.193-8.006,3.343c-1.933,2.548-2.292,6.41-1.069,11.484
                                        c-0.451,0.551-0.783,1.401-0.65,2.513c0.265,2.205,1.122,3.104,1.844,3.465c0.343,1.731,1.288,3.681,2.208,4.597l0.002,0.468
                                        c0.009,1.015,0.017,1.896-0.08,3.033c-0.612,1.405-2.649,2.206-4.998,3.13c-3.908,1.537-8.771,3.45-9.136,9.517L0,47h40.124
                                        l-0.063-1.06C39.954,44.165,39.463,42.745,38.725,41.587z M29.277,19.25c0.581-1.98,1.78-7.125-0.27-10.423
                                        c-0.076-0.122-0.156-0.241-0.239-0.355c1.032-0.685,2.451-1.048,4.214-1.08c1.501,0,2.646,0.374,2.989,0.976l0.244,0.427
                                        l0.487,0.067c1.076,0.15,1.837,0.606,2.327,1.394c1.262,2.031,0.52,5.821-0.118,7.741l-0.157,0.73l0.576,0.432
                                        c0.003,0.001,0.258,0.2,0.189,0.772c-0.138,1.144-0.488,1.473-0.562,1.497l-0.821,0.07l-0.088,0.819
                                        c-0.161,1.499-1.08,3.108-1.374,3.336l-0.535,0.281l-0.005,1.39c-0.008,0.898-0.016,1.746,0.084,2.852l0.059,0.259
                                        c0.75,2.014,2.952,2.883,5.283,3.803c2.786,1.1,5.658,2.232,6.356,5.349H36.956c-1.764-1.49-4.006-2.376-5.999-3.163
                                        c-2.339-0.923-4.367-1.725-4.979-3.13c-0.096-1.135-0.088-2.016-0.079-3.028l0.003-0.479c0.897-0.917,1.821-2.866,2.157-4.602
                                        c0.704-0.364,1.579-1.259,1.842-3.453C30.033,20.641,29.715,19.802,29.277,19.25z M2.19,45c0.756-3.968,4.303-5.362,7.742-6.715
                                        c2.739-1.077,5.326-2.095,6.187-4.408l0.059-0.259c0.118-1.306,0.109-2.311,0.1-3.375l-0.005-0.925l0.018-0.595l-0.536-0.28
                                        c-0.438-0.298-1.607-2.315-1.8-4.119l-0.087-0.823l-0.825-0.068c-0.128-0.011-0.645-0.371-0.833-1.94
                                        c-0.096-0.807,0.296-1.091,0.298-1.092l0.635-0.386l-0.187-0.719c-1.214-4.671-1.013-8.251,0.582-10.352
                                        c1.243-1.638,3.413-2.497,6.432-2.552c1.877,0,3.265,0.469,3.712,1.253l0.244,0.428l0.488,0.068
                                        c1.336,0.186,2.284,0.755,2.897,1.742c1.536,2.472,0.647,7.04-0.12,9.349l-0.211,0.747l0.64,0.422
                                        c0.004,0.003,0.396,0.286,0.298,1.093c-0.188,1.569-0.705,1.93-0.833,1.94l-0.824,0.068l-0.088,0.822
                                        c-0.194,1.814-1.328,3.829-1.73,4.11l-0.535,0.28l-0.005,1.534c-0.009,1.062-0.018,2.066,0.1,3.37l0.059,0.259
                                        c0.86,2.312,3.437,3.33,6.166,4.407c1.935,0.764,3.903,1.542,5.387,2.789c0.105,0.189,0.271,0.341,0.471,0.429
                                        c0.904,0.896,1.572,2.019,1.854,3.498H2.19z" fill="rgb(255,255,255)">
                                    </path>
                                </svg>
                            </div>

                            <div style="line-height: 1; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 192px; height: 39px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 14px; letter-spacing: normal; pointer-events: all;">
                                <div><span style="font-weight: 700;">Đối với khách hàng của bạn</span></div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>

                            <div style="line-height: 1.4; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 178px; height: 172px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 12px; letter-spacing: normal;  pointer-events: all;">
                                <div>Trải nghiệm mua hàng nhanh chóng</div>
                                <div>Được chăm sóc kỉ lưỡng hơn</div>
                                <div>Tỉ lệ khách hàng quay lại mua hàng cao</div>
                                <div>Nhận được thông tin khuyến mãi, voucher dễ dàng</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="discover-atp-care-div-sale-2">
                            <div style="pointer-events: all; transform: rotate(0deg);margin: 10px 0px 0 10px;text-align: center; width: 32px; height: 32px;opacity: 1; filter: none;">
                                <svg version="1.0" id="Layer_1_1578933417340" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 50 50" style="transform: scaleX(1);" xml:space="preserve" fill="rgb(255,255,255)">
                                    <g>
                                        <path d="M47,9H33V6c0-1.654-1.346-3-3-3H20c-1.654,0-3,1.346-3,3v3H3c-1.654,0-3,1.346-3,3v32c0,1.654,1.346,3,3,3h44
                                            c1.654,0,3-1.346,3-3V12C50,10.346,48.654,9,47,9z M19,6c0-0.551,0.449-1,1-1h10c0.552,0,1,0.449,1,1v3H19V6z M48,44
                                            c0,0.552-0.448,1-1,1H3c-0.551,0-1-0.448-1-1V29.829C2.313,29.939,2.649,30,3,30h44c0.351,0,0.688-0.061,1-0.171V44z M48,27
                                            c0,0.552-0.448,1-1,1H3c-0.551,0-1-0.448-1-1V12c0-0.551,0.449-1,1-1h44c0.552,0,1,0.449,1,1V27z" fill="rgb(255,255,255)"></path>
                                        <circle cx="25" cy="24" r="2" fill="rgb(255,255,255)"></circle>
                                    </g>
                                </svg>
                            </div>

                            <div style="line-height: 1; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 192px; height: 39px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 14px; letter-spacing: normal; pointer-events: all;">
                                <div><span style="font-weight: 700;">Đối với chủ Shop, chủ doanh nghiệp</span></div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>

                            <div style="line-height: 1.4; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 178px; height: 172px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 12px; letter-spacing: normal;  pointer-events: all;">
                                <div>Quản lý Fanpage, đơn hàng tổng thể</div>
                                <div>Giảm thiểu "cướp đơn"</div>
                                <div>Tiết kiệm thời gian và tâm trí</div>
                                <div>Chia việc, quản lý nhân viên trực page dễ dàng</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="discover-atp-care-div-sale-1">
                    <div style="pointer-events: all; transform: rotate(0deg);margin: 10px 0px 0 10px;text-align: center; width: 32px; height: 32px;opacity: 1; filter: none;">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50.128"
                             style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%"
                             fill="rgb(255,255,255)">
                            <path d="M25,0C11.215,0,0,11.215,0,25c0,12.352,8.833,22.728,21.006,24.683c1.391,0.296,2.766,0.445,4.088,0.445
                                c7.787,0,14.331-3.612,17.116-6.969l0.08-0.103C47.193,38.358,50,31.793,50,25C50,11.215,38.785,0,25,0z M25,48
                                c-1.216,0-2.436-0.096-3.627-0.284c-5.053-1.087-9.313-4.03-11.16-5.463c1.412-0.98,3.131-1.6,4.804-2.201
                                c2.664-0.959,5.18-1.865,6.039-4.175l0.059-0.258c0.057-0.626,0.083-0.999,0.095-1.301l0.038-0.934l-0.93-0.101
                                c-3.752-0.405-5.604-1.167-6.135-1.546c0.978-1.579,1.038-4.218,1.111-7.463c0.164-7.25,0.349-15.469,9.758-16.184
                                c1.828,0,2.766,0.627,3.084,0.896l0.296,0.25l0.388-0.014c2.828-0.111,4.557,1.283,5.471,4.404c0.835,2.853,0.834,6.63,0.833,9.963
                                c-0.001,3.604-0.002,6.544,0.982,8.104c-0.58,0.453-2.491,1.218-6.334,1.61l-0.927,0.095l0.028,0.931
                                c0.016,0.501,0.037,0.983,0.063,1.284l0.059,0.261c0.86,2.313,3.438,3.331,6.168,4.409c1.635,0.646,3.315,1.31,4.701,2.267
                                C35.713,46.073,30.479,48,25,48z M41.361,41.166c-1.663-1.239-3.668-2.03-5.464-2.74c-2.338-0.923-4.366-1.725-4.979-3.128
                                c-0.003-0.034-0.005-0.07-0.007-0.107c3.551-0.445,7.354-1.428,7.354-3.59v-0.848l-0.44-0.073c-0.704-0.911-0.703-4.185-0.702-7.087
                                c0.001-3.467,0.003-7.396-0.913-10.525c-1.136-3.88-3.522-5.848-7.093-5.848c-0.002,0-0.003,0-0.005,0
                                c-0.712-0.5-2.018-1.124-4.124-1.124c-0.004,0-0.008,0-0.013,0C13.685,6.949,13.45,17.349,13.294,24.23
                                c-0.061,2.684-0.118,5.232-0.759,6.37h-0.504v0.592L10.6,32.609h1.749c0.96,1.436,3.959,2.172,6.799,2.549
                                c-0.003,0.043-0.007,0.088-0.012,0.134c-0.596,1.365-2.547,2.067-4.796,2.878c-1.937,0.696-4.107,1.478-5.864,2.885
                                C4.435,36.896,2,31.221,2,25C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,31.13,45.649,36.836,41.361,41.166z"
                                  fill="rgb(255,255,255)">
                            </path>
                        </svg>
                    </div>

                    <div style="line-height: 1; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 192px; height: 39px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 14px; letter-spacing: normal; pointer-events: all;">
                        <div><span style="font-weight: 700;">Đối với nhân viên trực Fanpage</span></div>
                        <div><span style="font-weight: 700;"><br></span></div>
                    </div>

                    <div style="line-height: 1.4; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 178px; height: 172px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 12px; letter-spacing: normal;  pointer-events: all;">
                        <div>Chia tag quản lý khách hàng dễ dàng, trực quan</div>
                        <div>Chăm sóc khách hàng bằng tag và nhắn tin lại tiện lợi</div>
                        <div>Làm việc nhanh chóng, hiệu suất hơn nhờ mẫu tin nhắn soạn sẵn</div>
                        <div>Báo cáo dễ dàng nhờ thống kê chi tiết</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="width996">

        <div class="col-md-12 col-lg-12 discover-atp-care-div-sale-1-2-3 ">
            <div class="col-lg div-atp-care-content">
                <span style="font-weight: 700;">Với những tính năng được tối ưu từ những trải nghiệm thực tế, ATP Care hiểu hơn hết những khó khăn của khách hàng và chính chúng tôi đang áp dụng giải pháp này hiệu quả với những tính năng mà bạn có thể tham khảo dưới đây.</span>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 discover-atp-care-full-div-sale-3">
                    <div class="discover-atp-care-div-sale-3">
                        <div style="pointer-events: all; transform: rotate(0deg);margin: 10px 0px 0 10px;text-align: center; width: 32px; height: 32px;opacity: 1; filter: none;">
                            <svg version="1.0" id="Layer_1_1578850629440" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50.128"
                                 style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%"
                                 fill="rgb(255,255,255)">
                            <path d="M25,0C11.215,0,0,11.215,0,25c0,12.352,8.833,22.728,21.006,24.683c1.391,0.296,2.766,0.445,4.088,0.445
                                c7.787,0,14.331-3.612,17.116-6.969l0.08-0.103C47.193,38.358,50,31.793,50,25C50,11.215,38.785,0,25,0z M25,48
                                c-1.216,0-2.436-0.096-3.627-0.284c-5.053-1.087-9.313-4.03-11.16-5.463c1.412-0.98,3.131-1.6,4.804-2.201
                                c2.664-0.959,5.18-1.865,6.039-4.175l0.059-0.258c0.057-0.626,0.083-0.999,0.095-1.301l0.038-0.934l-0.93-0.101
                                c-3.752-0.405-5.604-1.167-6.135-1.546c0.978-1.579,1.038-4.218,1.111-7.463c0.164-7.25,0.349-15.469,9.758-16.184
                                c1.828,0,2.766,0.627,3.084,0.896l0.296,0.25l0.388-0.014c2.828-0.111,4.557,1.283,5.471,4.404c0.835,2.853,0.834,6.63,0.833,9.963
                                c-0.001,3.604-0.002,6.544,0.982,8.104c-0.58,0.453-2.491,1.218-6.334,1.61l-0.927,0.095l0.028,0.931
                                c0.016,0.501,0.037,0.983,0.063,1.284l0.059,0.261c0.86,2.313,3.438,3.331,6.168,4.409c1.635,0.646,3.315,1.31,4.701,2.267
                                C35.713,46.073,30.479,48,25,48z M41.361,41.166c-1.663-1.239-3.668-2.03-5.464-2.74c-2.338-0.923-4.366-1.725-4.979-3.128
                                c-0.003-0.034-0.005-0.07-0.007-0.107c3.551-0.445,7.354-1.428,7.354-3.59v-0.848l-0.44-0.073c-0.704-0.911-0.703-4.185-0.702-7.087
                                c0.001-3.467,0.003-7.396-0.913-10.525c-1.136-3.88-3.522-5.848-7.093-5.848c-0.002,0-0.003,0-0.005,0
                                c-0.712-0.5-2.018-1.124-4.124-1.124c-0.004,0-0.008,0-0.013,0C13.685,6.949,13.45,17.349,13.294,24.23
                                c-0.061,2.684-0.118,5.232-0.759,6.37h-0.504v0.592L10.6,32.609h1.749c0.96,1.436,3.959,2.172,6.799,2.549
                                c-0.003,0.043-0.007,0.088-0.012,0.134c-0.596,1.365-2.547,2.067-4.796,2.878c-1.937,0.696-4.107,1.478-5.864,2.885
                                C4.435,36.896,2,31.221,2,25C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,31.13,45.649,36.836,41.361,41.166z"
                                  fill="rgb(255,255,255)">
                            </path>
                        </svg>
                        </div>

                        <div style="line-height: 1; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 192px; height: 39px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 14px; letter-spacing: normal; pointer-events: all;">
                            <div><span style="font-weight: 700;">Đối với nhân viên trực Fanpage</span></div>
                            <div><span style="font-weight: 700;"><br></span></div>
                        </div>

                        <div style="line-height: 1.4; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 178px; height: 172px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 12px; letter-spacing: normal;  pointer-events: all;">
                            <div>Chia tag quản lý khách hàng dễ dàng, trực quan</div>
                            <div>Chăm sóc khách hàng bằng tag và nhắn tin lại tiện lợi</div>
                            <div>Làm việc nhanh chóng, hiệu suất hơn nhờ mẫu tin nhắn soạn sẵn</div>
                            <div>Báo cáo dễ dàng nhờ thống kê chi tiết</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 discover-atp-care-full-div-sale-2">
                    <div class="discover-atp-care-div-sale-2">
                        <div style="pointer-events: all; transform: rotate(0deg);margin: 10px 0px 0 10px;text-align: center; width: 32px; height: 32px;opacity: 1; filter: none;">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <svg version="1.0" id="Layer_1_1578850629440" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50.128"
                                 style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%"
                                 fill="rgb(255,255,255)">
                            <path d="M25,0C11.215,0,0,11.215,0,25c0,12.352,8.833,22.728,21.006,24.683c1.391,0.296,2.766,0.445,4.088,0.445
                                c7.787,0,14.331-3.612,17.116-6.969l0.08-0.103C47.193,38.358,50,31.793,50,25C50,11.215,38.785,0,25,0z M25,48
                                c-1.216,0-2.436-0.096-3.627-0.284c-5.053-1.087-9.313-4.03-11.16-5.463c1.412-0.98,3.131-1.6,4.804-2.201
                                c2.664-0.959,5.18-1.865,6.039-4.175l0.059-0.258c0.057-0.626,0.083-0.999,0.095-1.301l0.038-0.934l-0.93-0.101
                                c-3.752-0.405-5.604-1.167-6.135-1.546c0.978-1.579,1.038-4.218,1.111-7.463c0.164-7.25,0.349-15.469,9.758-16.184
                                c1.828,0,2.766,0.627,3.084,0.896l0.296,0.25l0.388-0.014c2.828-0.111,4.557,1.283,5.471,4.404c0.835,2.853,0.834,6.63,0.833,9.963
                                c-0.001,3.604-0.002,6.544,0.982,8.104c-0.58,0.453-2.491,1.218-6.334,1.61l-0.927,0.095l0.028,0.931
                                c0.016,0.501,0.037,0.983,0.063,1.284l0.059,0.261c0.86,2.313,3.438,3.331,6.168,4.409c1.635,0.646,3.315,1.31,4.701,2.267
                                C35.713,46.073,30.479,48,25,48z M41.361,41.166c-1.663-1.239-3.668-2.03-5.464-2.74c-2.338-0.923-4.366-1.725-4.979-3.128
                                c-0.003-0.034-0.005-0.07-0.007-0.107c3.551-0.445,7.354-1.428,7.354-3.59v-0.848l-0.44-0.073c-0.704-0.911-0.703-4.185-0.702-7.087
                                c0.001-3.467,0.003-7.396-0.913-10.525c-1.136-3.88-3.522-5.848-7.093-5.848c-0.002,0-0.003,0-0.005,0
                                c-0.712-0.5-2.018-1.124-4.124-1.124c-0.004,0-0.008,0-0.013,0C13.685,6.949,13.45,17.349,13.294,24.23
                                c-0.061,2.684-0.118,5.232-0.759,6.37h-0.504v0.592L10.6,32.609h1.749c0.96,1.436,3.959,2.172,6.799,2.549
                                c-0.003,0.043-0.007,0.088-0.012,0.134c-0.596,1.365-2.547,2.067-4.796,2.878c-1.937,0.696-4.107,1.478-5.864,2.885
                                C4.435,36.896,2,31.221,2,25C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,31.13,45.649,36.836,41.361,41.166z"
                                  fill="rgb(255,255,255)">
                            </path>
                        </svg>
                        </div>

                        <div style="line-height: 1; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 192px; height: 39px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 14px; letter-spacing: normal; pointer-events: all;">
                            <div><span style="font-weight: 700;">Đối với nhân viên trực Fanpage</span></div>
                            <div><span style="font-weight: 700;"><br></span></div>
                        </div>

                        <div style="line-height: 1.4; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 178px; height: 172px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 12px; letter-spacing: normal;  pointer-events: all;">
                            <div>Chia tag quản lý khách hàng dễ dàng, trực quan</div>
                            <div>Chăm sóc khách hàng bằng tag và nhắn tin lại tiện lợi</div>
                            <div>Làm việc nhanh chóng, hiệu suất hơn nhờ mẫu tin nhắn soạn sẵn</div>
                            <div>Báo cáo dễ dàng nhờ thống kê chi tiết</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="discover-atp-care-div-sale-1">
                        <div style="pointer-events: all; transform: rotate(0deg);margin: 10px 0px 0 10px;text-align: center; width: 32px; height: 32px;opacity: 1; filter: none;">
                            <!--?xml version="1.0" encoding="utf-8"?-->
                            <svg version="1.0" id="Layer_1_1578850629440" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50.128"
                                 style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%"
                                 fill="rgb(255,255,255)">
                            <path d="M25,0C11.215,0,0,11.215,0,25c0,12.352,8.833,22.728,21.006,24.683c1.391,0.296,2.766,0.445,4.088,0.445
                                c7.787,0,14.331-3.612,17.116-6.969l0.08-0.103C47.193,38.358,50,31.793,50,25C50,11.215,38.785,0,25,0z M25,48
                                c-1.216,0-2.436-0.096-3.627-0.284c-5.053-1.087-9.313-4.03-11.16-5.463c1.412-0.98,3.131-1.6,4.804-2.201
                                c2.664-0.959,5.18-1.865,6.039-4.175l0.059-0.258c0.057-0.626,0.083-0.999,0.095-1.301l0.038-0.934l-0.93-0.101
                                c-3.752-0.405-5.604-1.167-6.135-1.546c0.978-1.579,1.038-4.218,1.111-7.463c0.164-7.25,0.349-15.469,9.758-16.184
                                c1.828,0,2.766,0.627,3.084,0.896l0.296,0.25l0.388-0.014c2.828-0.111,4.557,1.283,5.471,4.404c0.835,2.853,0.834,6.63,0.833,9.963
                                c-0.001,3.604-0.002,6.544,0.982,8.104c-0.58,0.453-2.491,1.218-6.334,1.61l-0.927,0.095l0.028,0.931
                                c0.016,0.501,0.037,0.983,0.063,1.284l0.059,0.261c0.86,2.313,3.438,3.331,6.168,4.409c1.635,0.646,3.315,1.31,4.701,2.267
                                C35.713,46.073,30.479,48,25,48z M41.361,41.166c-1.663-1.239-3.668-2.03-5.464-2.74c-2.338-0.923-4.366-1.725-4.979-3.128
                                c-0.003-0.034-0.005-0.07-0.007-0.107c3.551-0.445,7.354-1.428,7.354-3.59v-0.848l-0.44-0.073c-0.704-0.911-0.703-4.185-0.702-7.087
                                c0.001-3.467,0.003-7.396-0.913-10.525c-1.136-3.88-3.522-5.848-7.093-5.848c-0.002,0-0.003,0-0.005,0
                                c-0.712-0.5-2.018-1.124-4.124-1.124c-0.004,0-0.008,0-0.013,0C13.685,6.949,13.45,17.349,13.294,24.23
                                c-0.061,2.684-0.118,5.232-0.759,6.37h-0.504v0.592L10.6,32.609h1.749c0.96,1.436,3.959,2.172,6.799,2.549
                                c-0.003,0.043-0.007,0.088-0.012,0.134c-0.596,1.365-2.547,2.067-4.796,2.878c-1.937,0.696-4.107,1.478-5.864,2.885
                                C4.435,36.896,2,31.221,2,25C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,31.13,45.649,36.836,41.361,41.166z"
                                  fill="rgb(255,255,255)">
                            </path>
                        </svg>
                        </div>

                        <div style="line-height: 1; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 192px; height: 39px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 14px; letter-spacing: normal; pointer-events: all;">
                            <div><span style="font-weight: 700;">Đối với nhân viên trực Fanpage</span></div>
                            <div><span style="font-weight: 700;"><br></span></div>
                        </div>

                        <div style="line-height: 1.4; transform: rotate(0deg); padding: 5px; margin: 15px 0 0 5px; overflow-wrap: break-word; color: rgb(255, 255, 255); width: 178px; height: 172px; overflow: hidden; user-select: none; font-family:'Source Sans Pro',sans-serif; text-align: left; font-size: 12px; letter-spacing: normal;  pointer-events: all;">
                            <div>Chia tag quản lý khách hàng dễ dàng, trực quan</div>
                            <div>Chăm sóc khách hàng bằng tag và nhắn tin lại tiện lợi</div>
                            <div>Làm việc nhanh chóng, hiệu suất hơn nhờ mẫu tin nhắn soạn sẵn</div>
                            <div>Báo cáo dễ dàng nhờ thống kê chi tiết</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- &nbsp; -->
    <div class="discover-div-container-discover">
        <div class="col-md-12 col-lg-12 info-atp-care">
            <div class="discover-full-div-discover">
                <div class="discover-background-content">
                    <div class="discover-full-content-title">
                        <span>LỢI&nbsp;THẾ&nbsp;CẠNH&nbsp;TRANH&nbsp;KHI&nbsp;SỬ&nbsp;DỤNG&nbsp;ATP CARE</span>
                    </div>

                    <div class="row col-md-12 col-lg-12 discover-full-content-content">

                        <div class="col-lg-6 discover-div-discover-one">

                            <div class="discover-div-discover">
                                <div class="discover-background-content">
                                    <div class="discover-content-title">
                                        <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tính Năng Quản Lý Fanpage</span>
                                    </div>
                                    <div class="discover-content-content">
                                        <p>Quản lý nhiều fanpage cùng lúc.</p>
                                        <p>Quản lý Fanpage dựa trên nhân viên, một page có thể có nhiều nhân viên quản lý và ngược lại.</p>
                                        <p>Thực hiện thêm tính năng chatbot trực tiếp từ ATP Care cho fanpage.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="discover-div-discover">
                                <div class="discover-background-content">
                                    <div class="discover-content-title">
                                        <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tính Năng Quản Lý Tin Nhắn</span>
                                    </div>
                                    <div class="discover-content-content">
                                        <p>Liệt kê tin nhắn</p>
                                        <p>Reply tin nhắn</p>
                                        <p>Theo dõi lịch sử</p>
                                        <p>Quản lý Inbox theo phân loại tự tạo</p>
                                        <p>Từ inbox lọc ra những conversations có số điện thoại, đã xem, chưa xem.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="discover-div-discover">
                                <div class="discover-background-content">
                                    <div class="discover-content-title">
                                        <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tính Năng Hỗ Trợ Bán Hàng</span>
                                    </div>
                                    <div class="discover-content-content">
                                        <p>Quản lý thêm, sửa, xoá khách hàng</p>
                                        <p>Quản lý đơn hàng, thêm, sửa, xoá đơn hàng</p>
                                        <p>Quản lý kho, thêm, sửa, xoá kho hàng</p>
                                        <p>Quản lý các sản phẩm trên page, thêm, sửa, xoá</p>
                                        <p>Từ inbox lọc ra những conversations có số điện thoại, đã xem, chưa xem.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="discover-div-discover">
                                <div class="discover-background-content">
                                    <div class="discover-content-title">
                                        <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Thông kê, Đo lường hiệu quả</span>
                                    </div>
                                    <div class="discover-content-content">
                                        <p>Thống kê doanh thu, tăng trưởng</p>
                                        <p>Thống kê tình hình hoạt động của page thông qua lượt comment và inbox theo thời gian.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 discover-div-discover-two">

                            <div class="discover-div-discover">
                                <div class="discover-background-content">
                                    <div class="discover-content-title">
                                        <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tính năng quản lý Comment</span>
                                    </div>
                                    <div class="discover-content-content">
                                        <p>Liệt kê Comment</p>
                                        <p>Reply comment</p>
                                        <p>Quản lý Comment theo phân loại tự tạo</p>
                                        <p>Lọc comment theo trạng thái đã xem, chưa xem hay có số điện thoại.</p>
                                        <p>Ẩn comment theo từ khóa, ẩn tất cả comment, ẩn comment có sđt - email</p>
                                    </div>
                                </div>
                            </div>

                            <div class="discover-div-discover">
                                <div class="discover-background-content">
                                    <div class="discover-content-title">
                                        <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Tính Năng Quản Lý Bài Viết</span>
                                    </div>
                                    <div class="discover-content-content">
                                        <p>Quản lý bài viết</p>
                                        <p>Xem chi tiết bài viết</p>
                                        <p>Đăng bài trực tiếp và đăng bài đặt lịch</p>
                                        <p>Tích hợp tính năng tìm kiếm nội dung hot trend trên Facebook</p>
                                    </div>
                                </div>
                            </div>

                            <div class="discover-div-discover">
                                <div class="discover-background-content">
                                    <div class="discover-content-title">
                                        <span><i class="fa fa-clock-o" style="margin-right: 3px;"></i>Lưu Trữ Thông Tin Khách Hàng</span>
                                    </div>
                                    <div class="discover-content-content">
                                        <p>Lấy được Thông tin khách hàng (sđt, họ tên, giới tính…)</p>
                                        <p>Lưu trữ trạng thái mua hàng của khách hàng theo phân loại tự tạo (khách hàng đã mua, khách hàng đang dùng thử, khách hàng quan tâm…)</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
