.discover-atp-care-title {
    MIN-WIDTH: 400PX;
    margin-top: 20px
}

.div-atp-care-content {
    line-height: 1.5;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
    overflow-wrap: break-word;
    color: rgb(66, 66, 66);
    font-family: 'lato-bold', sans-serif;
    overflow: hidden;
    user-select: none;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
}

.discover-atp-care-div-container-discover {
    width: calc(100%);
    overflow:auto;;
    height: calc(100% - 2px);
}

.discover-atp-care-div-container-discover::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.discover-atp-care-div-container-discover::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.discover-atp-care-div-container-discover::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    /* border:1px solid #333333;*/
}

.discover-atp-care-div-container-discover::-webkit-scrollbar-thumb:active {
    background-color: #ccc;
    /*   border:1px solid #333333;*/
}

.discover-atp-care-div-container-discover::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.full-div-discover {
    margin-top: 15px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 5PX -3px 10px -6px;
}

.div-discover {
    margin-top: 30px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 5PX -3px 10px -6px;
}

.div-discover-one {
    padding-left: 0;
    margin-bottom: 15px;
}

.div-discover-two {
    padding-right: 0;
    margin-bottom: 15px;
}

.full-content-title {
    overflow: hidden;
    padding: 10px 0 0 10px;
    text-decoration: none;
    background: rgb(0, 116, 241);
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.3;
    font-family: lato-regular, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 38px;
    border-radius: 10px 10px 0 0;
}

.content-title {
    pointer-events: all;
    transform: rotate(0deg);
    overflow: hidden;
    padding: 10px 0 0 10px;
    text-decoration: none;
    background: #c7e6ff;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.3;
    font-family: lato-regular, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 116, 241);
    height: 38px;
    border-radius: 5px 5px 0 0;
}

.full-content-content {
    line-height: 1.3;
    transform: rotate(0deg);
    padding: 5px 20px 10px 20px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: lato-regular, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
    pointer-events: all;
    overflow-y: auto;
    height: calc(100vh - 130px);
}

.full-content-content-content {
    margin: 0
}

.content-content {
    line-height: 1.3;
    transform: rotate(0deg);
    padding: 25px 30px 8px 30px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: lato-regular, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
    pointer-events: all;
    padding-top: 1px;
}

.discover-atp-care-div-sale-3 {

    margin-top: 100px;
    transform: rotate(0deg);
    box-sizing: border-box;
    background: linear-gradient(45deg, rgb(16, 153, 195), rgb(42, 243, 153));
    padding-top: 1px;

    border: 0 solid rgb(33, 150, 243);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0px 5px 5px -5px;
    max-width: 200px;
    pointer-events: all;
}

.discover-atp-care-div-sale-2 {
    margin-top: 20px;
    padding-top: 1px;
    transform: rotate(0deg);
    box-sizing: border-box;
    background: linear-gradient(45deg, rgb(10, 113, 254), rgb(98, 20, 243));


    border: 0 solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px;
    max-width: 200px;
    pointer-events: all;
}

.discover-atp-care-div-sale-1 {
    padding-top: 1px;
    max-width: 200px;
    transform: rotate(0deg);
    box-sizing: border-box;
    background: linear-gradient(45deg, rgb(255, 144, 138), rgb(255, 208, 117));



    border: 0 solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0 5px 5px -5px;

    pointer-events: all;
}


.discover-atp-care-full-div-sale-3 {
    padding: 0 0 0 30px !important;
}

.discover-atp-care-full-div-sale-2 {
    padding: 0 0 0 20px !important;
}

@media only screen and (max-width: 991px) {

    .div-discover-one {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 0 !important;
    }

    .div-discover-two {
        padding-left: 0 !important;
        padding-right: 0 !important;

    }
}

.width995 {
    display: inline-block;
}

.width996 {
    display: none;

}

@media only screen and (max-width: 1088px) {

    .width995 {
        display: none;
    }

    .width996 {
        display: inline-block;
    }

    .discover-atp-care-div-sale-1-2-3 {
        min-width: 630px;
    }

    .info-atp-care {
        min-width: 630px;
    }

    .discover-atp-care-div-sale-1,
    .discover-atp-care-div-sale-3{
        margin-top: 20px !important;
    }

    .div-atp-care-content{
        margin-left: 10px !important;
    }

    .discover-atp-care-full-div-sale-3 {
        padding: 0 0 0 30px !important;
    }

    .discover-atp-care-full-div-sale-2 {
        padding: 0 5px 0 20px !important;
    }

}

@media only screen and (max-width: 766px) {
    .discover-atp-care-div-sale-1-2-3
     {
        min-width: auto !important;
    }

    .info-atp-care {
        padding-right: 15px !important;
        min-width: auto !important;
    }

    .discover-atp-care-title {

        min-width: 232px !important;
        margin-top: 20px
    }

    .discover-atp-care-div-sale-2 {
        margin-left: 10px !important;
    }

    .discover-atp-care-div-sale-1 {
        margin-left: 15px !important;
    }
}

.info-atp-care {
    margin-left: 15px;
    padding-bottom: 35px;
    padding-right: 30px;
    width: calc(100% - 15px);
}