<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12" style="MIN-WIDTH: 400PX;">
        <div class="discover-full-div-discover">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>NHỮNG TÍNH NĂNG NỔI BẬT CỦA SIMPLE UID</span>
                </div>
                <div class="row col-md-12 col-lg-12 discover-full-content-content"
                     style="padding-bottom: 20px;">

                    <div class="div-discover-simple-uid-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-uid-div-detail-title">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                                     style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%"
                                     fill="rgb(0,116,241)">
<path d="M25,0C11.215,0,0,11.215,0,25s11.215,25,25,25s25-11.215,25-25S38.785,0,25,0z M25,48C12.318,48,2,37.683,2,25
	C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,37.683,37.683,48,25,48z M39.9,25.3c0,1.031-0.43,1.851-0.947,2.441
	c0.521,0.544,0.947,1.322,0.947,2.358c0,1.412-0.891,2.419-1.77,3.019c0.148,0.404,0.27,0.909,0.27,1.481
	c0.001,0.598,0.002,1.928-1.667,2.909C35.141,38.445,32.283,38.9,28,38.9c-7.77,0-10.481-0.86-12.66-1.552
	C14.022,36.93,12.981,36.6,11,36.6v-2c2.292,0,3.521,0.391,4.945,0.843C17.992,36.092,20.54,36.9,28,36.9
	c4.812,0,6.854-0.607,7.721-1.116c0.681-0.4,0.68-0.716,0.68-1.152c0-0.766-0.402-1.334-0.406-1.339
	c-0.181-0.252-0.238-0.579-0.148-0.876c0.089-0.298,0.309-0.541,0.599-0.651C36.453,31.762,37.9,31.18,37.9,30.1
	c0-0.995-0.942-1.36-0.952-1.363c-0.372-0.14-0.626-0.487-0.647-0.885c-0.021-0.396,0.196-0.769,0.552-0.946
	c0.035-0.019,1.048-0.562,1.048-1.605c0-1.066-1.105-1.447-1.117-1.451c-0.462-0.154-0.746-0.619-0.672-1.101
	c0.053-0.341,0.188-1.356,0.188-1.948c0-0.418-0.528-1.2-1.8-1.2c-1.685,0-2.996,0.217-4.656,0.491
	c-0.79,0.131-1.639,0.271-2.612,0.4c-1.659,0.193-2.5-0.445-2.917-1.013c-0.73-0.999-0.704-2.562,0.073-4.288l0.263-0.546
	c0.993-2.046,2.019-4.161,1.088-5.735c-0.37-0.646-1.168-1.06-1.498-0.993c-0.125,0.025-0.215,0.321-0.249,0.604
	c-0.471,4.955-3.094,7.035-5.202,8.707c-0.762,0.604-1.482,1.176-2.028,1.82c-0.481,0.583-0.919,1.202-1.343,1.801
	C14.165,22.623,12.978,24.3,11,24.3v-2c0.897,0,1.644-0.991,2.788-2.607c0.445-0.629,0.905-1.28,1.441-1.929
	c0.681-0.805,1.514-1.466,2.319-2.104c1.997-1.584,4.062-3.223,4.456-7.354c0.219-1.831,1.36-2.252,1.84-2.35
	c1.387-0.285,2.963,0.792,3.623,1.949c1.47,2.486,0.091,5.329-1.018,7.613l-0.248,0.515c-0.502,1.116-0.495,1.961-0.272,2.266
	c0.194,0.265,0.741,0.245,1.056,0.209c0.933-0.124,1.761-0.261,2.532-0.389C31.199,17.84,32.651,17.6,34.5,17.6
	c2.347,0,3.8,1.661,3.8,3.2c0,0.463-0.058,1.058-0.113,1.521C39.018,22.838,39.9,23.803,39.9,25.3z"
      fill="rgb(0,116,241)"></path>
</svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-uid-div-detail-content">
                                <div>Quét tương tác bài viết của một trang cá nhân hoặc Fanpage.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="div-discover-simple-uid-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-uid-div-detail-title">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
                                     height="100%" viewBox="0 0 50 50" style="transform: scaleX(1);"
                                     xml:space="preserve" fill="rgb(0,116,241)">
<path d="M44,18h-0.028C43.751-0.001,42.296,0,41,0c-1.603,0-2.58,1.549-3.934,3.694C34.396,7.922,29.93,15,17,15
	c-0.009,0-0.017,0.005-0.027,0.005H6.308c-3.475,0-6.303,2.801-6.303,6.245v3.5c0,2.417,1.396,4.513,3.429,5.551
	c0.016,0.013,0.024,0.031,0.041,0.043c2.025,1.429,3.93,11.404,4.647,15.16c0.166,0.864,0.668,3.494,4.036,3.494h3.474
	c2.11,0,3.37-1.296,3.37-3.468c0-1.9-0.772-2.768-2.032-4.027c-0.373-0.373-1.83-3.393-1.957-10.509h1.958
	C16.981,30.994,16.99,31,17,31c12.981,0,17.231,6.788,20.044,11.28c1.352,2.159,2.329,3.72,4.038,3.72c1.322,0,2.686,0.002,2.892-18
	H44c2.757,0,5-2.243,5-5S46.757,18,44,18z M1.995,21.25c0-2.347,1.935-4.255,4.313-4.255h9.697v12.011h-1.976
	C14.019,29.006,14.01,29,14,29s-0.019,0.006-0.029,0.006H6.308c-2.378,0-4.313-1.909-4.313-4.256V21.25z M15.556,42.918
	c1.172,1.171,1.446,1.553,1.446,2.612c0,1.223-0.524,1.468-1.37,1.468h-3.474c-1.297,0-1.8-0.454-2.071-1.869
	c-1.391-7.282-2.525-11.661-3.735-14.135h6.659C13.129,37.544,14.384,41.747,15.556,42.918z M40.812,43.947
	c-0.536-0.274-1.348-1.57-2.072-2.728c-2.791-4.458-7.442-11.826-20.745-12.186V16.966c13.249-0.362,17.945-7.739,20.762-12.204
	c0.694-1.1,1.467-2.324,1.99-2.667C41.164,3.049,42,6.971,42,23C42,39.048,41.244,43.001,40.812,43.947z M44,26h-0.009
	C43.997,25.046,44,24.047,44,23s-0.003-2.046-0.01-3H44c1.654,0,3,1.346,3,3S45.654,26,44,26z"
      fill="rgb(0,116,241)"></path>
</svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-uid-div-detail-content">
                                <div>Quét tương tác một bài viết bất kỳ trên Facebook.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="div-discover-simple-uid-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-uid-div-detail-title">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50.123 50" style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%" fill="rgb(0,116,241)">
<path d="M38.725,41.587h11.398l-0.063-1.06c-0.311-5.208-4.443-6.839-7.765-8.149c-1.844-0.728-3.59-1.417-4.097-2.528
	c-0.077-0.935-0.07-1.666-0.063-2.507l0.002-0.339c0.796-0.832,1.516-2.47,1.8-3.841c0.615-0.347,1.346-1.148,1.569-2.993
	c0.109-0.923-0.146-1.646-0.513-2.14c0.503-1.74,1.467-6.042-0.266-8.83c-0.738-1.188-1.85-1.941-3.309-2.243
	c-0.836-1.014-2.388-1.565-4.456-1.565C30.591,5.436,28.684,6,27.289,7.073c-0.624-0.397-1.343-0.678-2.155-0.838
	c-0.944-1.193-2.754-1.843-5.184-1.843c-3.681,0.068-6.375,1.193-8.006,3.343c-1.933,2.548-2.292,6.41-1.069,11.484
	c-0.451,0.551-0.783,1.401-0.65,2.513c0.265,2.205,1.122,3.104,1.844,3.465c0.343,1.731,1.288,3.681,2.208,4.597l0.002,0.468
	c0.009,1.015,0.017,1.896-0.08,3.033c-0.612,1.405-2.649,2.206-4.998,3.13c-3.908,1.537-8.771,3.45-9.136,9.517L0,47h40.124
	l-0.063-1.06C39.954,44.165,39.463,42.745,38.725,41.587z M29.277,19.25c0.581-1.98,1.78-7.125-0.27-10.423
	c-0.076-0.122-0.156-0.241-0.239-0.355c1.032-0.685,2.451-1.048,4.214-1.08c1.501,0,2.646,0.374,2.989,0.976l0.244,0.427
	l0.487,0.067c1.076,0.15,1.837,0.606,2.327,1.394c1.262,2.031,0.52,5.821-0.118,7.741l-0.157,0.73l0.576,0.432
	c0.003,0.001,0.258,0.2,0.189,0.772c-0.138,1.144-0.488,1.473-0.562,1.497l-0.821,0.07l-0.088,0.819
	c-0.161,1.499-1.08,3.108-1.374,3.336l-0.535,0.281l-0.005,1.39c-0.008,0.898-0.016,1.746,0.084,2.852l0.059,0.259
	c0.75,2.014,2.952,2.883,5.283,3.803c2.786,1.1,5.658,2.232,6.356,5.349H36.956c-1.764-1.49-4.006-2.376-5.999-3.163
	c-2.339-0.923-4.367-1.725-4.979-3.13c-0.096-1.135-0.088-2.016-0.079-3.028l0.003-0.479c0.897-0.917,1.821-2.866,2.157-4.602
	c0.704-0.364,1.579-1.259,1.842-3.453C30.033,20.641,29.715,19.802,29.277,19.25z M2.19,45c0.756-3.968,4.303-5.362,7.742-6.715
	c2.739-1.077,5.326-2.095,6.187-4.408l0.059-0.259c0.118-1.306,0.109-2.311,0.1-3.375l-0.005-0.925l0.018-0.595l-0.536-0.28
	c-0.438-0.298-1.607-2.315-1.8-4.119l-0.087-0.823l-0.825-0.068c-0.128-0.011-0.645-0.371-0.833-1.94
	c-0.096-0.807,0.296-1.091,0.298-1.092l0.635-0.386l-0.187-0.719c-1.214-4.671-1.013-8.251,0.582-10.352
	c1.243-1.638,3.413-2.497,6.432-2.552c1.877,0,3.265,0.469,3.712,1.253l0.244,0.428l0.488,0.068
	c1.336,0.186,2.284,0.755,2.897,1.742c1.536,2.472,0.647,7.04-0.12,9.349l-0.211,0.747l0.64,0.422
	c0.004,0.003,0.396,0.286,0.298,1.093c-0.188,1.569-0.705,1.93-0.833,1.94l-0.824,0.068l-0.088,0.822
	c-0.194,1.814-1.328,3.829-1.73,4.11l-0.535,0.28l-0.005,1.534c-0.009,1.062-0.018,2.066,0.1,3.37l0.059,0.259
	c0.86,2.312,3.437,3.33,6.166,4.407c1.935,0.764,3.903,1.542,5.387,2.789c0.105,0.189,0.271,0.341,0.471,0.429
	c0.904,0.896,1.572,2.019,1.854,3.498H2.19z" fill="rgb(0,116,241)"></path>
</svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-uid-div-detail-content">
                                <div>Quét bạn bè của một trang cá nhân.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="div-discover-simple-uid-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-uid-div-detail-title">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50.062 50" style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%" fill="rgb(0,116,241)">
<path d="M38.062,26c-6.617,0-12,5.383-12,12s5.383,12,12,12s12-5.383,12-12S44.679,26,38.062,26z M38.062,48
	c-5.514,0-10-4.486-10-10s4.486-10,10-10s10,4.486,10,10S43.576,48,38.062,48z M26.9,30.437l-1.021,1.721
	c-0.816-0.485-1.446-1.273-1.82-2.28l-0.059-0.259c-0.118-1.304-0.109-2.308-0.1-3.37l0.005-1.533l0.535-0.281
	c0.401-0.281,1.536-2.295,1.73-4.11l0.088-0.822l0.824-0.068c0.128-0.011,0.645-0.371,0.833-1.941
	c0.098-0.806-0.294-1.089-0.298-1.092l-0.64-0.422l0.211-0.747c0.768-2.309,1.656-6.876,0.12-9.349
	c-0.613-0.987-1.561-1.557-2.897-1.743l-0.488-0.067L23.68,3.645c-0.447-0.785-1.834-1.253-3.712-1.253
	c-3.019,0.056-5.189,0.915-6.432,2.552c-1.594,2.101-1.795,5.681-0.582,10.352l0.187,0.719l-0.635,0.386
	c-0.002,0.001-0.394,0.286-0.298,1.092c0.188,1.569,0.705,1.93,0.833,1.94l0.825,0.068l0.087,0.823
	c0.193,1.804,1.363,3.822,1.8,4.119l0.535,0.281l-0.018,0.594l0.005,0.925c0.009,1.064,0.018,2.069-0.1,3.374l-0.059,0.259
	c-0.861,2.314-3.448,3.333-6.188,4.41C6.493,35.639,2.947,37.033,2.19,41h19.872h2.359l0.641,2h-3H0l0.064-1.06
	c0.364-6.065,5.228-7.979,9.135-9.516c2.35-0.924,4.387-1.726,4.999-3.132c0.096-1.136,0.088-2.018,0.08-3.032l-0.002-0.468
	c-0.919-0.917-1.864-2.866-2.208-4.596c-0.723-0.361-1.579-1.26-1.844-3.465c-0.133-1.112,0.2-1.962,0.65-2.513
	c-1.223-5.075-0.864-8.937,1.069-11.484c1.632-2.15,4.326-3.275,8.006-3.343c2.43,0,4.24,0.65,5.184,1.843
	c1.713,0.339,3.015,1.21,3.874,2.594c2.05,3.299,0.851,8.443,0.27,10.423c0.438,0.552,0.756,1.391,0.624,2.481
	c-0.266,2.204-1.121,3.103-1.844,3.464c-0.339,1.732-1.26,3.674-2.155,4.59l-0.003,0.479c-0.009,1.015-0.017,1.896,0.08,3.032
	C26.195,29.819,26.503,30.202,26.9,30.437z M39.062,37h5v2h-5v5h-2v-5h-5v-2h5v-5h2V37z" fill="rgb(0,116,241)"></path>
</svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-uid-div-detail-content">
                                <div>Quét thành viên của một nhóm.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>