<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12">
        <div class="discover-full-div-discover">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>NHỮNG TÍNH NĂNG NỔI BẬT CỦA SIMPLE LIVESTREAM</span>
                </div>
                <div class="row col-md-12 col-lg-12 discover-full-content-content" style="padding-bottom: 20px;">

                    <div class="div-discover-simple-livestream-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-livestream-div-detail-title">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
                                     height="100%" viewBox="0 0 50 50" style="transform: scaleX(1);"
                                     xml:space="preserve" fill="rgb(33,150,243)">
                                <g>
                                    <path d="M47,0H3C1.346,0,0,1.346,0,3v44c0,1.654,1.346,3,3,3h44c1.654,0,3-1.346,3-3V3C50,1.346,48.654,0,47,0z M48,47
                                        c0,0.552-0.448,1-1,1H3c-0.551,0-1-0.448-1-1V3c0-0.551,0.449-1,1-1h44c0.552,0,1,0.449,1,1V47z"
                                          fill="rgb(33,150,243)"></path>
                                    <path d="M13,32c-2.757,0-5,2.243-5,5s2.243,5,5,5s5-2.243,5-5S15.757,32,13,32z M13,40c-1.654,0-3-1.346-3-3s1.346-3,3-3
                                        s3,1.346,3,3S14.654,40,13,40z" fill="rgb(33,150,243)"></path>
                                    <path d="M13,8c-1.364,0-2.757,0.1-4.141,0.297C8.312,8.375,7.932,8.881,8.01,9.428c0.078,0.547,0.587,0.918,1.131,0.849
                                        C10.432,10.093,11.73,10,13,10c14.888,0,27,12.112,27,27c0,1.271-0.094,2.568-0.279,3.858c-0.078,0.546,0.302,1.053,0.849,1.132
                                        c0.048,0.007,0.096,0.01,0.143,0.01c0.489,0,0.917-0.359,0.989-0.858C41.899,39.759,42,38.365,42,37C42,21.009,28.99,8,13,8z"
                                          fill="rgb(33,150,243)"></path>
                                    <path d="M13,21c-1.411,0-2.846,0.198-4.266,0.589c-0.532,0.147-0.845,0.697-0.698,1.23c0.146,0.532,0.695,0.846,1.229,0.699
                                        C10.512,23.174,11.769,23,13,23c7.72,0,14,6.28,14,14c0,1.229-0.175,2.485-0.52,3.733c-0.147,0.533,0.165,1.083,0.697,1.23
                                        C27.268,41.988,27.356,42,27.445,42c0.438,0,0.841-0.29,0.963-0.733C28.801,39.845,29,38.409,29,37C29,28.178,21.822,21,13,21z"
                                          fill="rgb(33,150,243)"></path>
                                </g>
                                </svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-livestream-div-detail-content">
                                <div>Livestream webcam lên nhiều page, tường, nhóm cùng lúc.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="div-discover-simple-livestream-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-livestream-div-detail-title">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
                                     viewBox="0 0 27 32" fill="rgb(33,150,243)" style="transform: scaleX(1);">
                                    <g id="icomoon-ignore_1578987065638">
                                    </g>
                                    <path d="M0 3.2v25.6h26.667v-25.6h-26.667zM1.067 19.307l7.467-7.84 7.413 7.413 3.733-3.2 5.547 5.653h-24.16v-2.027zM25.6 27.733h-24.533v-5.333h24.533v5.333zM25.6 20.213l-5.813-6.027-3.733 3.2-7.52-7.467-7.467 7.84v-13.493h24.533v15.947z"
                                          fill="rgb(33,150,243)"></path>
                                    <path d="M19.733 11.733c1.493 0 2.667-1.173 2.667-2.667s-1.173-2.667-2.667-2.667c-1.493 0-2.667 1.173-2.667 2.667s1.173 2.667 2.667 2.667zM19.733 7.467c0.907 0 1.6 0.693 1.6 1.6s-0.693 1.6-1.6 1.6c-0.907 0-1.6-0.693-1.6-1.6s0.693-1.6 1.6-1.6z"
                                          fill="rgb(33,150,243)"></path>
                                </svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-livestream-div-detail-content">
                                <div>Livestream màn hình lên nhiều page, tường, nhóm cùng lúc.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="div-discover-simple-livestream-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-livestream-div-detail-title">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <svg version="1.0" id="Layer_1_1578987065641" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50"
                                     style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%"
                                     fill="rgb(33,150,243)">
                                    <path d="M46,15H18c-0.552,0-1,0.448-1,1v33c0,0.553,0.448,1,1,1h28c0.553,0,1-0.447,1-1V16C47,15.448,46.553,15,46,15z M45,48H19V17
                                        h26V48z M9,8h5v1c0,0.552,0.448,1,1,1h14c0.553,0,1-0.448,1-1V8h5v6h2V6h-7V4h8.1C38.546,4,39,4.454,39,4.9V14h2V4.9
                                        C41,3.355,39.645,2,38.1,2H30V1c0-0.552-0.447-1-1-1H15c-0.552,0-1,0.448-1,1v1H5.9C4.355,2,3,3.355,3,4.9V43c0,1.626,1.328,3,2.9,3
                                        H16v-2H5.9C5.475,44,5,43.572,5,43V4.9C5,4.454,5.454,4,5.9,4H14v2H7v36h9v-2H9V8z M16,2h12v6H16V2z M23,24c0-0.552,0.448-1,1-1h17
                                        c0.553,0,1,0.448,1,1s-0.447,1-1,1H24C23.448,25,23,24.552,23,24z M23,30c0-0.553,0.448-1,1-1h12c0.553,0,1,0.447,1,1s-0.447,1-1,1
                                        H24C23.448,31,23,30.553,23,30z M23,42c0-0.553,0.448-1,1-1h12c0.553,0,1,0.447,1,1s-0.447,1-1,1H24C23.448,43,23,42.553,23,42z
                                         M23,36c0-0.553,0.448-1,1-1h17c0.553,0,1,0.447,1,1s-0.447,1-1,1H24C23.448,37,23,36.553,23,36z"
                                          fill="rgb(33,150,243)">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-livestream-div-detail-content">
                                <div>Lập lịch livestream video lên nhóm 1 lần hoặc lặp lại theo ngày.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="div-discover-simple-livestream-div-detail">
                        <div style="height: 40%">
                            <div class="div-discover-simple-livestream-div-detail-title">
                                <svg version="1.0" id="Layer_1_1578987065644" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%"
                                     height="100%" viewBox="0 0 50 50" style="transform: scaleX(1);"
                                     xml:space="preserve" fill="rgb(33,150,243)">
                                    <path d="M37,19.326V14c0-2.757-2.243-5-5-5H5c-2.757,0-5,2.243-5,5v22c0,2.757,2.243,5,5,5h27c2.757,0,5-2.243,5-5v-5.326l13,7
                                        V12.326L37,19.326z M35,36c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V14c0-1.654,1.346-3,3-3h27c1.654,0,3,1.346,3,3V36z
                                         M48,34.326l-11-5.924v-6.805l11-5.923V34.326z" fill="rgb(33,150,243)">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-livestream-div-detail-content">
                                <div>Livestream lặp lại 1 hoặc nhiều video.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="div-discover-simple-livestream-div-detail" id="final-livestream">
                        <div style="height: 40%">
                            <div class="div-discover-simple-livestream-div-detail-title">
                                <!--?xml version="1.0" encoding="utf-8"?-->
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50.128"
                                     style="transform: scaleX(1);" xml:space="preserve" height="100%" width="100%"
                                     fill="rgb(33,150,243)">
                                <path d="M25,0C11.215,0,0,11.215,0,25c0,12.352,8.833,22.728,21.006,24.683c1.391,0.296,2.766,0.445,4.088,0.445
                                    c7.787,0,14.331-3.612,17.116-6.969l0.08-0.103C47.193,38.358,50,31.793,50,25C50,11.215,38.785,0,25,0z M25,48
                                    c-1.216,0-2.436-0.096-3.627-0.284c-5.053-1.087-9.313-4.03-11.16-5.463c1.412-0.98,3.131-1.6,4.804-2.201
                                    c2.664-0.959,5.18-1.865,6.039-4.175l0.059-0.258c0.057-0.626,0.083-0.999,0.095-1.301l0.038-0.934l-0.93-0.101
                                    c-3.752-0.405-5.604-1.167-6.135-1.546c0.978-1.579,1.038-4.218,1.111-7.463c0.164-7.25,0.349-15.469,9.758-16.184
                                    c1.828,0,2.766,0.627,3.084,0.896l0.296,0.25l0.388-0.014c2.828-0.111,4.557,1.283,5.471,4.404c0.835,2.853,0.834,6.63,0.833,9.963
                                    c-0.001,3.604-0.002,6.544,0.982,8.104c-0.58,0.453-2.491,1.218-6.334,1.61l-0.927,0.095l0.028,0.931
                                    c0.016,0.501,0.037,0.983,0.063,1.284l0.059,0.261c0.86,2.313,3.438,3.331,6.168,4.409c1.635,0.646,3.315,1.31,4.701,2.267
                                    C35.713,46.073,30.479,48,25,48z M41.361,41.166c-1.663-1.239-3.668-2.03-5.464-2.74c-2.338-0.923-4.366-1.725-4.979-3.128
                                    c-0.003-0.034-0.005-0.07-0.007-0.107c3.551-0.445,7.354-1.428,7.354-3.59v-0.848l-0.44-0.073c-0.704-0.911-0.703-4.185-0.702-7.087
                                    c0.001-3.467,0.003-7.396-0.913-10.525c-1.136-3.88-3.522-5.848-7.093-5.848c-0.002,0-0.003,0-0.005,0
                                    c-0.712-0.5-2.018-1.124-4.124-1.124c-0.004,0-0.008,0-0.013,0C13.685,6.949,13.45,17.349,13.294,24.23
                                    c-0.061,2.684-0.118,5.232-0.759,6.37h-0.504v0.592L10.6,32.609h1.749c0.96,1.436,3.959,2.172,6.799,2.549
                                    c-0.003,0.043-0.007,0.088-0.012,0.134c-0.596,1.365-2.547,2.067-4.796,2.878c-1.937,0.696-4.107,1.478-5.864,2.885
                                    C4.435,36.896,2,31.221,2,25C2,12.318,12.318,2,25,2c12.683,0,23,10.318,23,23C48,31.13,45.649,36.836,41.361,41.166z"
                                      fill="rgb(33,150,243)">
                                </path>
                            </svg>
                            </div>
                        </div>
                        <div style="height: 60%">
                            <div class="div-discover-simple-livestream-div-detail-content">
                                <div>Livestream video lên nhiều page, tường, nhóm cùng lúc.</div>
                                <div><span style="font-weight: 700;"><br></span></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>