.div-discover-simple-livestream-div-detail {
    transform: rotate(0deg);
    box-sizing: border-box; /* padding: 0px; *//* margin-left: 13px; *//* margin: 0px; */
    margin: 10px 5px 0 0;
    background: rgb(255, 255, 255);
    width: 200px;
    height: 161px;
    border: 1px solid rgb(199, 230, 255);
    border-radius: 5px;
    box-shadow: rgb(51, 51, 51) 0px 5px 5px -5px;
    pointer-events: all;
}


.div-discover-simple-livestream-div-detail-title {
    top: 20px;
    left: 42%;
    pointer-events: all;
    transform: rotate(0deg);
    position: absolute;
    text-align: center;
    width: 32px;
    height: 32px;
    opacity: 1;
    filter: none;
}

.div-discover-simple-livestream-div-detail-content {
    line-height: 1.4;
    transform: rotate(0deg);
    padding: 5px 0px 0 10px;
    overflow-wrap: break-word;
    color: rgb(0, 116, 241);
    font-family: Lato, sans-serif;
    width: 192px;
    height: 58px;
    overflow: hidden;
    user-select: none;
    text-align: center;
    font-size: 14px;
    letter-spacing: normal;
}

@media only screen and (max-width: 1149px) {


}

