#doc-and-book-software-functionality-tab {
    display: block;
    background-color: rgb(244, 247, 252);
    width: calc(100% - 200px);
    position: absolute;
    margin-top: 60px;
    height: 100%;
}

.menu-vertical-doc-and-book-child {
    background-color: #fff;
    position: fixed !important;
    z-index: 1;
    overflow-y: auto;;
    height: calc(100% - 60px);
    width: 200px;
    border-right: 1px solid #ccc;
}

.menu-vertical-doc-and-book-child::-webkit-scrollbar {
    width: 3px;
}

.menu-vertical-doc-and-book-child::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.menu-vertical-doc-and-book-child::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    /* border:1px solid #333333;*/
}

.menu-vertical-doc-and-book-child::-webkit-scrollbar-thumb:active {
    background-color: #ccc;
    /*   border:1px solid #333333;*/
}

.menu-vertical-doc-and-book-child::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}


/* vertical-menu */
.menu-vertical {
    margin-top: -5px;
    z-index: 22222;
    width: auto;
    height: calc(100vh - 120px);
}

.form {
    border-bottom: none;
}

ul.form {
    position: relative;
    background: #fff;
    width: auto;
    margin: auto;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.form li a {
    width: 200px;
    font-weight: bold;
    padding-left: 11px;
    height: 50px;
    line-height: 50px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    overflow-wrap: break-word;
    color: rgb(108, 116, 119);
    font-family: lato-light, sans-serif;
    letter-spacing: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form li a:hover {
    width: 200px;
    cursor: pointer;
    color: rgb(97, 97, 97);
    font-family: 'lato-bold', sans-serif;
    background: rgb(231, 243, 255);
}

.form i {
    margin-right: 5px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*Chọn mặt định */
.form li .active {
    width: 200px;
    font-family: 'lato-bold', sans-serif;
    font-weight: bold;
    background: rgb(231, 243, 255);
}

#doc-and-book,
#doc-and-book-simple-facebook,
#doc-and-book-simple-account,
#doc-and-book-simple-instagram,
#doc-and-book-simple-zalo,
#doc-and-book-autoviral-content,
#doc-and-book-crm-profile,
#doc-and-book-simple-tiktok,
#doc-and-book-atp-care,
#doc-and-book-auto-viral-content,
#doc-and-book-simple-ads,
#doc-and-book-simple-livestream,
#doc-and-book-simple-fanpage,
#doc-and-book-simple-uid,
#doc-and-book-simple-seeding,
#doc-and-book-simple-seeding-mobile {
    width: calc(100% - 240px);
    height: calc(100% - 10px);
    margin-left: 200px;
}

.doc-and-book-div-container-doc-and-book {

}

.doc-and-book-div-container-doc-and-book::-webkit-scrollbar {
    width: 3px;
}

.doc-and-book-div-container-doc-and-book::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.doc-and-book-div-container-doc-and-book::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    /* border:1px solid #333333;*/
}

.doc-and-book-div-container-doc-and-book::-webkit-scrollbar-thumb:active {
    background-color: #ccc;
    /*   border:1px solid #333333;*/
}

.doc-and-book-div-container-doc-and-book::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.doc-and-book-full-div-doc-and-book {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 5PX -3px 10px -6px;
    margin: 15px 0 -15px 0;
}

.doc-and-book-div-doc-and-book {
    margin: 15px 0px 15px 0;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(51, 51, 51) 5PX -3px 10px -6px;
}

.doc-and-book-div-doc-and-book-the-first {
    margin-top: 0;
}

.doc-and-book-div-doc-and-book-one {
    padding-left: 0;
    margin-bottom: 15px;
}

.doc-and-book-div-doc-and-book-two {
    padding-right: 0;
    margin-bottom: 15px;
}

.doc-and-book-full-content-title {
    overflow: hidden;
    padding: 10px 0 0 10px;
    text-decoration: none;
    background: rgb(0, 116, 241);
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.3;
    font-family: lato-regular, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 38px;
    border-radius: 10px 10px 0 0;
}

.doc-and-book-content-title {
    pointer-events: all;
    transform: rotate(0deg);
    overflow: hidden;
    padding: 10px 0 0 10px;
    text-decoration: none;
    background: #c7e6ff;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.3;
    font-family: lato-regular, sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(0, 116, 241);
    height: 38px;
    border-radius: 5px 5px 0 0;
}

.doc-and-book-full-content-content {
    line-height: 1.3;
    transform: rotate(0deg);
    padding: 5px 20px 10px 20px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: lato-regular, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
    pointer-events: all;
    overflow-y: auto;
    height: auto;
    max-height: calc(100vh - 130px);
}


.doc-and-book-full-content-content::-webkit-scrollbar {
    width: 3px;
}

.doc-and-book-full-content-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.doc-and-book-full-content-content::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
    /* border:1px solid #333333;*/
}

.doc-and-book-full-content-content::-webkit-scrollbar-thumb:active {
    background-color: #ccc;
    /*   border:1px solid #333333;*/
}

.doc-and-book-full-content-content::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    /* border:1px gray solid;*/
    /*-webkit-box-shadow:0 0 2px gray inset;*/
}

.doc-and-book-full-content-content-content {
    margin: 0
}

.doc-and-book-content-content {
    line-height: 1.3;
    transform: rotate(0deg);
    padding: 25px 30px 8px 30px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(51, 51, 51);
    font-family: lato-regular, sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
    letter-spacing: normal;
    pointer-events: all;
}

@media only screen and (max-width: 991px) {

    .doc-and-book-div-doc-and-book-one {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-bottom: 0 !important;
    }

    .doc-and-book-div-doc-and-book-two {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


/*----------------------------------------*/

.book {
    padding: 0
}

.book-background {
    min-width: 631px;
    transform: rotate(0deg);
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
    min-height: 75px;
}

.book-title {
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    height: 60px;
    min-width: 422px;
    border-radius: 0;
    box-shadow: none;
    pointer-events: all;
}

.img-pdf {
    -webkit-user-drag: none;
    opacity: 1;
    margin: 4px 0 0 1px;
    height: 50px;
    left: 0;
    top: 0;
    border-radius: 0;
    width: 55px;
    transform: scaleX(1);
}

.text-button-download-background {
    margin: 5px 0 0 0;
    text-align: center;
    cursor: pointer;
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0px;
    background: rgb(199, 230, 255);
    width: 68px;
    height: 30px;
    border: 0px solid rgb(0, 116, 241);
    border-radius: 5px;
    box-shadow: none;
    pointer-events: all;
}

.text-button-view-background {
    cursor: pointer;
    margin: 20px 0 0 0;
    text-align: center;
    transform: rotate(0deg);
    box-sizing: border-box;
    padding: 0px;
    background: rgb(0, 116, 241);
    width: 70px;
    height: 30px;
    border: 0px solid rgb(0, 116, 241);
    border-radius: 5px;
    box-shadow: none;
    pointer-events: all;
}

.text-button-download, .text-button-view {
    line-height: 1.5;
    transform: rotate(0deg);
    padding: 5px;
    margin: 0;
    overflow-wrap: break-word;


    overflow: hidden;
    user-select: none;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    font-size: 10px;
    letter-spacing: normal;
    pointer-events: all;
}

.text-button-view {
    color: rgb(255, 255, 255);
}

.text-button-download {
    color: rgb(0, 116, 241);
}

.title-documents {
    line-height: 1;
    transform: rotate(0deg);
    padding: 5px;
    margin: 0;
    overflow-wrap: break-word;
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", sans-serif;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    letter-spacing: normal;
    pointer-events: all;
}

.title-dash {
    width: 60px;
    padding: 0;
    height: 3px;
    margin-bottom: 6px;
    background: rgb(0, 116, 241);
}

.video-doc {
    min-width: 631px;
    height: calc(100vh - 225px);
    overflow: auto;
}

.video-doc::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgb(244, 247, 252);
}

.video-doc::-webkit-scrollbar-thumb {
    background-color: rgb(189, 189, 189, 0.4);
}

.video-doc::-webkit-scrollbar-thumb:hover {
    background-color: rgb(189, 189, 189, 1);
}

.video-doc::-webkit-scrollbar-thumb:active {
    background-color: rgb(189, 189, 189, 1);
}

.video-doc::-webkit-scrollbar-track {

}


.label-youtube {
    margin: 8px 32px 0px 20px;
    font-size: 15px;
}



