<app-menu-horizontal-doc-and-book [isOpenDocAndBookMenu]="isOpenDocAndBookMenu"></app-menu-horizontal-doc-and-book>

<div id="doc-and-book-software-functionality-tab">
    <div class="doc-and-book-sidebar menu-vertical-doc-and-book-child">
        <div class="menu-vertical">
            <ul class="form nav nav-tabs">
                <li>
                    <a href="#doc-and-book-simple-facebook" data-toggle="tab" (click)="clickSimpleFacebook()">
                        Simple Facebook
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-account" data-toggle="tab" (click)="clickSimpleAccount()">
                        Simple Account
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-zalo" data-toggle="tab" (click)="clickSimpleZalo()">
                        Simple Zalo
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-seeding-mobile" data-toggle="tab" (click)="clickSimpleSeedingMobile()">
                        Simple Seeding Mobile
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-seeding" data-toggle="tab" (click)="clickSimpleSeeding()">
                        Simple Seeding
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-instagram" data-toggle="tab" (click)="clickSimpleInstagram()">
                        Simple Instagram
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-uid" data-toggle="tab" (click)="clickSimpleUID()">
                        Simple UID
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-auto-viral-content" data-toggle="tab" (click)="clickAutoViralContent()">
                        Auto Viral Content
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-ads" data-toggle="tab" (click)="clickSimpleAds()">
                        Simple Ads
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-crm-profile" data-toggle="tab" (click)="clickCRMProFile()">
                        CRM ProFile
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-atp-care" data-toggle="tab" (click)="clickATPCare()">
                        ATP Care
                    </a>
                </li>

                <li>
                    <a href="#doc-and-book-simple-livestream" data-toggle="tab" (click)="clickSimpleLivestream()">
                        Simple Livestream
                    </a>
                </li>

<!--                <li>-->
<!--                    <a href="#doc-and-book-simple-fanpage" data-toggle="tab" (click)="clickSimpleFanpage()">-->
<!--                        Simple Fanpage-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
    <div class="tab-content" style="height: calc(100% - 50px);">

        <div class="page-content tab-pane fade" id="doc-and-book-simple-facebook">
            <div *ngIf="IS_SIMPLE_FACEBOOK" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-facebook></app-book-simple-facebook>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-facebook></app-documents-simple-facebook>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-account">
            <div *ngIf="IS_SIMPLE_ACCOUNT" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-account></app-documents-simple-account>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-zalo">
            <div *ngIf="IS_SIMPLE_ZALO" [ngSwitch]="typeChooseDocumentAndBooks">
                <div  *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-zalo></app-documents-simple-zalo>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-seeding-mobile">
            <div *ngIf="IS_SIMPLE_SEEDING_MOBILE" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-seeding-mobile></app-documents-simple-seeding-mobile>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-seeding">
            <div *ngIf="IS_SIMPLE_SEEDING" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-seeding></app-documents-simple-seeding>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-instagram">
            <div *ngIf="IS_SIMPLE_INSTAGRAM" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-instagram></app-documents-simple-instagram>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-uid">
            <div *ngIf="IS_SIMPLE_UID" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-uid></app-documents-simple-uid>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-auto-viral-content">
            <div *ngIf="IS_AUTOVIRAL_CONTENT" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-auto-viral-content></app-documents-auto-viral-content>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-ads">
            <div *ngIf="IS_SIMPLE_ADS" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-ads></app-documents-simple-ads>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-crm-profile">
            <div *ngIf="IS_CRM_PROFILE" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-crm-profile></app-documents-crm-profile>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-atp-care">
            <div *ngIf="IS_ATP_CARE" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-atp-care></app-documents-atp-care>
                </div>
            </div>
        </div>

        <div class="page-content tab-pane fade" id="doc-and-book-simple-livestream">
            <div *ngIf="IS_SIMPLE_LIVESTREAM" [ngSwitch]="typeChooseDocumentAndBooks">
                <div *ngSwitchCase="BOOK">
                    <app-book-simple-account></app-book-simple-account>
                </div>
                <div *ngSwitchCase="DOCUMENTS">
                    <app-documents-simple-livestream></app-documents-simple-livestream>
                </div>
            </div>
        </div>

<!--        <div class="page-content tab-pane fade" id="doc-and-book-simple-fanpage">-->
<!--            <div *ngIf="IS_SIMPLE_FANPAGE" [ngSwitch]="typeChooseDocumentAndBooks">-->
<!--                <div *ngSwitchCase="BOOK">-->
<!--                    <app-book-simple-account></app-book-simple-account>-->
<!--                </div>-->
<!--                <div *ngSwitchCase="DOCUMENTS">-->
<!--                    <app-documents-simple-fanpage></app-documents-simple-fanpage>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

