<div class="error" *ngIf="!isLegit; else notIslegit">
	<h4>Đây là khóa học trả phí từ ATP Academy, vui lòng liên hệ với chúng tôi để được xem khóa này : <a style="color: blue;
    text-decoration: underline;
    cursor: pointer;" (click)="clickAtpAcademy('https://atpacademy.vn/')">https://atpacademy.vn</a></h4> 
	<br/>
	<h5>Cảm ơn bạn đã quan tâm đến khóa học này.</h5>
</div>

<ng-template #notIslegit>
	<div class="wrapper">
		<div class="videoWrapper">
			<iframe width="853" height="480" 
			[src]="urlSafe"
			frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
			allowfullscreen>
			</iframe>
		</div>
		<div class="content">
			<h3 style="font-weight: bold;">{{linkSend.title}}</h3>
		</div>
	</div>
</ng-template>


	