<div class="wrapper">
  <div class="videoWrapper">
   <iframe width="853" height="480" 
    [src]="urlSafe"
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe> 
  </div>
  <div class="content">
    <h3 style="font-weight: bold;">{{linkSend.title}}</h3>
  </div>
</div>
