<div id="outer-div-menu-horizontal">
    <div *ngIf="isOpenDocAndBookMenu">
        <ul class="menu-horizontal nav mb-3 justify-content-center" role="tablist">
            <li style="margin-right: 22px;">
                <a (click)="clickDOC()" class="active" data-toggle="pill" href="#" role="tab"
                   aria-selected="true">Tài Liệu Hướng Dẫn</a>
            </li>
            <!--<li style="margin-right: 22px;">
                <a (click)="clickBOOK()" data-toggle="pill" href="#" role="tab">Ebook Tổng Hợp</a>
            </li>-->
        </ul>
    </div>

</div>