#outer-div-menu-horizontal {
    width: 100%;
    background: rgb(255, 255, 255);
    border-bottom: 0.1px solid #ccc;
    min-width: 480px;
    height: 60px;
    position: fixed;
    z-index: 99;
}

.menu-horizontal {
    width: calc(100% - 240px);
}

.menu-horizontal li a {
    margin-top: 18px;
    padding: 5px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    font-size: 14px;
    overflow-wrap: break-word;
    color: rgb(201, 231, 255);
    font-family: lato-light, sans-serif;
    letter-spacing: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.menu-horizontal li a:hover {
    color: rgb(0, 131, 241, 0.5) !important;
    border-bottom: 3px solid rgb(0, 116, 241, 0.5) !important;
}

.menu-horizontal li a.active {
    font-family: Lato, sans-serif;
    color: rgb(0, 116, 241);
    border-bottom: 3px solid rgb(0, 116, 241);
}

.menu-horizontal li a.active:hover {
    font-family: Lato, sans-serif;
    color: rgb(0, 116, 241) !important;
    border-bottom: 3px solid rgb(0, 116, 241) !important;
}

#DOC , #BOOK {
    display: block;
    background-color: rgb(244, 247, 252);
    width: calc(100% - 240px);
    position: absolute;
    margin-top: 60px;
    height: 100%;
}
