/** Setting font **/
@font-face {
    font-family: 'WorkSans-Regular';
    src: url("assets/FONT/WorkSans-Regular.ttf");
}

@font-face {
    font-family: 'WorkSans-Bold';
    src: url("assets/FONT/WorkSans-Bold.ttf");
}

@font-face {
    font-family: 'lato-bold';
    src: url('assets/FONT/lato-bold.ttf');
}

@font-face {
    font-family: 'lato-regular';
    src: url('assets/FONT/lato-regular.ttf');
}

@font-face {
    font-family: 'lato-light';
    src: url('assets/FONT/lato-light.ttf');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('assets/FONT/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Arimo-Regular';
    src: url('assets/FONT/Arimo-Regular.ttf');
}

.nav-item .nav-link .active {
    color: rgb(0, 116, 241) !important;
    border-bottom: 3px solid rgb(0, 116, 241) !important;
    padding: 16px !important;
}
