<div class="discover-div-container-discover">
    <div class="col-md-12 col-lg-12" style="MIN-WIDTH: 400PX;">
        <div class="discover-full-div-discover">
            <div class="discover-background-content">
                <div class="discover-full-content-title">
                    <span>LỢI&nbsp;THẾ&nbsp;CẠNH&nbsp;TRANH&nbsp;KHI&nbsp;SỬ&nbsp;DỤNG&nbsp;SIMPLE&nbsp;ADS</span>
                </div>
                <div class="row col-md-12 col-lg-12 discover-full-content-content">

                    <div class="col-lg-6 discover-div-discover-one">
                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Target&nbsp;Tương&nbsp;Tác&nbsp;Profile</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Bài viết quảng cáo của bạn sẽ nhắm đến những người thường xuyên tương tác trên một: Fanpage, Group hay Trang cá nhân nào đó mà bạn muốn.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Target Thành Viên Một Nhóm</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Bài viết quảng cáo của bạn sẽ nhắm đến FULL thành viên của một nhóm bất kỳ mà bạn muốn.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Target Danh Sách Bạn Bè</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Bài viết quảng cáo của bạn sẽ nhắm đến danh sách bạn bè hay danh sách FOLLOW của bất kỳ ai.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 discover-div-discover-two">

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Target Tương Tác Bài Viết</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Bài viết quảng cáo của bạn sẽ nhắm đến tất cả những ai: Like, Comment hay Share một bài viết bất kỳ .
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Target Tương Tác Bài Viết</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Bài viết quảng cáo của bạn sẽ nhắm đến những người đã từng LIKE một Fanpage, từng Checkin một Fanpage nào đó mà bạn muốn.</p>
                                </div>
                            </div>
                        </div>

                        <div class="discover-div-discover">
                            <div class="discover-background-content">
                                <div class="discover-content-title">
                                    <span>Target Theo Người Like Fanpage</span>
                                </div>
                                <div class="discover-content-content">
                                    <p>Bài viết quảng cáo của bạn sẽ nhắm đến những người đã từng LIKE một Fanpage, từng Checkin một Fanpage nào đó mà bạn muốn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
