<nav class="navbar navbar-light bg-light" *ngIf="tabPlay" style="padding: 0">
	<form class="form-inline">
		<div class="bk-btn" (click)="backCourse()">
			<div class="bk-btn-triangle"></div>
			<div class="bk-btn-bar"></div>
		</div>
		<h5 style="padding-top: 6px; font-size: 18px;" [innerHTML]="title"></h5>
	</form>
</nav>
	<div class="tab-pane fade" id="PLAY-COURSE-VIDEO" role="tabpanel" aria-labelledby="play-course">
		<app-play-course-videos *ngIf="tabPlay" [selectedCourse]="selectedCourse"></app-play-course-videos>
	</div>
	<div class="card-wrapper" *ngIf="!tabPlay">
	<div class="card card-course" *ngFor="let course of freeCourse">
		<img
		class="card-img-top"
		src="{{ course.imageCourse }}"
		alt="Card image cap"
		/>
		<div class="card-body">
		<h6 class="card-title" [innerHTML]="course.nameCourse"></h6>
		<div style="text-align: center;">
			<a
			data-toggle="pill"
			href="#PLAY-COURSE-VIDEO"
			class="btn btn-primary"
			role="tab"
			aria-controls="pills-contact"
			aria-selected="false"
			(click)="openPlayTab(course.nameCourse, course)"
			>XEM NGAY</a>
		</div>
		</div>
	</div>
</div>
